[class*="container-color"] {
  max-width: 640px;
}
.block-bar {
  display: flex !important;
}
.box-generic {
  max-width: 195px;
  padding: 15px 20px;
}
.box-generic img {
  max-width: 50px;
  max-height: 50px;
}
header {
  background-position: 17%;
}
header .container-color {
  max-width: 100%;
  padding-right: 50px;
  padding-left: 60px;
}
.title-text {
  padding-top: 30px;
  padding-bottom: 15px;
}
.title-text .container-color {
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 15px;
}
.title-text .title {
  max-width: 90%;
}
.title-text .content {
  max-width: 90%;
  justify-content: center;
  padding-top: unset;
}
.title-text .description {
  width: 100%;
  line-height: 20px;
}
.text-absolute-image {
  padding-top: 25px;
  padding-bottom: 15px;
}
.text-absolute-image .absolute-image {
  display: none;
}
.text-absolute-image .content {
  max-width: 100%;
  text-align: center;
}
.text-absolute-image h2 {
  max-width: 500px;
  margin: 0 auto;
}
.text-absolute-image h2 + * {
  margin-top: 10px;
}
.text-absolute-image .description {
  line-height: 20px;
}
.text-absolute-image .bt {
  margin: 0 auto;
}
.text-absolute-image .description + * {
  margin-top: 20px;
}
.text-absolute-image.right .content {
  padding: 40px 50px 30px;
}
.text-absolute-image.left .content {
  padding: 40px 50px 30px;
}
.contato {
  padding-top: 40px;
  padding-bottom: 40px;
}
.contato .container-color {
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.contato h2 {
  text-align: center;
}
.contato h2 + * {
  margin-top: 0;
}
.contato .links {
  display: none;
}
.contato input {
  padding: 8px 15px 6px;
  height: 45px;
}
#banner-home .owl-carousel .owl-stage-outer {
  height: 720px;
}
#banner-home .owl-carousel .item {
  height: 600px;
}
#banner-home .owl-carousel .item .container-color {
  padding-top: 120px;
}
#banner-home .owl-carousel .item .container-color h1 {
  margin-left: 110px;
}
#banner-home .owl-carousel .item .container-color .barra-absolute {
  left: 180px;
  max-width: 345px;
  height: 82px;
  top: 180px;
}
#banner-home .owl-carousel .item .container-color.box {
  bottom: -120px;
}
#banner-home .owl-carousel .owl-dots {
  bottom: 165px;
}
#tintas {
  padding: 15px 0 20px;
}
#tintas .box-tintas {
  margin: 0 auto;
}
#teste {
  padding: 20px 0;
}
#teste .title {
  height: 230px;
  padding-top: 30px;
}
#teste .title .icon-absolute-left {
  left: 8.73vw;
  max-width: 130px;
  bottom: 60px;
}
#teste .title .icon-absolute-top {
  top: -40px;
  max-width: 95px;
}
#teste .image {
  margin-top: -80px;
}
#teste .container-color {
  max-width: 630px;
}
#teste .content {
  padding: 20px 25px;
  margin-top: -50px;
  max-width: 470px;
}
#teste .content .description {
  line-height: 19px;
  font-size: 12px;
}
#teste .content .description + * {
  margin-top: 12px;
}
#teste .content .bt {
  max-width: 175px;
  height: 29px;
  font-size: 12px;
}
#dicas {
  padding: 20px 0;
}
#dicas h2 + * {
  margin-top: 10px;
}
#dicas .description {
  line-height: 20px;
}
#contato-home {
  margin-top: 25px;
}
#banner-sobre {
  padding-top: 130px;
  padding-bottom: 30px;
  background-position: 10% -155px;
  background-size: cover;
}
#banner-sobre .title + * {
  margin-top: 80px;
}
#banner-sobre .title {
  padding-top: 15px;
  max-width: 495px;
  margin: 0 auto;
}
#banner-sobre .title .barra-absolute {
  height: 80px;
  top: 72px;
  left: -10px;
  max-width: 345px;
}
#banner-sobre .container-color {
  max-width: 95%;
}
#banner-sobre .text {
  max-width: 100%;
}
#banner-sobre .text h1 {
  font-size: 45px;
}
#banner-sobre .text span {
  font-size: 85px;
}
#banner-sobre .text .description {
  font-size: 17px;
  line-height: 25px;
}
#banner-sobre .image {
  height: 405px;
}
#banner-sobre .description {
  max-width: 495px;
  margin-bottom: 30px;
}
#historia {
  padding: 25px 0;
}
#historia .container-color {
  gap: 40px;
  max-width: 90%;
}
#historia .image {
  height: auto;
}
#historia .image img {
  height: 100%;
  object-position: 20%;
}
#historia h2 + * {
  margin-top: 13px;
}
#historia .text {
  padding-top: 20px;
}
#sustentabilidade {
  padding-bottom: 40px;
}
#missao {
  flex-direction: column;
}
#missao h2 + * {
  margin-top: 5px !important;
}
#missao p {
  line-height: 21px !important;
}
#missao .text-missao {
  max-width: 100%;
  padding: 25px 0;
}
#missao .text-missao .container-color {
  max-width: 80%;
}
#missao .content {
  max-width: 100%;
}
#missao .text {
  max-width: 100%;
  padding: 30px 0 !important;
}
#missao .text .container-color {
  max-width: 80%;
  margin: 0 auto;
}
#produtos-sobre {
  padding: 50px 0;
}
#produtos-sobre a {
  max-width: 370px;
}
