[class*="container-color"] {
  max-width: 850px;
}
.block-bar {
  display: flex !important;
}
.box-generic img {
  max-width: 50px;
  max-height: 50px;
}
.imagem-produto {
  top: 30px;
  left: 50px;
  max-width: 216px;
}
.box-menu.aparecer {
  display: flex !important;
  flex-direction: row-reverse;
}
.box-produto {
  max-width: 100%;
  padding: 40px 0 34px;
}
.box-produto .container-box {
  max-width: 285px;
}
.box-produto .title h4 {
  font-size: 23px;
}
.box-produto .title + * {
  margin-top: 47px;
}
.box-produto .informacoes h4 {
  font-size: 16px;
}
.box-produto .informacoes h4 + * {
  margin-top: 13px;
}
.box-produto .box-informacoes {
  padding: 9px 0 8px 20px;
}
.bg {
  height: 125px;
}
.paginacao {
  margin-top: 30px;
  gap: 10px;
}
.paginacao li {
  max-width: 39px;
  height: 39px;
}
.box-catalogo h3 {
  max-width: 240px;
}
.bt-filtro {
  padding: 8px 10px 6px;
  max-width: 140px;
}
.bt-filtro.full {
  max-width: 170px;
}
.bt-ordenar {
  padding: 8px 10px 6px;
  max-width: 200px;
}
header {
  background-position: 17%;
}
header .container-color {
  max-width: 100%;
  padding-right: 50px;
  padding-left: 60px;
}
footer {
  padding-top: 35px;
}
footer .container-color {
  max-width: 90%;
}
footer .logo .color {
  max-width: 150px;
}
footer .logo a + * {
  margin-top: 8px;
}
footer .logo .ecotex {
  max-width: 85px;
}
footer .links,
footer .links.svg {
  gap: 0;
  max-width: 120px;
}
footer .links a,
footer .links.svg a {
  font-size: 12px;
  line-height: 27px;
}
footer .links:nth-child(3) {
  display: none;
}
footer .links,
footer .logo,
footer .redes {
  padding-top: 5px;
}
footer .links.svg {
  padding-top: unset;
}
footer .links.svg svg {
  max-width: 14px;
  max-height: 14px;
}
footer .redes .link-redes svg {
  max-width: 17px;
}
footer .container-color + * {
  margin-top: 37px;
}
footer .barra-footer .box-left a + * {
  margin-left: 3.43vw;
}
footer .barra-footer .logo-codie {
  max-width: 54px;
}
.title-text {
  padding-top: 30px;
  padding-bottom: 15px;
}
.title-text .container-color {
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 15px;
}
.title-text .title {
  max-width: 90%;
}
.title-text .content {
  max-width: 90%;
  justify-content: center;
  padding-top: unset;
}
.title-text .description {
  width: 100%;
  line-height: 20px;
}
.text-absolute-image {
  padding-top: 25px;
  padding-bottom: 15px;
}
.text-absolute-image .absolute-image {
  display: none;
}
.text-absolute-image .content {
  max-width: 100%;
  text-align: center;
}
.text-absolute-image h2 {
  max-width: 500px;
  margin: 0 auto;
}
.text-absolute-image h2 + * {
  margin-top: 10px;
}
.text-absolute-image .description {
  line-height: 20px;
}
.text-absolute-image .bt {
  margin: 0 auto;
}
.text-absolute-image .description + * {
  margin-top: 20px;
}
.text-absolute-image.right .content {
  padding: 40px 50px 30px;
}
.text-absolute-image.left .content {
  padding: 40px 50px 30px;
}
.contato {
  padding-top: 40px;
  padding-bottom: 40px;
}
.contato .container-color {
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.contato h2 {
  text-align: center;
}
.contato h2 + * {
  margin-top: 0;
}
.contato .links {
  display: none;
}
.contato input {
  padding: 8px 15px 6px;
  height: 45px;
}
#banner-home .owl-carousel .owl-stage-outer {
  height: 720px;
}
#banner-home .owl-carousel .item {
  height: 600px;
}
#banner-home .owl-carousel .item .container-color {
  padding-top: 120px;
}
#banner-home .owl-carousel .item .container-color h1 {
  margin-left: 110px;
}
#banner-home .owl-carousel .item .container-color .barra-absolute {
  left: 180px;
  max-width: 345px;
  height: 82px;
  top: 180px;
}
#banner-home .owl-carousel .item .container-color.box {
  bottom: -120px;
}
#banner-home .owl-carousel .owl-dots {
  bottom: 165px;
}
#sobre .title br {
  display: block;
}
#tintas {
  padding: 15px 0 20px;
}
#tintas .box-tintas {
  margin: 0 auto;
}
#teste {
  padding: 20px 0;
}
#teste .title {
  height: 230px;
  padding-top: 30px;
}
#teste .title .icon-absolute-left {
  left: 8.73vw;
  max-width: 130px;
  bottom: 60px;
}
#teste .title .icon-absolute-top {
  top: -40px;
  max-width: 95px;
}
#teste .image {
  margin-top: -80px;
}
#teste .container-color {
  max-width: 630px;
}
#teste .content {
  padding: 20px 25px;
  margin-top: -50px;
  max-width: 470px;
}
#teste .content .description {
  line-height: 19px;
  font-size: 12px;
}
#teste .content .description + * {
  margin-top: 12px;
}
#teste .content .bt {
  max-width: 175px;
  height: 29px;
  font-size: 12px;
}
#dicas {
  padding: 20px 0;
}
#dicas h2 + * {
  margin-top: 10px;
}
#dicas .description {
  line-height: 20px;
}
#contato-home {
  margin-top: 25px;
}
#banner-sobre {
  padding-top: 130px;
  padding-bottom: 30px;
  background-position: 10% -155px;
  background-size: cover;
}
#banner-sobre .title + * {
  margin-top: 80px;
}
#banner-sobre .title {
  padding-top: 15px;
  max-width: 495px;
  margin: 0 auto;
}
#banner-sobre .title .barra-absolute {
  height: 80px;
  top: 72px;
  left: -10px;
  max-width: 345px;
}
#banner-sobre .container-color {
  max-width: 95%;
}
#banner-sobre .text {
  max-width: 100%;
}
#banner-sobre .text h1 {
  font-size: 45px;
}
#banner-sobre .text span {
  font-size: 85px;
}
#banner-sobre .text .description {
  font-size: 17px;
  line-height: 25px;
}
#banner-sobre .image {
  height: 405px;
}
#banner-sobre .description {
  max-width: 495px;
  margin-bottom: 30px;
}
#historia {
  padding: 25px 0;
}
#historia .container-color {
  gap: 40px;
  max-width: 90%;
}
#historia .image {
  height: auto;
}
#historia .image img {
  height: 100%;
  object-position: 20%;
}
#historia h2 + * {
  margin-top: 13px;
}
#historia .text {
  padding-top: 20px;
}
#sustentabilidade {
  padding-bottom: 40px;
}
#missao {
  flex-direction: column;
}
#missao h2 + * {
  margin-top: 5px !important;
}
#missao p {
  line-height: 21px !important;
}
#missao .text-missao {
  max-width: 100%;
  padding: 25px 0;
}
#missao .text-missao .container-color {
  max-width: 80%;
}
#missao .content {
  max-width: 100%;
}
#missao .text {
  max-width: 100%;
  padding: 30px 0 !important;
}
#missao .text .container-color {
  max-width: 80%;
  margin: 0 auto;
}
#produtos-sobre {
  padding: 50px 0;
}
#produtos-sobre a {
  max-width: 370px;
}
#produto-infomacoes {
  padding: 115px 0 20px;
}
#produto-infomacoes .container-color {
  max-width: 90%;
}
.container-produto {
  gap: 25px;
}
.container-produto [class*='paragrafo-2'] {
  font-size: 14px;
}
.container-produto .title h2 {
  line-height: 25px;
  font-size: 23px;
}
.container-produto .title h3 {
  font-size: 14px;
}
.container-produto .title + * {
  margin-top: 15px;
}
.container-produto .content {
  max-width: 300px;
  justify-content: flex-start;
}
.container-produto .image {
  max-width: 550px;
}
.container-produto .box-informacao-produto {
  max-width: 100%;
  padding: 11px 10px 10px;
}
.container-produto .box-informacao-produto + .box-informacao-produto {
  margin-top: 8px;
}
.container-produto .box-informacao-produto + .description {
  margin-top: 8px;
}
.container-produto .informacoes + * {
  margin-top: 25px;
}
.container-produto .actions {
  gap: 8px;
}
.container-produto .bt {
  height: 37px;
}
#descricao {
  padding: 20px 0;
}
#descricao .container-color {
  max-width: 90%;
}
#descricao .box-title {
  max-width: 220px;
  padding: 11px 10px 9px;
}
#descricao .content {
  padding: 25px;
}
#descricao .share {
  gap: 14px;
}
#descricao .share svg {
  max-width: 17px;
}
#descricao .share .midias {
  gap: 11px;
}
#relacionados {
  padding: 20px 0 40px;
}
#relacionados h2 + * {
  margin-top: 15px;
}
#relacionados .relacionados-sumir {
  display: none;
}
#relacionados .relacionados-aparecer {
  display: block;
}
#banner-produtos {
  height: 370px;
}
#produtos-content {
  padding: 25px 0 50px;
}
#produtos-content .filter {
  flex-wrap: wrap;
  row-gap: 15px;
}
#produtos-content .filter .box-left {
  gap: 25px;
}
#produtos-content .filter + * {
  margin-top: 30px;
}
#grid-produtos .imagem-produto {
  left: 50%;
  transform: translate(-50%, 0);
  max-width: 120px;
  top: 22%;
  z-index: 10;
}
#grid-produtos .box-produto {
  padding: 15px 0 20px;
}
#grid-produtos .box-produto .container-box {
  max-width: 100%;
  padding: 0 15px;
  text-align: center;
}
#grid-produtos .box-produto .title h4 {
  font-size: 19px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
#grid-produtos .box-produto .title + * {
  margin-top: 160px;
}
#grid-produtos .box-produto .informacoes h4 {
  font-size: 13px;
}
#grid-produtos .box-produto .informacoes h4 + * {
  margin-top: 10px;
}
#grid-produtos .box-produto .box-informacoes {
  padding: 5px;
}
#grid-produtos .bg {
  height: 100px;
}
#catalogo {
  padding: 115px 0 50px;
}
#catalogo h1 + * {
  margin-top: 25px;
}
#catalogo .filter + * {
  margin-top: 18px;
}
#catalogo .grid-catalogo {
  grid-template-columns: repeat(2, 1fr);
}
#blog {
  padding: 110px 0 6.25vw;
}
#blog .container-color {
  flex-direction: column;
}
#blog .posts,
#blog .side-bar {
  width: 100%;
  max-width: 100%;
}
#blog .side-bar .side-box .popular-post .title-date {
  max-width: 100%;
}
#title-simulador h1 + * {
  margin-top: 5px;
}
#title-simulador + * {
  margin-top: 15px;
}
#grid-simulador {
  padding-bottom: 50px;
}
#grid-simulador .box-simulador {
  padding: 15px 15px 12px;
}
#grid-simulador .box-simulador img + * {
  margin-top: 8px;
}
#title-simulador-interno {
  padding-top: 105px;
}
#title-simulador-interno + * {
  margin-top: 15px;
}
#imagemAbsoluta + * {
  margin-top: 15px;
}
#simulador-content {
  padding-bottom: 45px;
}
.informacoes,
#tabs {
  max-width: 300px;
}
#tabs {
  padding: 10px;
  gap: 10px;
}
.paleta-cores {
  max-width: calc(100% - 335px);
}
.ball-color {
  width: 38px;
  height: 38px;
}
#corSelecionada {
  gap: 5px;
}
#corSelecionada .bt {
  height: 40px;
}
.ball-color.selecionada {
  height: 90px;
}
#banner-text {
  padding-top: 100px;
}
#banner-text .title + * {
  margin-top: 0;
}
#banner-text h3 {
  max-width: 400px;
}
#banner-text .search {
  max-width: 275px;
  height: 39px;
}
#banner-text .search input {
  padding: 13px 15px 12px 20px;
}
#banner-text .search button {
  padding: 0 15px 0 0;
}
#banner-text .search button svg {
  max-width: 20px;
}
#colors.simples {
  padding-bottom: 60px;
}
#colors.simples .container-color {
  max-width: 950px;
}
#page-cores .informacoes {
  max-width: 315px;
}
#page-cores #corSelecionada .ball-color.selecionada {
  height: 320px;
}
#page-cores .tab-content .tab-content--container {
  gap: 10px;
}
#page-cores #tabs + * {
  margin-top: 29px;
}
#page-cores .paleta-cores .ball-color {
  width: 45px;
  height: 45px;
}
