//COMPONENTES
[class*="container-color"] {
    max-width: 640px;
}

.block-bar {
    display: flex !important;
}

.box-generic {
    max-width: 195px;
    padding: 15px 20px;

    img {
        max-width: 50px;
        max-height: 50px;
    }
}

//SECTIONS
header {
    background-position: 17%;

    .container-color {
        max-width: 100%;
        padding-right: 50px;
        padding-left: 60px;
    }
}

.title-text {
    padding-top: 30px;
    padding-bottom: 15px;

    .container-color {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 15px;
    }

    .title {
        max-width: 90%;
    }

    .content {
        max-width: 90%;
        justify-content: center;
        padding-top: unset;
    }

    .description {
        width: 100%;
        line-height: 20px;
    }
}

.text-absolute-image {
    padding-top: 25px;
    padding-bottom: 15px;

    .absolute-image {
        display: none;
    }

    .content {
        max-width: 100%;
        text-align: center;
    }

    h2 {
        max-width: 500px;
        margin: 0 auto;
    }

    h2+* {
        margin-top: 10px;
    }

    .description {
        line-height: 20px;
    }

    .bt {
        margin: 0 auto;
    }

    .description+* {
        margin-top: 20px;
    }
}

.text-absolute-image.right {
    .content {
        padding: 40px 50px 30px;
    }
}

.contato {
    padding-top: 40px;
    padding-bottom: 40px;

    .container-color {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    h2 {
        text-align: center;
    }

    h2+* {
        margin-top: 0;
    }

    .links {
        display: none;
    }

    input {
        padding: 8px 15px 6px;
        height: 45px;
    }

}


//PAGE HOME
#banner-home {
    .owl-carousel {
        .owl-stage-outer {
            height: 720px;
        }

        .item {
            height: 600px;

            .container-color {
                padding-top: 120px;

                h1 {
                    margin-left: 110px;
                }

                .barra-absolute {
                    left: 180px;
                    max-width: 345px;
                    height: 82px;
                    top: 180px;
                }
            }

            .container-color.box {
                bottom: -120px;
            }
        }

        .owl-dots {
            bottom: 165px;
        }
    }
}

#tintas {
    padding: 15px 0 20px;

    .box-tintas {
        margin: 0 auto;
    }


}

#teste {
    padding: 20px 0;

    .title {
        height: 230px;
        padding-top: 30px;

        .icon-absolute-left {
            left: 8.73vw;
            max-width: 130px;
            bottom: 60px;
        }

        .icon-absolute-top {
            top: -40px;
            max-width: 95px;
        }
    }

    .image {
        margin-top: -80px;
    }

    .container-color {
        max-width: 630px;
    }

    .content {
        padding: 20px 25px;
        margin-top: -50px;
        max-width: 470px;

        .description {
            line-height: 19px;
            font-size: 12px;
        }

        .description+* {
            margin-top: 12px;
        }

        .bt {
            max-width: 175px;
            height: 29px;
            font-size: 12px;
        }
    }
}

#dicas {
    padding: 20px 0;

    h2+* {
        margin-top: 10px;
    }

    .description {
        line-height: 20px;
    }
}

#contato-home {
    margin-top: 25px;
}