//COMPONENTES
[class*="container-color"] {
    max-width: 850px;
}

.block-bar {
    display: flex !important;
}

.box-generic {
    img {
        max-width: 50px;
        max-height: 50px;
    }
}

.imagem-produto {
    top: 30px;
    left: 50px;
    max-width: 216px;
}

.box-produto {
    max-width: 100%;
    padding: 40px 0 34px;

    .container-box {
        max-width: 285px;
    }

    .title {
        h4 {
            font-size: 23px;
        }
    }

    .title+* {
        margin-top: 47px;
    }

    .informacoes {
        h4 {
            font-size: 16px;
        }

        h4+* {
            margin-top: 13px;
        }
    }

    .box-informacoes {
        padding: 9px 0 8px 20px;
    }
}

.bg {
    height: 125px;
}

.paginacao {
    margin-top: 30px;
    gap: 10px;

    li {
        max-width: 39px;
        height: 39px;
    }
}

.box-catalogo {
    h3 {
        max-width: 240px;
    }
}

//FILTROS COMPONENTES
.bt-filtro {
    padding: 8px 10px 6px;
    max-width: 140px;
}

.bt-filtro.full {
    max-width: 170px;
}

.bt-ordenar {
    padding: 8px 10px 6px;
    max-width: 200px;
}


//SECTIONS
header {
    background-position: 17%;

    .container-color {
        max-width: 100%;
        padding-right: 50px;
        padding-left: 60px;
    }
}

footer {
    padding-top: 35px;

    .container-color {
        max-width: 90%;
    }

    .logo {
        .color {
            max-width: 150px;
        }

        a+* {
            margin-top: 8px;
        }

        .ecotex {
            max-width: 85px;
        }
    }

    .links,
    .links.svg {
        gap: 0;
        max-width: 120px;

        a {
            font-size: 12px;
            line-height: 27px;
        }
    }

    .links:nth-child(3) {
        display: none;
    }

    .links,
    .logo,
    .redes {
        padding-top: 5px;
    }

    .links.svg {
        padding-top: unset;

        svg {
            max-width: 14px;
            max-height: 14px;
        }
    }

    .redes {
        .link-redes {
            svg {
                max-width: 17px;
            }
        }
    }

    .container-color+* {
        margin-top: 37px;
    }

    .barra-footer {
        .box-left {
            a+* {
                margin-left: 3.43vw;
            }
        }

        .logo-codie {
            max-width: 54px;
        }
    }
}

.title-text {
    padding-top: 30px;
    padding-bottom: 15px;

    .container-color {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 15px;
    }

    .title {
        max-width: 90%;
    }

    .content {
        max-width: 90%;
        justify-content: center;
        padding-top: unset;
    }

    .description {
        width: 100%;
        line-height: 20px;
    }
}

.text-absolute-image {
    padding-top: 25px;
    padding-bottom: 15px;

    .absolute-image {
        display: none;
    }

    .content {
        max-width: 100%;
        text-align: center;
    }

    h2 {
        max-width: 500px;
        margin: 0 auto;
    }

    h2+* {
        margin-top: 10px;
    }

    .description {
        line-height: 20px;
    }

    .bt {
        margin: 0 auto;
    }

    .description+* {
        margin-top: 20px;
    }
}

.text-absolute-image.right {
    .content {
        padding: 40px 50px 30px;
    }
}

.text-absolute-image.left {
    .content {
        padding: 40px 50px 30px;
    }
}

.contato {
    padding-top: 40px;
    padding-bottom: 40px;

    .container-color {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    h2 {
        text-align: center;
    }

    h2+* {
        margin-top: 0;
    }

    .links {
        display: none;
    }

    input {
        padding: 8px 15px 6px;
        height: 45px;
    }

}

//PAGE HOME
#banner-home {
    .owl-carousel {
        .owl-stage-outer {
            height: 720px;
        }

        .item {
            height: 600px;

            .container-color {
                padding-top: 120px;

                h1 {
                    margin-left: 110px;
                }

                .barra-absolute {
                    left: 180px;
                    max-width: 345px;
                    height: 82px;
                    top: 180px;
                }
            }

            .container-color.box {
                bottom: -120px;
            }
        }

        .owl-dots {
            bottom: 165px;
        }
    }
}

#sobre {
    .title {
        br {
            display: block;
        }
    }
}

#tintas {
    padding: 15px 0 20px;

    .box-tintas {
        margin: 0 auto;
    }
}

#teste {
    padding: 20px 0;

    .title {
        height: 230px;
        padding-top: 30px;

        .icon-absolute-left {
            left: 8.73vw;
            max-width: 130px;
            bottom: 60px;
        }

        .icon-absolute-top {
            top: -40px;
            max-width: 95px;
        }
    }

    .image {
        margin-top: -80px;
    }

    .container-color {
        max-width: 630px;
    }

    .content {
        padding: 20px 25px;
        margin-top: -50px;
        max-width: 470px;

        .description {
            line-height: 19px;
            font-size: 12px;
        }

        .description+* {
            margin-top: 12px;
        }

        .bt {
            max-width: 175px;
            height: 29px;
            font-size: 12px;
        }
    }
}

#dicas {
    padding: 20px 0;

    h2+* {
        margin-top: 10px;
    }

    .description {
        line-height: 20px;
    }
}

#contato-home {
    margin-top: 25px;
}

//PAGE SOBRE
#banner-sobre {
    padding-top: 130px;
    padding-bottom: 30px;
    background-position: 10% -155px;
    background-size: cover;

    .title+* {
        margin-top: 80px;
    }

    .title {
        padding-top: 15px;
        max-width: 495px;
        margin: 0 auto;

        .barra-absolute {
            height: 80px;
            top: 72px;
            left: -10px;
            max-width: 345px;
        }
    }

    .container-color {
        max-width: 95%;
    }

    .text {
        max-width: 100%;

        h1 {
            font-size: 45px;
        }

        span {
            font-size: 85px;
        }

        .description {
            font-size: 17px;
            line-height: 25px;
        }
    }

    .image {
        height: 405px;
    }

    .description {
        max-width: 495px;
        margin-bottom: 30px;
    }
}

#historia {
    padding: 25px 0;

    .container-color {
        gap: 40px;
        max-width: 90%;
    }

    .image {
        height: auto;

        img {
            height: 100%;
            object-position: 20%;
        }
    }

    h2+* {
        margin-top: 13px;
    }

    .text {
        padding-top: 20px;
    }
}

#sustentabilidade {
    padding-bottom: 40px;
}

#missao {
    flex-direction: column;

    h2+* {
        margin-top: 5px !important;
    }

    p {
        line-height: 21px !important;
    }

    .text-missao {
        max-width: 100%;
        padding: 25px 0;

        .container-color {
            max-width: 80%;
        }
    }

    .content {
        max-width: 100%;
    }

    .text {
        max-width: 100%;
        padding: 30px 0 !important;

        .container-color {
            max-width: 80%;
            margin: 0 auto;
        }
    }
}

#produtos-sobre {
    padding: 50px 0;

    a {
        max-width: 370px;
    }
}

//PAGE PRODUTO
#produto-infomacoes {
    padding: 115px 0 20px;

    .container-color {
        max-width: 90%;
    }
}

.container-produto {
    gap: 25px;

    [class*='paragrafo-2'] {
        font-size: 14px;
    }

    .title {
        h2 {
            line-height: 25px;
            font-size: 23px;
        }

        h3 {
            font-size: 14px;
        }
    }

    .title+* {
        margin-top: 15px;
    }

    .content {
        max-width: 260px;
    }

    .box-informacao-produto {
        max-width: 100%;
        padding: 11px 10px 10px;
    }

    .box-informacao-produto+.box-informacao-produto {
        margin-top: 8px;
    }

    .box-informacao-produto+.description {
        margin-top: 8px;
    }

    .informacoes+* {
        margin-top: 25px;
    }

    .actions {
        gap: 8px;
    }

    .bt {
        height: 37px;
    }
}

#descricao {
    padding: 20px 0;

    .container-color {
        max-width: 90%;
    }

    .box-title {
        max-width: 220px;
        padding: 11px 10px 9px;
    }

    .content {
        padding: 25px;
    }

    .share {
        gap: 14px;

        svg {
            max-width: 17px;
        }

        .midias {
            gap: 11px;
        }
    }
}

#relacionados {
    padding: 20px 0 40px;

    h2+* {
        margin-top: 15px;
    }

    .relacionados-sumir {
        display: none;
    }

    .relacionados-aparecer {
        display: block;
    }
}

//PAGE PRODUTOS
#banner-produtos {
    height: 370px;
}

#produtos-content {
    padding: 25px 0 50px;

    .filter {
        flex-wrap: wrap;
        row-gap: 15px;

        .box-left {
            gap: 25px;
        }
    }

    .filter+* {
        margin-top: 30px;
    }
}

#grid-produtos {
    .imagem-produto {
        left: 50%;
        transform: translate(-50%, 0);
        max-width: 120px;
        top: 22%;
        z-index: 10;
    }

    .box-produto {
        padding: 15px 0 20px;

        .container-box {
            max-width: 100%;
            padding: 0 15px;
            text-align: center;
        }

        .title {
            h4 {
                font-size: 19px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }
        }

        .title+* {
            margin-top: 160px;
        }

        .informacoes {
            h4 {
                font-size: 13px;
            }

            h4+* {
                margin-top: 10px;
            }
        }

        .box-informacoes {
            padding: 5px;
        }
    }

    .bg {
        height: 100px;
    }
}

//PAGE CATALOGO 
#catalogo {
    padding: 115px 0 50px;

    h1+* {
        margin-top: 25px;
    }

    .filter+* {
        margin-top: 18px;
    }


    .grid-catalogo {
        grid-template-columns: repeat(2, 1fr);
    }
}

//PAGE BLOG 
#blog {
    padding: 110px 0 6.25vw;

    .container-color {
        flex-direction: column;
    }

    .posts,
    .side-bar {
        width: 100%;
        max-width: 100%;
    }

    .side-bar {
        .side-box {
            .popular-post {
                .title-date {
                    max-width: 100%;
                }
            }
        }
    }
}

//PAGE SIMULADOR GRID
#title-simulador {
    h1+* {
        margin-top: 5px;
    }
}

#title-simulador+* {
    margin-top: 15px;
}

#grid-simulador {
    padding-bottom: 50px;

    .box-simulador {
        padding: 15px 15px 12px;

        img+* {
            margin-top: 8px;
        }
    }
}

//PAGE SIMULADOR INTERNO 
#title-simulador-interno {
    padding-top: 105px;
}

#title-simulador-interno+* {
    margin-top: 15px;
}

#imagemAbsoluta+* {
    margin-top: 15px;
}

#simulador-content {
    padding-bottom: 45px;
}

.informacoes,
#tabs {
    max-width: 300px;
}

#tabs {
    padding: 10px;
    gap: 10px;
}

.paleta-cores {
    max-width: calc(100% - 335px);
}

.ball-color {
    width: 38px;
    height: 38px;
}

#corSelecionada {
    gap: 5px;

    .bt {
        height: 40px;
    }
}

.ball-color.selecionada {
    height: 90px;
}