//COMPONENTES
[class*="container-color"] {
    max-width: 940px;
}

.bt {
    max-width: 185px;
    height: 45px;
}

.box-generic {
    img {
        max-width: 55px;
        max-height: 55px;
    }
}

.imagem-produto {
    left: 27px;
    max-width: 150px;
    top: 36px;
}

.box-produto {
    padding: 30px 0 20px;

    .container-box {
        max-width: 240px;
    }

    .title+* {
        margin-top: 35px;
    }

    .informacoes {
        h4+* {
            margin-top: 10px;
        }
    }

    .box-informacoes {
        padding: 8px 0 7px 18px;
    }
}

.bg {
    height: 100px;
}

.bt-tag {
    width: 130px;
    max-height: 35px;
}


//FILTROS COMPONENTES
.bt-filtro {
    padding: 10px 15px 8px;
    max-width: 155px;
}

.bt-filtro.full {
    max-width: 185px;
}

.bt-ordenar {
    padding: 10px 15px 8px;
    max-width: 220px;
}

//SECTIONS
header {
    background-position: 38%;

    .logo {
        max-width: 225px;
        height: 42px;
    }

    nav {
        margin-top: 0;

        a+* {
            margin-left: 20px;
        }
    }

    .container-color {
        padding: 20px 15px;
    }
}

footer {
    padding-top: 40px;

    .logo {
        .color {
            max-width: 180px;
        }

        a+* {
            margin-top: 10px;
        }

        .ecotex {
            max-width: 95px;
        }
    }

    .links,
    .links.svg {
        gap: 12px;
        max-width: 155px;
    }

    .links {
        padding-top: 5px;
    }

    .links.svg {
        padding-top: unset;

        svg {
            max-width: 18px;
            max-height: 18px;
        }
    }

    .redes {
        .link-redes {
            svg {
                max-width: 19px;
            }
        }
    }

    .container-color+* {
        margin-top: 45px;
    }

    .barra-footer {
        .box-left {
            a+* {
                margin-left: 3.43vw;
            }
        }

        .logo-codie {
            max-width: 59px;
        }
    }

}

.title-text {
    padding-top: 35px;
    padding-bottom: 20px;

    h3+* {
        margin-top: 0;
    }
}

.text-absolute-image {
    padding-top: 35px;
    padding-bottom: 25px;

    .absolute-image {
        max-width: 357px;
    }

    .content {
        max-width: 600px;
        padding: 40px 0;
    }

    h2+* {
        margin-top: 15px;
    }

    .description {
        line-height: 21px;
    }

    .description+* {
        margin-top: 25px;
    }
}

.text-absolute-image.right {
    .content {
        padding-left: 80px;
    }
}

.contato {
    padding-top: 50px;
    padding-bottom: 40px;

    input {
        padding: 15px 15px 12px 20px;
    }

    h2+* {
        margin-top: 32px;
    }

    .links {
        a {
            margin-top: 5px;
        }
    }

    .links+* {
        margin-top: 10px;
    }

    label+* {
        margin-top: 3px;
    }

    input+* {
        margin-top: 15px;
    }

    form {
        max-width: 560px;
    }

    .bt {
        max-width: 290px;
    }
}

//PAGE HOME
#banner-home {
    .owl-carousel {
        .owl-stage-outer {
            height: 765px;
        }

        .item {
            height: 615px;

            [class*='titulo-1'] {
                font-size: 75px;
            }

            [class*='titulo-2'] {
                font-size: 45px;
            }

            .container-color {
                padding-top: 120px;

                h1 {
                    margin: 0 auto;
                    text-align: center;

                    span {
                        height: 73px;
                    }
                }
            }
        }

        .owl-dots {
            bottom: 185px;
        }
    }
}

#tintas {
    padding: 20px 0 30px;

    .content {
        max-width: 145px;
        padding: 13px 0 9px;
    }
}

#teste {
    padding: 30px 0;

    .title {
        height: 280px;
        padding-top: 40px;

        .icon-absolute-left {
            left: 105px;
            max-width: 150px;
        }

        .icon-absolute-top {
            top: -45px;
            max-width: 115px;
        }
    }

    .image {
        margin-top: -110px;
    }

    .container-color {
        max-width: 780px;
    }

    .content {
        padding: 25px 20px;
        margin-top: -55px;

        .description {
            line-height: 20px;
            font-size: 13px;
        }

        .description+* {
            margin-top: 15px;
        }

        .bt {
            max-width: 185px;
            height: 33px;
            font-size: 13px;
        }
    }
}

#dicas {
    padding: 25px 0;

    h2+* {
        margin-top: 15px;
    }

    .description {
        line-height: 21px;
    }

    .box-dicas {
        padding: 18px 18px 25px;
        max-width: 375px;
        margin: 0 auto;

        .image+* {
            margin-top: 10px;
        }

        h4+* {
            margin-top: 6px;
        }

        h3+* {
            margin-top: 10px;
        }

        .description+* {
            margin-top: 20px;
        }
    }

    .box-sumir {
        display: none;
    }

    .box-aparecer {
        display: block;
    }

    h3 {
        height: 65px;
    }

    .box-dicas {
        .description {
            height: 80px;
        }
    }

    .owl-carousel {
        max-width: 800px;
        margin: 0 auto;
        margin-top: 25px;
    }
}

#contato-home {
    margin-top: 35px;
}

//PAGE SOBRE
#banner-sobre {
    padding-top: 130px;
    padding-bottom: 30px;
    background-position: 10% -4vw;

    .title+* {
        margin-top: 80px;
    }

    .title {
        .barra-absolute {
            height: 80px;
            top: 92px;
            left: -10px;
        }
    }

    .text {
        max-width: 33.33vw;

        h1 {
            font-size: 45px;
        }

        span {
            font-size: 85px;
        }

        .description {
            font-size: 17px;
            line-height: 27px;
        }
    }

    .image {
        height: 455px;
    }

    .description {
        margin-bottom: 40px;
    }

    .scroll {
        svg {
            max-width: 20px;
        }
    }
}

#historia {
    padding: 30px 0 35px;

    .container-color {
        gap: 60px;
    }

    .image {
        height: 410px;
        max-width: 430px;
    }

    .absolute-right {
        top: -30px;
    }

    h2+* {
        margin-top: 20px;
    }

    .text {
        padding-top: 25px;
        max-width: 420px;
    }
}

#produtos-sobre {
    padding: 60px 0;

    a {
        max-width: 385px;
    }
}

//PAGE PRODUTO
#produto-infomacoes {
    padding: 125px 0 25px;
}

.container-produto {
    gap: 40px;

    [class*='paragrafo-2'] {
        font-size: 16px;
    }

    .title {
        h2 {
            line-height: 36px;
            font-size: 34px;
        }
    }

    .title+* {
        margin-top: 20px;
    }

    .content {
        max-width: 400px;
    }

    .image {
        height: auto;

        img {
            height: 100%;
            object-fit: cover;
        }
    }

    .box-informacao-produto {
        max-width: 100%;
        padding: 13px 10px 12px;
    }

    .box-informacao-produto+.box-informacao-produto {
        margin-top: 15px;
    }

    .informacoes+* {
        margin-top: 25px;
    }

    .actions {
        gap: 15px;
    }
}

#descricao {
    padding: 25px 0;

    .box-title {
        max-width: 245px;
        padding: 13px 10px 11px;
    }

    .content {
        padding: 30px 60px 35px 35px;
    }

    .share {
        gap: 17px;

        svg {
            max-width: 20px;
        }

        .midias {
            gap: 14px;
        }
    }
}

#relacionados {
    padding: 25px 0 65px;

    h2+* {
        margin-top: 29px;
    }
}

//PAGE PRODUTOS

#produtos-content {
    padding: 35px 0 60px;

    .filter {
        .box-left {
            gap: 18px;
        }
    }

    .filter+* {
        margin-top: 45px;
    }
}

//PAGE CATALOGO 
#catalogo {
    padding: 115px 0 60px;

    h1+* {
        margin-top: 35px;
    }

    .filter+* {
        margin-top: 27px;
    }


    .grid-catalogo {
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
    }
}

//PAGE CONTATO
#contato {
    padding-top: 120px;
}

//PAGE BLOG
#blog {
    padding: 125px 0 6.25vw;

    .image {
        img {
            height: 235px;
        }
    }

    .post-title {
        h3 {
            font-size: 33px;
            line-height: 36px;
        }
    }

    .author {

        span,
        .date {
            font-size: 12px;
        }

        .author-info {
            .author-picture {
                width: 25px;
                height: 25px;
            }
        }
    }

    .author+* {
        margin-top: 9px;
    }

    .post-title+* {
        margin-top: 11px;
    }

    .text-preview {
        p {
            line-height: 22px;
        }
    }

    [class*='link-1'] {
        font-size: 15px;
    }

    .share {
        .midias {
            max-width: 115px;

            svg {
                max-width: 19px;
                max-height: 19px;
            }
        }

        .leia-mais {
            svg {
                max-width: 7px;
            }
        }
    }

    .paginacao {
        li {
            max-width: 38px;
            max-height: 38px;
        }
    }

    .side-box.tags {
        .bt-transp {
            font-size: 10px;
            padding: 7px 13px 8px;
        }
    }

    .side-bar {
        .side-box {
            h4+* {
                margin-top: 20px;
            }
        }
    }

    .popular-post {

        h5,
        span {
            font-size: 12px;
        }
    }
}

//PAGE POST 
#blog.post {
    padding-top: 12px;

    .top-post {
        .container-color {
            gap: 12px;
        }

        h2 {
            max-width: 820px;
        }
    }

    .text-preview {

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-weight: 700;
            font-size: 17px;
            line-height: 30px;
        }

        p {
            line-height: 20px;
            font-size: 14px;
        }

        p+h3 {
            margin-top: 13px;
        }

        p+ul {
            margin-top: 5px;
        }

        ul {
            list-style: disc !important;
            margin-left: 15px;
            line-height: 20px;
            font-size: 14px;
        }
    }

    .side-box.tags.bottom {
        .bt-transp {
            padding: 8px 11px 8px;
        }
    }

    .side-box.tags {
        padding: 20px;
    }
}

//PAGE SIMULADOR GRID
#title-simulador {
    padding-top: 110px;

    h1+* {
        margin-top: 15px;
    }
}

#title-simulador+* {
    margin-top: 20px;
}

#grid-simulador {
    padding-bottom: 60px;

    .container-color {
        gap: 15px;
        row-gap: 20px;
    }

    .box-simulador {
        padding: 18px;
    }
}

//PAGE SIMULADOR INTERNO 
#title-simulador-interno {
    padding-top: 115px;
}

#imagemAbsoluta+* {
    margin-top: 20px;
}

#objetoSelecionado+* {
    margin-top: 5px;
}

#simulador-content {
    padding-bottom: 55px;
}

.informacoes,
#tabs {
    max-width: 350px;
}

.informacoes {
    .content+* {
        margin-top: 15px;
    }
}

.paleta-cores {
    max-width: calc(100% - 385px);
}

.ball-color {
    width: 40px;
    height: 40px;
}

.tab-content {
    margin-top: 10px;
}

.ball-color.selecionada {
    height: 115px;
}

//PAGE CORES 
#banner-text {
    padding-top: 110px;

    .title+* {
        margin-top: 5px;
    }

    .search {
        max-width: 330px;
        height: 43px;

        input {
            padding: 15px 15px 14px 20px;
        }

        button {
            svg {
                max-width: 24px;
            }
        }
    }
}

#banner-text+* {
    margin-top: 24px;
}

#colors.simples {
    padding-bottom: 70px;

    .container-color {
        max-width: 990px;
    }
}

#page-cores {
    .informacoes {
        max-width: 405px;
    }

    #corSelecionada {
        .ball-color.selecionada {
            height: 405px;
        }
    }

    .tab-content {
        .tab-content--container {
            gap: 13px;
        }
    }

    #tabs+* {
        margin-top: 34px;
    }

    .paleta-cores {
        .ball-color {
            width: 55px;
            height: 55px;
        }
    }
}