[class*="container-color"] {
  max-width: 940px;
}
.bt {
  max-width: 185px;
  height: 45px;
}
.box-generic img {
  max-width: 55px;
  max-height: 55px;
}
.imagem-produto {
  left: 27px;
  max-width: 150px;
  top: 36px;
}
.box-produto {
  padding: 30px 0 20px;
}
.box-produto .container-box {
  max-width: 240px;
}
.box-produto .title + * {
  margin-top: 35px;
}
.box-produto .informacoes h4 + * {
  margin-top: 10px;
}
.box-produto .box-informacoes {
  padding: 8px 0 7px 18px;
}
.bg {
  height: 100px;
}
.bt-tag {
  width: 130px;
  max-height: 35px;
}
.bt-filtro {
  padding: 10px 15px 8px;
  max-width: 155px;
}
.bt-filtro.full {
  max-width: 185px;
}
.bt-ordenar {
  padding: 10px 15px 8px;
  max-width: 220px;
}
header {
  background-position: 38%;
}
header .logo {
  max-width: 225px;
  height: 42px;
}
header nav {
  margin-top: 0;
}
header nav a + * {
  margin-left: 20px;
}
header .container-color {
  padding: 20px 15px;
}
footer {
  padding-top: 40px;
}
footer .logo .color {
  max-width: 180px;
}
footer .logo a + * {
  margin-top: 10px;
}
footer .logo .ecotex {
  max-width: 95px;
}
footer .links,
footer .links.svg {
  gap: 12px;
  max-width: 155px;
}
footer .links {
  padding-top: 5px;
}
footer .links.svg {
  padding-top: unset;
}
footer .links.svg svg {
  max-width: 18px;
  max-height: 18px;
}
footer .redes .link-redes svg {
  max-width: 19px;
}
footer .container-color + * {
  margin-top: 45px;
}
footer .barra-footer .box-left a + * {
  margin-left: 3.43vw;
}
footer .barra-footer .logo-codie {
  max-width: 59px;
}
.title-text {
  padding-top: 35px;
  padding-bottom: 20px;
}
.title-text h3 + * {
  margin-top: 0;
}
.text-absolute-image {
  padding-top: 35px;
  padding-bottom: 25px;
}
.text-absolute-image .absolute-image {
  max-width: 357px;
}
.text-absolute-image .content {
  max-width: 600px;
  padding: 40px 0;
}
.text-absolute-image h2 + * {
  margin-top: 15px;
}
.text-absolute-image .description {
  line-height: 21px;
}
.text-absolute-image .description + * {
  margin-top: 25px;
}
.text-absolute-image.right .content {
  padding-left: 80px;
}
.contato {
  padding-top: 50px;
  padding-bottom: 40px;
}
.contato input {
  padding: 15px 15px 12px 20px;
}
.contato h2 + * {
  margin-top: 32px;
}
.contato .links a {
  margin-top: 5px;
}
.contato .links + * {
  margin-top: 10px;
}
.contato label + * {
  margin-top: 3px;
}
.contato input + * {
  margin-top: 15px;
}
.contato form {
  max-width: 560px;
}
.contato .bt {
  max-width: 290px;
}
#banner-home .owl-carousel .owl-stage-outer {
  height: 765px;
}
#banner-home .owl-carousel .item {
  height: 615px;
}
#banner-home .owl-carousel .item [class*='titulo-1'] {
  font-size: 75px;
}
#banner-home .owl-carousel .item [class*='titulo-2'] {
  font-size: 45px;
}
#banner-home .owl-carousel .item .container-color {
  padding-top: 120px;
}
#banner-home .owl-carousel .item .container-color h1 {
  margin: 0 auto;
  text-align: center;
}
#banner-home .owl-carousel .item .container-color h1 span {
  height: 73px;
}
#banner-home .owl-carousel .owl-dots {
  bottom: 185px;
}
#tintas {
  padding: 20px 0 30px;
}
#tintas .content {
  max-width: 145px;
  padding: 13px 0 9px;
}
#teste {
  padding: 30px 0;
}
#teste .title {
  height: 280px;
  padding-top: 40px;
}
#teste .title .icon-absolute-left {
  left: 105px;
  max-width: 150px;
}
#teste .title .icon-absolute-top {
  top: -45px;
  max-width: 115px;
}
#teste .image {
  margin-top: -110px;
}
#teste .container-color {
  max-width: 780px;
}
#teste .content {
  padding: 25px 20px;
  margin-top: -55px;
}
#teste .content .description {
  line-height: 20px;
  font-size: 13px;
}
#teste .content .description + * {
  margin-top: 15px;
}
#teste .content .bt {
  max-width: 185px;
  height: 33px;
  font-size: 13px;
}
#dicas {
  padding: 25px 0;
}
#dicas h2 + * {
  margin-top: 15px;
}
#dicas .description {
  line-height: 21px;
}
#dicas .box-dicas {
  padding: 18px 18px 25px;
  max-width: 375px;
  margin: 0 auto;
}
#dicas .box-dicas .image + * {
  margin-top: 10px;
}
#dicas .box-dicas h4 + * {
  margin-top: 6px;
}
#dicas .box-dicas h3 + * {
  margin-top: 10px;
}
#dicas .box-dicas .description + * {
  margin-top: 20px;
}
#dicas .box-sumir {
  display: none;
}
#dicas .box-aparecer {
  display: block;
}
#dicas h3 {
  height: 65px;
}
#dicas .box-dicas .description {
  height: 80px;
}
#dicas .owl-carousel {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 25px;
}
#contato-home {
  margin-top: 35px;
}
#banner-sobre {
  padding-top: 130px;
  padding-bottom: 30px;
  background-position: 10% -4vw;
}
#banner-sobre .title + * {
  margin-top: 80px;
}
#banner-sobre .title .barra-absolute {
  height: 80px;
  top: 92px;
  left: -10px;
}
#banner-sobre .text {
  max-width: 33.33vw;
}
#banner-sobre .text h1 {
  font-size: 45px;
}
#banner-sobre .text span {
  font-size: 85px;
}
#banner-sobre .text .description {
  font-size: 17px;
  line-height: 27px;
}
#banner-sobre .image {
  height: 455px;
}
#banner-sobre .description {
  margin-bottom: 40px;
}
#banner-sobre .scroll svg {
  max-width: 20px;
}
#historia {
  padding: 30px 0 35px;
}
#historia .container-color {
  gap: 60px;
}
#historia .image {
  height: 410px;
  max-width: 430px;
}
#historia .absolute-right {
  top: -30px;
}
#historia h2 + * {
  margin-top: 20px;
}
#historia .text {
  padding-top: 25px;
  max-width: 420px;
}
#produtos-sobre {
  padding: 60px 0;
}
#produtos-sobre a {
  max-width: 385px;
}
#produto-infomacoes {
  padding: 125px 0 25px;
}
.container-produto {
  gap: 40px;
}
.container-produto [class*='paragrafo-2'] {
  font-size: 16px;
}
.container-produto .title h2 {
  line-height: 36px;
  font-size: 34px;
}
.container-produto .title + * {
  margin-top: 20px;
}
.container-produto .content {
  max-width: 400px;
}
.container-produto .image {
  height: auto;
}
.container-produto .image img {
  height: 100%;
  object-fit: cover;
}
.container-produto .box-informacao-produto {
  max-width: 100%;
  padding: 13px 10px 12px;
}
.container-produto .box-informacao-produto + .box-informacao-produto {
  margin-top: 15px;
}
.container-produto .informacoes + * {
  margin-top: 25px;
}
.container-produto .actions {
  gap: 15px;
}
#descricao {
  padding: 25px 0;
}
#descricao .box-title {
  max-width: 245px;
  padding: 13px 10px 11px;
}
#descricao .content {
  padding: 30px 60px 35px 35px;
}
#descricao .share {
  gap: 17px;
}
#descricao .share svg {
  max-width: 20px;
}
#descricao .share .midias {
  gap: 14px;
}
#relacionados {
  padding: 25px 0 65px;
}
#relacionados h2 + * {
  margin-top: 29px;
}
#produtos-content {
  padding: 35px 0 60px;
}
#produtos-content .filter .box-left {
  gap: 18px;
}
#produtos-content .filter + * {
  margin-top: 45px;
}
#catalogo {
  padding: 115px 0 60px;
}
#catalogo h1 + * {
  margin-top: 35px;
}
#catalogo .filter + * {
  margin-top: 27px;
}
#catalogo .grid-catalogo {
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
#contato {
  padding-top: 120px;
}
#blog {
  padding: 125px 0 6.25vw;
}
#blog .image img {
  height: 235px;
}
#blog .post-title h3 {
  font-size: 33px;
  line-height: 36px;
}
#blog .author span,
#blog .author .date {
  font-size: 12px;
}
#blog .author .author-info .author-picture {
  width: 25px;
  height: 25px;
}
#blog .author + * {
  margin-top: 9px;
}
#blog .post-title + * {
  margin-top: 11px;
}
#blog .text-preview p {
  line-height: 22px;
}
#blog [class*='link-1'] {
  font-size: 15px;
}
#blog .share .midias {
  max-width: 115px;
}
#blog .share .midias svg {
  max-width: 19px;
  max-height: 19px;
}
#blog .share .leia-mais svg {
  max-width: 7px;
}
#blog .paginacao li {
  max-width: 38px;
  max-height: 38px;
}
#blog .side-box.tags .bt-transp {
  font-size: 10px;
  padding: 7px 13px 8px;
}
#blog .side-bar .side-box h4 + * {
  margin-top: 20px;
}
#blog .popular-post h5,
#blog .popular-post span {
  font-size: 12px;
}
#blog.post {
  padding-top: 12px;
}
#blog.post .top-post .container-color {
  gap: 12px;
}
#blog.post .top-post h2 {
  max-width: 820px;
}
#blog.post .text-preview h1,
#blog.post .text-preview h2,
#blog.post .text-preview h3,
#blog.post .text-preview h4,
#blog.post .text-preview h5,
#blog.post .text-preview h6 {
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
}
#blog.post .text-preview p {
  line-height: 20px;
  font-size: 14px;
}
#blog.post .text-preview p + h3 {
  margin-top: 13px;
}
#blog.post .text-preview p + ul {
  margin-top: 5px;
}
#blog.post .text-preview ul {
  list-style: disc !important;
  margin-left: 15px;
  line-height: 20px;
  font-size: 14px;
}
#blog.post .side-box.tags.bottom .bt-transp {
  padding: 8px 11px 8px;
}
#blog.post .side-box.tags {
  padding: 20px;
}
#title-simulador {
  padding-top: 110px;
}
#title-simulador h1 + * {
  margin-top: 15px;
}
#title-simulador + * {
  margin-top: 20px;
}
#grid-simulador {
  padding-bottom: 60px;
}
#grid-simulador .container-color {
  gap: 15px;
  row-gap: 20px;
}
#grid-simulador .box-simulador {
  padding: 18px;
}
#title-simulador-interno {
  padding-top: 115px;
}
#imagemAbsoluta + * {
  margin-top: 20px;
}
#objetoSelecionado + * {
  margin-top: 5px;
}
#simulador-content {
  padding-bottom: 55px;
}
.informacoes,
#tabs {
  max-width: 350px;
}
.informacoes .content + * {
  margin-top: 15px;
}
.paleta-cores {
  max-width: calc(100% - 385px);
}
.ball-color {
  width: 40px;
  height: 40px;
}
.tab-content {
  margin-top: 10px;
}
.ball-color.selecionada {
  height: 115px;
}
#banner-text {
  padding-top: 110px;
}
#banner-text .title + * {
  margin-top: 5px;
}
#banner-text .search {
  max-width: 330px;
  height: 43px;
}
#banner-text .search input {
  padding: 15px 15px 14px 20px;
}
#banner-text .search button svg {
  max-width: 24px;
}
#banner-text + * {
  margin-top: 24px;
}
#colors.simples {
  padding-bottom: 70px;
}
#colors.simples .container-color {
  max-width: 990px;
}
#page-cores .informacoes {
  max-width: 405px;
}
#page-cores #corSelecionada .ball-color.selecionada {
  height: 405px;
}
#page-cores .tab-content .tab-content--container {
  gap: 13px;
}
#page-cores #tabs + * {
  margin-top: 34px;
}
#page-cores .paleta-cores .ball-color {
  width: 55px;
  height: 55px;
}
