#banner-sobre {
  padding-top: 160px;
  padding-bottom: 35px;
  background-position: 10% -1vw;
}
#banner-sobre .title + * {
  margin-top: 100px;
}
#banner-sobre .title .barra-absolute {
  height: 95px;
  top: 105px;
}
#banner-sobre .text {
  max-width: 400px;
}
#banner-sobre .text h1 {
  font-size: 50px;
}
#banner-sobre .text span {
  font-size: 100px;
}
#banner-sobre .text .description {
  font-size: 18px;
}
#banner-sobre .image {
  max-width: 100%;
  height: 500px;
}
#banner-sobre .description {
  margin-bottom: 50px;
}
