//COMPONENTES
[class*="container-color"] {
    max-width: 1080px;
}

.bt {
    max-width: 200px;
    height: 45px;
}

.bt.full {
    max-width: 330px;
}

.imagem-produto {
    left: 20px;
    max-width: 205px;
}

.box-produto {
    .container-box {
        max-width: 265px;
    }

    .title+* {
        margin-top: 47px;
    }

    .informacoes {
        h4+* {
            margin-top: 13px;
        }
    }

    .box-informacoes {
        padding: 9px 0 8px 20px;
    }
}

.bg {
    height: 130px;
}

.box-catalogo {
    padding: 25px 20px 25px;

    img {
        max-width: 50px;
    }

    h3 {
        margin-bottom: 12px !important;
    }

    img+* {
        margin-top: 20px;
    }
}

.bt-tag {
    width: 155px;
    max-height: 38px;
}

//FILTROS COMPONENTES
.bt-filtro {
    padding: 12px 20px 10px;
    max-width: 170px;
}

.bt-filtro.full {
    max-width: 200px;
}

.bt-ordenar {
    padding: 12px 20px 10px;
    max-width: 250px;
}

//SECTIONS
header {
    .logo {
        max-width: 225px;
    }

    a+nav {
        margin-left: 0;
    }

    nav {
        a+* {
            margin-left: 30px;
        }
    }
}

footer {
    padding-top: 45px;

    .logo {
        .color {
            max-width: 200px;
        }

        a+* {
            margin-top: 15px;
        }

        .ecotex {
            max-width: 110px;
        }
    }

    .links {
        gap: 17px;
    }

    .container-color+* {
        margin-top: 65px;
    }
}

.title-text {
    padding-top: 45px;
    padding-bottom: 25px;

    .container-color {
        justify-content: center;
        gap: 30px;
    }

    .title {
        max-width: 430px;
    }

    .content {
        max-width: 50%;
        margin-right: unset;
        display: flex;
        justify-content: flex-end;
    }

    .description {
        max-width: 460px;
        width: 100%;
    }
}

.text-absolute-image {
    padding-top: 45px;
    padding-bottom: 35px;

    .absolute-image {
        max-width: 390px;
    }

    .content {
        max-width: 735px;
        padding: 50px 0;
    }

    h2+* {
        margin-top: 20px;
    }

    .description+* {
        margin-top: 30px;
    }
}

.text-absolute-image.right {
    .content {
        padding-left: 110px;
        padding-right: 50px;
    }
}

.text-absolute-image.left {
    .content {
        padding-right: 110px;
        padding-left: 60px;
    }
}

.contato {
    padding-top: 65px;
    padding-bottom: 50px;

    input {
        padding: 16px 15px 14px 20px;
    }

    h2+* {
        margin-top: 37px;
    }

    .links+* {
        margin-top: 15px;
    }

    label+* {
        margin-top: 3px;
    }

    input+* {
        margin-top: 15px;
    }

    form {
        max-width: 560px;
    }

    .bt {
        max-width: 290px;
    }
}

//PAGE HOME
#banner-home {
    .owl-carousel {
        .owl-stage-outer {
            height: 880px;
        }

        .item {
            height: 740px;

            .container-color {
                h1 {
                    margin-left: 275px;
                }

                .barra-absolute {
                    left: 350px;
                }
            }
        }

        .owl-dots {
            bottom: 200px;
        }
    }
}

#tintas {
    padding: 25px 0 40px;

    .content {
        max-width: 175px;
        padding: 14px 0 11px;
    }
}

#teste {
    padding: 40px 0;

    .title {
        height: 320px;
        padding-top: 45px;

        .icon-absolute-left {
            bottom: 75px;
            left: 95px;
            max-width: 200px;
        }

        .icon-absolute-top {
            top: -65px;
            right: 0;
            max-width: 170px;
        }
    }

    .image {
        margin-top: -130px;
    }

    .container-color {
        max-width: 940px;
    }

    .content {
        padding: 30px 25px;
        margin-top: -65px;

        .description {
            line-height: 21px;
            font-size: 14px;
        }

        .description+* {
            margin-top: 17px;
        }

        .bt {
            max-width: 200px;
            height: 35px;
            font-size: 14px;
        }
    }
}

#dicas {
    padding: 35px 0;

    h2+* {
        margin-top: 20px;
    }

    .title+* {
        margin-top: 25px;
    }

    .box {
        gap: 25px;
    }

    .description {
        line-height: 22px;
    }

    .box-dicas {
        padding: 20px 20px 30px;

        .image+* {
            margin-top: 12px;
        }

        h4+* {
            margin-top: 7px;
        }

        h3+* {
            margin-top: 11px;
        }

        .description+* {
            margin-top: 22px;
        }
    }
}

#contato-home {
    margin-top: 40px;
}

//PAGE SOBRE
#banner-sobre {
    padding-top: 160px;
    padding-bottom: 35px;
    background-position: 10% -1vw;
    background-size: contain;

    .title+* {
        margin-top: 100px;
    }

    .text {
        max-width: 475px;
    }

    .image {
        max-width: 100%;
        height: 545px;

        img {
            object-position: left;
        }
    }

    .description {
        margin-bottom: 50px;
    }
}

#historia {
    padding: 35px 0 40px;

    .image {
        height: 439px;

        img {
            height: inherit;
        }
    }

    .absolute-right {
        top: -35px;
    }

    h2+* {
        margin-top: 30px;
    }

    .text {
        padding-top: 30px;
        max-width: 460px;
    }
}

#sustentabilidade {
    padding-bottom: 70px;

    .absolute-image {
        right: 50px;
        max-width: 365px;
    }
}

#missao {
    .text-missao {
        padding: 95px 0 0;

        .container-color {
            max-width: 365px;
            margin: 0 auto;
        }
    }

    .text {
        .container-color {
            max-width: 500px;
        }
    }

    .text.visao {
        padding: 45px 0;
    }

    .text.valores {
        padding: 60px 0 50px;
    }
}

#produtos-sobre {
    padding: 70px 0;

    a {
        max-width: 400px;
    }
}

//PAGE PRODUTO
#produto-infomacoes {
    padding: 140px 0 30px;
}

.container-produto {
    [class*='paragrafo-2'] {
        font-size: 17px;
    }

    .title {
        h3+* {
            margin-top: 5px;
        }

        h2 {
            line-height: 45px;
        }
    }

    .title+* {
        margin-top: 15px;
    }

    .content {
        max-width: 435px;
    }

    .image {
        height: auto;

        img {
            height: 100%;
            object-fit: cover;
        }
    }

    .box-informacao-produto {
        max-width: 100%;
        padding: 13px 10px 12px;
    }
}

#descricao {
    padding: 30px 0;

    .box-title {
        max-width: 265px;
        padding: 15px 10px 13px;
    }

    .content {
        padding: 40px 85px 45px 45px;
    }

    .share {
        gap: 20px;

        .midias {
            gap: 16px;
        }
    }
}

#relacionados {
    padding: 30px 0 75px;

    h2+* {
        margin-top: 29px;
    }
}

//PAGE PRODUTOS
#banner-produtos {
    height: 450px;
}

#produtos-content {
    padding-bottom: 80px;
}

//PAGE CATALOGO
#catalogo {
    padding: 130px 0 70px;

    h1+* {
        margin-top: 33px;
    }

    .filter+* {
        margin-top: 38px;
    }

    .grid-catalogo {
        gap: 25px;
    }
}

//PAGE CONTATO
#contato {
    padding-top: 150px;
}

//PAGE BLOG
#blog {
    padding: 145px 0 6.25vw;

    .post-title {
        h3 {
            font-size: 39px;
            line-height: 43px;
        }
    }

    .author+* {
        margin-top: 14px;
    }

    .post-title+* {
        margin-top: 15px;
    }

    .text-preview {
        p {
            line-height: 22px;
        }
    }

    [class*='link-1'] {
        font-size: 16px;
    }

    .share {
        .leia-mais {
            svg {
                max-width: 8px;
            }
        }
    }

    .paginacao {
        li {
            max-width: 40px;
            max-height: 40px;
        }
    }
}

//PAGE POST 
#banner-post {
    height: 320px;
}

#blog.post {
    padding-top: 15px;

    .top-post {
        .container-color {
            gap: 15px;
        }

        h2 {
            max-width: 880px;
        }
    }

    .text-preview {

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-weight: 700;
            font-size: 20px;
        }

        p {
            line-height: 22px;
            font-size: 15px;
        }

        p+h3 {
            margin-top: 13px;
        }

        p+ul {
            margin-top: 5px;
        }

        ul {
            list-style: disc !important;
            margin-left: 15px;
            line-height: 22px;
            font-size: 15px;
        }

        img {
            width: 100%;
            height: 16.88vw;
            min-height: 150px;
            margin: 20px 0;
            border-radius: 10px;
            overflow: hidden;
            object-fit: cover;
        }
    }

    .content-preview {
        h3 {
            line-height: 35px;
        }
    }

    .side-box.tags.bottom {
        .bt-transp {
            padding: 8px 11px 8px;
        }
    }

    .side-box.tags {
        padding: 30px;
    }
}

//PAGE SIMULADOR GRID
#title-simulador {
    padding-top: 130px;

    h1+* {
        margin-top: 15px;
    }
}

#title-simulador+* {
    margin-top: 35px;
}

#grid-simulador {
    padding-bottom: 75px;

    .box-simulador {
        padding: 20px;
    }
}