[class*="container-color"] {
  max-width: 1080px;
}
.bt {
  max-width: 200px;
  height: 45px;
}
.bt.full {
  max-width: 330px;
}
.box-generic {
  max-width: 340px;
  padding: 25px 30px;
}
.box-generic img {
  max-width: 65px;
  max-height: 65px;
}
header .logo {
  max-width: 225px;
}
header a + nav {
  margin-left: 0;
}
header nav a + * {
  margin-left: 30px;
}
.title-text {
  padding-top: 45px;
  padding-bottom: 25px;
}
.title-text .container-color {
  justify-content: center;
  gap: 30px;
}
.title-text .title {
  max-width: 430px;
}
.title-text .content {
  max-width: 50%;
  margin-right: unset;
  display: flex;
  justify-content: flex-end;
}
.title-text .description {
  max-width: 460px;
  width: 100%;
}
.text-absolute-image {
  padding-top: 45px;
  padding-bottom: 35px;
}
.text-absolute-image .absolute-image {
  max-width: 390px;
}
.text-absolute-image .content {
  max-width: 735px;
  padding: 50px 0;
}
.text-absolute-image h2 + * {
  margin-top: 20px;
}
.text-absolute-image .description + * {
  margin-top: 30px;
}
.text-absolute-image.right .content {
  padding-left: 110px;
}
.contato {
  padding-top: 65px;
  padding-bottom: 50px;
}
.contato input {
  padding: 16px 15px 14px 20px;
}
.contato h2 + * {
  margin-top: 37px;
}
.contato .links + * {
  margin-top: 15px;
}
.contato label + * {
  margin-top: 3px;
}
.contato input + * {
  margin-top: 15px;
}
.contato form {
  max-width: 560px;
}
.contato .bt {
  max-width: 290px;
}
#banner-home .owl-carousel .owl-stage-outer {
  height: 880px;
}
#banner-home .owl-carousel .item {
  height: 740px;
}
#banner-home .owl-carousel .item .container-color h1 {
  margin-left: 275px;
}
#banner-home .owl-carousel .item .container-color .barra-absolute {
  left: 350px;
}
#banner-home .owl-carousel .owl-dots {
  bottom: 200px;
}
#tintas {
  padding: 25px 0 40px;
}
#tintas .content {
  max-width: 175px;
  padding: 14px 0 11px;
}
#teste {
  padding: 40px 0;
}
#teste .title {
  height: 320px;
  padding-top: 45px;
}
#teste .title .icon-absolute-left {
  bottom: 75px;
  left: 95px;
  max-width: 200px;
}
#teste .title .icon-absolute-top {
  top: -65px;
  right: 0;
  max-width: 170px;
}
#teste .image {
  margin-top: -130px;
}
#teste .container-color {
  max-width: 940px;
}
#teste .content {
  padding: 30px 25px;
  margin-top: -65px;
}
#teste .content .description {
  line-height: 21px;
  font-size: 14px;
}
#teste .content .description + * {
  margin-top: 17px;
}
#teste .content .bt {
  max-width: 200px;
  height: 35px;
  font-size: 14px;
}
#dicas {
  padding: 35px 0;
}
#dicas h2 + * {
  margin-top: 20px;
}
#dicas .title + * {
  margin-top: 25px;
}
#dicas .box {
  gap: 25px;
}
#dicas .description {
  line-height: 22px;
}
#dicas .box-dicas {
  padding: 20px 20px 30px;
}
#dicas .box-dicas .image + * {
  margin-top: 12px;
}
#dicas .box-dicas h4 + * {
  margin-top: 7px;
}
#dicas .box-dicas h3 + * {
  margin-top: 11px;
}
#dicas .box-dicas .description + * {
  margin-top: 22px;
}
#contato-home {
  margin-top: 40px;
}
