//COMPONENTES
[class*="container-color"] {
    max-width: 1080px;
}

//SECTIONS
header {
    .logo {
        max-width: 225px;
    }

    a+nav {
        margin-left: 0;
    }

    nav {
        a+* {
            margin-left: 30px;
        }
    }
}

//PAGE HOME
