[class*="container-color"] {
  max-width: 1080px;
}
.bt {
  max-width: 200px;
  height: 45px;
}
.bt.full {
  max-width: 330px;
}
.imagem-produto {
  left: 20px;
  max-width: 205px;
}
.box-produto .container-box {
  max-width: 265px;
}
.box-produto .title + * {
  margin-top: 47px;
}
.box-produto .informacoes h4 + * {
  margin-top: 13px;
}
.box-produto .box-informacoes {
  padding: 9px 0 8px 20px;
}
.bg {
  height: 130px;
}
.box-catalogo {
  padding: 25px 20px 25px;
}
.box-catalogo img {
  max-width: 50px;
}
.box-catalogo h3 {
  margin-bottom: 12px !important;
}
.box-catalogo img + * {
  margin-top: 20px;
}
.bt-tag {
  width: 155px;
  max-height: 38px;
}
.bt-filtro {
  padding: 12px 20px 10px;
  max-width: 170px;
}
.bt-filtro.full {
  max-width: 200px;
}
.bt-ordenar {
  padding: 12px 20px 10px;
  max-width: 250px;
}
header .logo {
  max-width: 225px;
}
header a + nav {
  margin-left: 0;
}
header nav a + * {
  margin-left: 30px;
}
footer {
  padding-top: 45px;
}
footer .logo .color {
  max-width: 200px;
}
footer .logo a + * {
  margin-top: 15px;
}
footer .logo .ecotex {
  max-width: 110px;
}
footer .links {
  gap: 17px;
}
footer .container-color + * {
  margin-top: 65px;
}
.title-text {
  padding-top: 45px;
  padding-bottom: 25px;
}
.title-text .container-color {
  justify-content: center;
  gap: 30px;
}
.title-text .title {
  max-width: 430px;
}
.title-text .content {
  max-width: 50%;
  margin-right: unset;
  display: flex;
  justify-content: flex-end;
}
.title-text .description {
  max-width: 460px;
  width: 100%;
}
.text-absolute-image {
  padding-top: 45px;
  padding-bottom: 35px;
}
.text-absolute-image .absolute-image {
  max-width: 390px;
}
.text-absolute-image .content {
  max-width: 735px;
  padding: 50px 0;
}
.text-absolute-image h2 + * {
  margin-top: 20px;
}
.text-absolute-image .description + * {
  margin-top: 30px;
}
.text-absolute-image.right .content {
  padding-left: 110px;
  padding-right: 50px;
}
.text-absolute-image.left .content {
  padding-right: 110px;
  padding-left: 60px;
}
.contato {
  padding-top: 65px;
  padding-bottom: 50px;
}
.contato input {
  padding: 16px 15px 14px 20px;
}
.contato h2 + * {
  margin-top: 37px;
}
.contato .links + * {
  margin-top: 15px;
}
.contato label + * {
  margin-top: 3px;
}
.contato input + * {
  margin-top: 15px;
}
.contato form {
  max-width: 560px;
}
.contato .bt {
  max-width: 290px;
}
#banner-home .owl-carousel .owl-stage-outer {
  height: 880px;
}
#banner-home .owl-carousel .item {
  height: 740px;
}
#banner-home .owl-carousel .item .container-color h1 {
  margin-left: 275px;
}
#banner-home .owl-carousel .item .container-color .barra-absolute {
  left: 350px;
}
#banner-home .owl-carousel .owl-dots {
  bottom: 200px;
}
#tintas {
  padding: 25px 0 40px;
}
#tintas .content {
  max-width: 175px;
  padding: 14px 0 11px;
}
#teste {
  padding: 40px 0;
}
#teste .title {
  height: 320px;
  padding-top: 45px;
}
#teste .title .icon-absolute-left {
  bottom: 75px;
  left: 95px;
  max-width: 200px;
}
#teste .title .icon-absolute-top {
  top: -65px;
  right: 0;
  max-width: 170px;
}
#teste .image {
  margin-top: -130px;
}
#teste .container-color {
  max-width: 940px;
}
#teste .content {
  padding: 30px 25px;
  margin-top: -65px;
}
#teste .content .description {
  line-height: 21px;
  font-size: 14px;
}
#teste .content .description + * {
  margin-top: 17px;
}
#teste .content .bt {
  max-width: 200px;
  height: 35px;
  font-size: 14px;
}
#dicas {
  padding: 35px 0;
}
#dicas h2 + * {
  margin-top: 20px;
}
#dicas .title + * {
  margin-top: 25px;
}
#dicas .box {
  gap: 25px;
}
#dicas .description {
  line-height: 22px;
}
#dicas .box-dicas {
  padding: 20px 20px 30px;
}
#dicas .box-dicas .image + * {
  margin-top: 12px;
}
#dicas .box-dicas h4 + * {
  margin-top: 7px;
}
#dicas .box-dicas h3 + * {
  margin-top: 11px;
}
#dicas .box-dicas .description + * {
  margin-top: 22px;
}
#contato-home {
  margin-top: 40px;
}
#banner-sobre {
  padding-top: 160px;
  padding-bottom: 35px;
  background-position: 10% -1vw;
  background-size: contain;
}
#banner-sobre .title + * {
  margin-top: 100px;
}
#banner-sobre .text {
  max-width: 475px;
}
#banner-sobre .image {
  max-width: 100%;
  height: 545px;
}
#banner-sobre .image img {
  object-position: left;
}
#banner-sobre .description {
  margin-bottom: 50px;
}
#historia {
  padding: 35px 0 40px;
}
#historia .image {
  height: 439px;
}
#historia .image img {
  height: inherit;
}
#historia .absolute-right {
  top: -35px;
}
#historia h2 + * {
  margin-top: 30px;
}
#historia .text {
  padding-top: 30px;
  max-width: 460px;
}
#sustentabilidade {
  padding-bottom: 70px;
}
#sustentabilidade .absolute-image {
  right: 50px;
  max-width: 365px;
}
#missao .text-missao {
  padding: 95px 0 0;
}
#missao .text-missao .container-color {
  max-width: 365px;
  margin: 0 auto;
}
#missao .text .container-color {
  max-width: 500px;
}
#missao .text.visao {
  padding: 45px 0;
}
#missao .text.valores {
  padding: 60px 0 50px;
}
#produtos-sobre {
  padding: 70px 0;
}
#produtos-sobre a {
  max-width: 400px;
}
#produto-infomacoes {
  padding: 140px 0 30px;
}
.container-produto [class*='paragrafo-2'] {
  font-size: 17px;
}
.container-produto .title h3 + * {
  margin-top: 5px;
}
.container-produto .title h2 {
  line-height: 45px;
}
.container-produto .title + * {
  margin-top: 15px;
}
.container-produto .content {
  max-width: 435px;
}
.container-produto .image {
  height: auto;
}
.container-produto .image img {
  height: 100%;
  object-fit: cover;
}
.container-produto .box-informacao-produto {
  max-width: 100%;
  padding: 13px 10px 12px;
}
#descricao {
  padding: 30px 0;
}
#descricao .box-title {
  max-width: 265px;
  padding: 15px 10px 13px;
}
#descricao .content {
  padding: 40px 85px 45px 45px;
}
#descricao .share {
  gap: 20px;
}
#descricao .share .midias {
  gap: 16px;
}
#relacionados {
  padding: 30px 0 75px;
}
#relacionados h2 + * {
  margin-top: 29px;
}
#banner-produtos {
  height: 450px;
}
#produtos-content {
  padding-bottom: 80px;
}
#catalogo {
  padding: 130px 0 70px;
}
#catalogo h1 + * {
  margin-top: 33px;
}
#catalogo .filter + * {
  margin-top: 38px;
}
#catalogo .grid-catalogo {
  gap: 25px;
}
#contato {
  padding-top: 150px;
}
#blog {
  padding: 145px 0 6.25vw;
}
#blog .post-title h3 {
  font-size: 39px;
  line-height: 43px;
}
#blog .author + * {
  margin-top: 14px;
}
#blog .post-title + * {
  margin-top: 15px;
}
#blog .text-preview p {
  line-height: 22px;
}
#blog [class*='link-1'] {
  font-size: 16px;
}
#blog .share .leia-mais svg {
  max-width: 8px;
}
#blog .paginacao li {
  max-width: 40px;
  max-height: 40px;
}
#banner-post {
  height: 320px;
}
#blog.post {
  padding-top: 15px;
}
#blog.post .top-post .container-color {
  gap: 15px;
}
#blog.post .top-post h2 {
  max-width: 880px;
}
#blog.post .text-preview h1,
#blog.post .text-preview h2,
#blog.post .text-preview h3,
#blog.post .text-preview h4,
#blog.post .text-preview h5,
#blog.post .text-preview h6 {
  font-weight: 700;
  font-size: 20px;
}
#blog.post .text-preview p {
  line-height: 22px;
  font-size: 15px;
}
#blog.post .text-preview p + h3 {
  margin-top: 13px;
}
#blog.post .text-preview p + ul {
  margin-top: 5px;
}
#blog.post .text-preview ul {
  list-style: disc !important;
  margin-left: 15px;
  line-height: 22px;
  font-size: 15px;
}
#blog.post .text-preview img {
  width: 100%;
  height: 16.88vw;
  min-height: 150px;
  margin: 20px 0;
  border-radius: 10px;
  overflow: hidden;
  object-fit: cover;
}
#blog.post .content-preview h3 {
  line-height: 35px;
}
#blog.post .side-box.tags.bottom .bt-transp {
  padding: 8px 11px 8px;
}
#blog.post .side-box.tags {
  padding: 30px;
}
#title-simulador {
  padding-top: 130px;
}
#title-simulador h1 + * {
  margin-top: 15px;
}
#title-simulador + * {
  margin-top: 35px;
}
#grid-simulador {
  padding-bottom: 75px;
}
#grid-simulador .box-simulador {
  padding: 20px;
}
