//COMPONENTES
[class*="container-color"] {
    max-width: 1280px;
}

.bt {
    max-width: 215px;
    height: 55px;
}

.box-generic {
    max-width: 400px;
    padding: 25px 30px;
}

.imagem-produto {
    left: 30px;
}

//SECTIONS
header {
    a+nav {
        margin-left: 30px;
    }

    nav {
        margin-top: 5px;

        a+* {
            margin-left: 50px;
        }
    }

    .container-color {
        padding: 20px 15px;
    }
}

.title-text {
    padding-top: 70px;
    padding-bottom: 30px;

    .container-color {
        justify-content: center;
        gap: 20px;
    }
}

.text-absolute-image {
    padding-top: 55px;
    padding-bottom: 45px;

    .absolute-image {
        max-width: 469px;
    }

    .content {
        max-width: 910px;
        padding: 70px 0;
    }

    h2+* {
        margin-top: 25px;
    }

    .description+* {
        margin-top: 42px;
    }
}

.text-absolute-image.right {
    .content {
        padding-left: 180px;
    }
}

.text-absolute-image.left {
    .content {
        padding-right: 210px;
        padding-left: 70px;
    }
}

.contato {
    padding-top: 85px;
    padding-bottom: 65px;

    label+* {
        margin-top: 5px;
    }

    input+* {
        margin-top: 17px;
    }

    form {
        max-width: 705px;
    }

    h2+* {
        margin-top: 42px;
    }
}

//PAGE HOME
#banner-home {
    .owl-carousel {
        .owl-stage-outer {
            height: 935px;
        }

        .item {
            height: 785px;
        }

        .owl-dots {
            bottom: 210px;
        }
    }
}

#tintas {
    padding-top: 30px;
    padding-bottom: 50px;
}

#teste {
    padding: 45px 0;

    .title {
        height: 400px;
        padding-top: 65px;

        .icon-absolute-left {
            bottom: 105px;
            left: 50px;
            max-width: 275px;
        }

        .icon-absolute-top {
            top: -80px;
            right: -10px;
            max-width: 230px;
        }
    }

    .image {
        margin-top: -170px;
    }

    .container-color {
        max-width: 1125px;
    }

    .content {
        padding: 40px;
        margin-top: -80px;

        .description {
            line-height: 22px;
        }

        .description+* {
            margin-top: 20px;
        }

        .bt {
            max-width: 220px;
            height: 40px;
        }
    }
}

#dicas {
    padding: 40px 0;

    h2+* {
        margin-top: 25px;
    }

    .title+* {
        margin-top: 30px;
    }

    .box {
        gap: 27px;
    }

    .description {
        line-height: 23px;
    }

    .box-dicas {
        padding: 20px 20px 30px;

        .image+* {
            margin-top: 15px;
        }

        h4+* {
            margin-top: 8px;
        }

        h3+* {
            margin-top: 13px;
        }

        .description+* {
            margin-top: 25px;
        }
    }
}

#contato-home {
    margin-top: 45px;
}

//PAGE SOBRE
#banner-sobre {
    padding-top: 180px;
    padding-bottom: 40px;
    background-position: 10% -195px;
    background-size: cover;

    .title+* {
        margin-top: 105px;
    }

    .image {
        max-width: 670px;
        height: auto;
    }

    .description {
        margin-bottom: 55px;
    }
}

#historia {
    padding: 40px 0 45px;

    .absolute-right {
        position: absolute;
        right: 0;
        top: -40px;
        max-width: 14.33vw;
    }

}

#sustentabilidade {
    padding-bottom: 90px;

    .absolute-image {
        right: 95px;
        max-width: 435px;
    }
}

#produtos-sobre {
    padding: 80px 0;

    a {
        max-width: 415px;
    }
}

//PAGE PRODUTO
#produto-infomacoes {
    padding: 155px 0 35px;
}

#descricao {
    padding: 35px 0;

    .box-title {
        max-width: 285px;
        padding: 17px 10px 15px;
    }

    .content {
        padding: 45px 100px 50px 50px;
    }
}

#relacionados {
    padding: 35px 0 90px;

    h2+* {
        margin-top: 32px;
    }


}

//PAGE PRODUTOS
#banner-produtos {
    height: 500px;
}

#produtos-content {
    padding-bottom: 90px;
}

//PAGE CATALOGO 
#catalogo {
    padding-top: 135px;
    padding-bottom: 90px;

    h1+* {
        margin-top: 37px;
    }

    .filter+* {
        margin-top: 45px;
    }
}

//PAGE CONTATO
#contato {
    padding-top: 190px;
}

//PAGE BLOG
#blog {
    padding: 165px 0 6.25vw;
}

//PAGE POST 
#banner-post {
    height: 395px;
}

#blog.post {
    .top-post {
        .container-color {
            gap: 20px;
        }

        h2 {
            max-width: 965px;
        }
    }
}

//PAGE SIMULADOR GRID
#title-simulador {
    padding-top: 150px;

    h1+* {
        margin-top: 22px;
    }
}

#title-simulador+* {
    margin-top: 50px;
}

#grid-simulador {
    padding-bottom: 90px;

    .container-color {
        gap: 25px;
    }
}