[class*="container-color"] {
  max-width: 1280px;
}
.bt {
  max-width: 215px;
  height: 55px;
}
.imagem-produto {
  left: 30px;
}
header a + nav {
  margin-left: 30px;
}
header nav {
  margin-top: 5px;
}
header nav a + * {
  margin-left: 50px;
}
header .container-color {
  padding: 20px 15px;
}
.title-text {
  padding-top: 70px;
  padding-bottom: 30px;
}
.title-text .container-color {
  justify-content: center;
  gap: 20px;
}
.text-absolute-image {
  padding-top: 55px;
  padding-bottom: 45px;
}
.text-absolute-image .absolute-image {
  max-width: 469px;
}
.text-absolute-image .content {
  max-width: 910px;
  padding: 70px 0;
}
.text-absolute-image h2 + * {
  margin-top: 25px;
}
.text-absolute-image .description + * {
  margin-top: 42px;
}
.text-absolute-image.right .content {
  padding-left: 180px;
}
.text-absolute-image.left .content {
  padding-right: 210px;
  padding-left: 70px;
}
.contato {
  padding-top: 85px;
  padding-bottom: 65px;
}
.contato label + * {
  margin-top: 5px;
}
.contato input + * {
  margin-top: 17px;
}
.contato form {
  max-width: 705px;
}
.contato h2 + * {
  margin-top: 42px;
}
#banner-home .owl-carousel .owl-stage-outer {
  height: 935px;
}
#banner-home .owl-carousel .item {
  height: 785px;
}
#banner-home .owl-carousel .owl-dots {
  bottom: 210px;
}
#tintas {
  padding-top: 30px;
  padding-bottom: 50px;
}
#teste {
  padding: 45px 0;
}
#teste .title {
  height: 400px;
  padding-top: 65px;
}
#teste .title .icon-absolute-left {
  bottom: 105px;
  left: 50px;
  max-width: 275px;
}
#teste .title .icon-absolute-top {
  top: -80px;
  right: -10px;
  max-width: 230px;
}
#teste .image {
  margin-top: -170px;
}
#teste .container-color {
  max-width: 1125px;
}
#teste .content {
  padding: 40px;
  margin-top: -80px;
}
#teste .content .description {
  line-height: 22px;
}
#teste .content .description + * {
  margin-top: 20px;
}
#teste .content .bt {
  max-width: 220px;
  height: 40px;
}
#dicas {
  padding: 40px 0;
}
#dicas h2 + * {
  margin-top: 25px;
}
#dicas .title + * {
  margin-top: 30px;
}
#dicas .box {
  gap: 27px;
}
#dicas .description {
  line-height: 23px;
}
#dicas .box-dicas {
  padding: 20px 20px 30px;
}
#dicas .box-dicas .image + * {
  margin-top: 15px;
}
#dicas .box-dicas h4 + * {
  margin-top: 8px;
}
#dicas .box-dicas h3 + * {
  margin-top: 13px;
}
#dicas .box-dicas .description + * {
  margin-top: 25px;
}
#contato-home {
  margin-top: 45px;
}
#banner-sobre {
  padding-top: 180px;
  padding-bottom: 40px;
  background-position: 10% -195px;
  background-size: cover;
}
#banner-sobre .title + * {
  margin-top: 105px;
}
#banner-sobre .image {
  max-width: 670px;
  height: auto;
}
#banner-sobre .description {
  margin-bottom: 55px;
}
#historia {
  padding: 40px 0 45px;
}
#historia .absolute-right {
  position: absolute;
  right: 0;
  top: -40px;
  max-width: 14.33vw;
}
#sustentabilidade {
  padding-bottom: 90px;
}
#sustentabilidade .absolute-image {
  right: 95px;
  max-width: 435px;
}
#produtos-sobre {
  padding: 80px 0;
}
#produtos-sobre a {
  max-width: 415px;
}
#produto-infomacoes {
  padding: 155px 0 35px;
}
#descricao {
  padding: 35px 0;
}
#descricao .box-title {
  max-width: 285px;
  padding: 17px 10px 15px;
}
#descricao .content {
  padding: 45px 100px 50px 50px;
}
#relacionados {
  padding: 35px 0 90px;
}
#relacionados h2 + * {
  margin-top: 32px;
}
#banner-produtos {
  height: 500px;
}
#produtos-content {
  padding-bottom: 90px;
}
#catalogo {
  padding-top: 135px;
  padding-bottom: 90px;
}
#catalogo h1 + * {
  margin-top: 37px;
}
#catalogo .filter + * {
  margin-top: 45px;
}
#contato {
  padding-top: 190px;
}
#blog {
  padding: 165px 0 6.25vw;
}
#banner-post {
  height: 395px;
}
#blog.post .top-post .container-color {
  gap: 20px;
}
#blog.post .top-post h2 {
  max-width: 965px;
}
#title-simulador {
  padding-top: 150px;
}
#title-simulador h1 + * {
  margin-top: 22px;
}
#title-simulador + * {
  margin-top: 50px;
}
#grid-simulador {
  padding-bottom: 90px;
}
#grid-simulador .container-color {
  gap: 25px;
}
#title-simulador-interno {
  padding-top: 140px;
}
#simulador-content {
  padding-bottom: 85px;
}
#simulador-content #imagemAbsoluta {
  max-width: 75.33vw;
}
#imagemAbsoluta + * {
  margin-top: 33px;
}
#tabs {
  width: 405px;
  gap: 15px;
  padding: 15px;
}
.paleta-cores {
  max-width: calc(100% - 445px);
}
#corSelecionada {
  max-width: 405px;
}
#banner-text {
  padding-top: 150px;
}
#banner-text .title + * {
  margin-top: 15px;
}
#banner-text .search {
  max-width: 510px;
}
#banner-text + * {
  margin-top: 33px;
}
#colors.simples {
  padding-bottom: 90px;
}
#colors.simples .container-color {
  max-width: 1330px;
}
#page-cores .informacoes {
  max-width: 500px;
}
#page-cores #corSelecionada .ball-color.selecionada {
  height: 500px;
}
#page-cores .tab-content .tab-content--container {
  gap: 20px;
}
#page-cores #tabs + * {
  margin-top: 45px;
}
