[class*="container-color"] {
  max-width: 380px;
}
.bt {
  max-width: 155px;
  height: 33px;
}
header .container-color {
  padding: 14px 20px 5px 10px;
}
.text-absolute-image h2 {
  font-size: 20px;
}
.text-absolute-image .container-color {
  max-width: 90%;
}
.text-absolute-image .description {
  line-height: 17px;
}
.text-absolute-image .description + * {
  margin-top: 10px;
}
.text-absolute-image.right .content {
  padding: 20px 17px 20px;
}
#produto-infomacoes .container-color {
  max-width: 95%;
}
#catalogo .grid-catalogo {
  grid-template-columns: repeat(1, 1fr);
}
