//COMPONENTES
[class*="container-color"] {
    max-width: 320px;
}

.bt {
    max-width: 163px;
    height: 36px;
}

.box-generic {
    max-width: 75%;
    padding: 10px;
    margin: 0 auto;

    img {
        max-width: 35px;
        max-height: 35px;
    }

    img+* {
        margin-top: 7px;
    }

    h3 {
        font-size: 13px;
    }

    .description {
        font-size: 12px;
        max-width: 80%;
    }
}

.list-breadcrumb {
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 6px;

    li {
        line-height: 0.7;
    }
}

.imagem-produto {
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 120px;
    top: 21%;
    z-index: 10;
}

.box-produto {
    padding: 15px 0 20px;

    .container-box {
        max-width: 100%;
        padding: 0 15px;
        text-align: center;
    }

    .title {
        h4 {
            font-size: 19px;
        }
    }

    .title+* {
        margin-top: 160px;
    }

    .informacoes {
        h4 {
            font-size: 13px;
        }

        h4+* {
            margin-top: 10px;
        }
    }

    .box-informacoes {
        padding: 8px 0 7px 18px;
    }
}

.bg {
    height: 100px;
}

//SECTIONS
header {
    background-position: 17%;

    .container-color {
        max-width: 100%;
        padding: 15px 30px 10px 45px;
    }
}

.title-text {
    padding-top: 20px;

    .container-color {
        max-width: 90%;
        gap: 10px;
    }

    .content {
        max-width: 94%;
    }

    .description {
        line-height: 19px;
    }
}

.text-absolute-image {
    padding: 15px 0;

    .container-color {
        max-width: 90%;
    }

    .description {
        line-height: 18px;
    }

    .description+* {
        margin-top: 10px;
    }
}

.text-absolute-image.right {
    .content {
        padding: 25px 20px 20px;
    }
}

.text-absolute-image.left {
    .content {
        padding: 25px 20px 20px;
    }
}

.contato {
    padding: 20px 0;

    .container-color {
        gap: 12px;
        max-width: 90%;
    }

    input+* {
        margin-top: 5px;
    }



    .bt {
        max-width: 280px;
    }

    .actions {
        flex-direction: column;
        gap: 20px;

        .recapcha {
            max-width: 230px;
        }
    }
}

//PAGE HOME
#banner-home {
    .owl-carousel {
        .owl-stage-outer {
            height: 745px;
        }

        .item {
            height: 430px;

            .container-color {
                padding-top: 105px;

                h1 {
                    margin: 0 auto;
                    text-align: center;

                    span {
                        margin-left: 25px;
                    }
                }

                .barra-absolute {
                    left: 64px;
                    max-width: 225px;
                    height: 55px;
                    top: 138px;
                }
            }

            .container-color.box {
                bottom: -285px;

                .box {
                    flex-direction: column;
                }
            }
        }

        .owl-dots {
            bottom: 0;
        }
    }
}

#tintas {
    padding: 15px 0;
}

#teste {
    padding: 15px 0;

    .title {
        height: 120px;
        padding-top: 20px;

        h2 {
            font-size: 24px;
        }
    }

    .image {
        display: none;
    }

    .content {
        padding: 15px;
        margin-top: -25px;
        max-width: 100%;

        .description {
            line-height: 17px;
            font-size: 11px;
        }

        .description+* {
            margin-top: 10px;
        }
    }
}

#dicas {
    padding: 15px 0;

    h2+* {
        margin-top: 8px;
    }

    .owl-carousel {
        margin-top: 15px;
    }
}

#contato-home {
    margin-top: 15px;
}

//PAGE SOBRE
#banner-sobre {
    padding: 90px 0 50px;
    background-position: 10% 23px;

    .title {
        padding-top: 10px;
        max-width: 100%;
        width: 100%;

        .barra-absolute {
            height: 45px;
            left: 50%;
            transform: translate(-50%, 0);
            top: 54%;
            max-width: 180px;
        }
    }

    .container-color {
        max-width: 90%;
    }

    .title+* {
        margin-top: 20px;
    }

    .text {
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            font-size: 30px;
        }

        span {
            font-size: 40px;
        }

        .description {
            font-size: 13px;
            margin-bottom: 8px;
            line-height: 20px;
        }

        a {
            svg {
                max-width: 14px;
            }

            p {
                margin-top: 0;
                font-size: 11px;
            }
        }
    }
}

#historia {
    padding: 0 0 15px;

    h2 {
        max-width: 280px;
    }

    h2+* {
        margin-top: 7px;
    }

    h3+* {
        margin-top: 0;
    }
}

#missao {
    p {
        line-height: 19px !important;
    }

    .container-color {
        max-width: 90% !important;
    }

    .text-missao {
        padding: 20px 0;
    }

    .text {
        padding: 25px 0 !important;

        ul {
            li+* {
                margin-top: 3px;
            }
        }
    }
}

#produtos-sobre {
    padding: 30px 0;

    a {
        max-width: 340px;
    }
}

//PAGE PRODUTO
#produto-infomacoes {
    padding: 90px 0 15px;


    .title {
        h2 {
            line-height: 20px;
            font-size: 18px;
        }

        h3 {
            font-size: 11px;
        }

        h3+* {
            margin-top: 0;
        }
    }

    .title+* {
        margin-top: 15px;
    }
}

.container-produto {
    gap: 14px;

    .title+* {
        margin-top: 10px;
    }

    .informacoes+* {
        margin-top: 15px;
    }

    .description {
        line-height: 20px;
    }
}

#descricao {
    position: relative;

    .title {
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: 15px;
    }

    .box-title {
        max-width: 185px;
        padding: 11px 10px 9px;

        h3 {
            font-size: 11px;
        }
    }

    .content {
        padding: 20px 20px 40px;
    }

    .share {
        position: absolute;
        bottom: 25px;
        left: 50px;

        h3 {
            display: none;
        }

        svg {
            max-width: 17px;
        }

        .midias {
            gap: 10px;
        }
    }
}

#cores {
    .container-color {
        max-width: 90%;
    }
}

#relacionados {
    padding: 15px 0 30px;

    h2+* {
        margin-top: 15px;
    }

    .container-color {
        max-width: 320px;
    }
}