[class*="container-color"] {
  max-width: 320px;
}
.bt {
  max-width: 163px;
  height: 36px;
}
.box-generic {
  max-width: 75%;
  padding: 10px;
  margin: 0 auto;
}
.box-generic img {
  max-width: 35px;
  max-height: 35px;
}
.box-generic img + * {
  margin-top: 7px;
}
.box-generic h3 {
  font-size: 13px;
}
.box-generic .description {
  font-size: 12px;
  max-width: 80%;
}
.list-breadcrumb {
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 6px;
}
.list-breadcrumb li {
  line-height: 0.7;
}
.imagem-produto {
  left: 50%;
  transform: translate(-50%, 0);
  max-width: 120px;
  top: 21%;
  z-index: 10;
}
.box-produto {
  padding: 15px 0 20px;
}
.box-produto .container-box {
  max-width: 100%;
  padding: 0 15px;
  text-align: center;
}
.box-produto .title h4 {
  font-size: 19px;
}
.box-produto .title + * {
  margin-top: 160px;
}
.box-produto .informacoes h4 {
  font-size: 13px;
}
.box-produto .informacoes h4 + * {
  margin-top: 10px;
}
.box-produto .box-informacoes {
  padding: 8px 0 7px 18px;
}
.bg {
  height: 100px;
}
.bt-tag {
  width: 100px;
  max-height: 30px;
}
.bt-filtro {
  max-width: 100%;
  border: unset;
  font-size: 10px;
}
.bt-filtro svg {
  max-width: 7px;
  margin-bottom: 2px;
}
.bt-filtro.full {
  max-width: 100%;
}
.bt-ordenar {
  padding: 5px 10px 3px 3px;
  max-width: 130px;
}
.bt-ordenar svg {
  max-width: 9px;
  margin-bottom: 2px;
}
.box-catalogo {
  padding: 20px 12px 15px;
}
.box-catalogo img {
  max-width: 35px;
}
.box-catalogo img + * {
  margin-top: 15px;
}
.box-catalogo h3 {
  font-size: 13px;
  margin-bottom: 9px !important;
}
.box-catalogo a {
  font-size: 11px;
}
header {
  background-position: 17%;
}
header .container-color {
  max-width: 100%;
  padding: 15px 30px 10px 45px;
}
footer {
  padding-top: 20px;
}
footer .barra-footer a {
  font-size: 13px;
}
footer .logo-codie {
  max-width: 40px;
}
.title-text {
  padding-top: 20px;
}
.title-text .container-color {
  max-width: 90%;
  gap: 10px;
}
.title-text .content {
  max-width: 94%;
}
.title-text .description {
  line-height: 19px;
}
.text-absolute-image {
  padding: 15px 0;
}
.text-absolute-image .container-color {
  max-width: 90%;
}
.text-absolute-image .description {
  line-height: 18px;
}
.text-absolute-image .description + * {
  margin-top: 10px;
}
.text-absolute-image.right .content {
  padding: 25px 20px 20px;
}
.text-absolute-image.left .content {
  padding: 25px 20px 20px;
}
.contato {
  padding: 20px 0;
}
.contato .container-color {
  gap: 12px;
  max-width: 90%;
}
.contato input + * {
  margin-top: 5px;
}
.contato .bt {
  max-width: 280px;
}
.contato .actions {
  flex-direction: column;
  gap: 20px;
}
.contato .actions .recapcha {
  max-width: 230px;
}
#banner-home .owl-carousel .owl-stage-outer {
  height: 745px;
}
#banner-home .owl-carousel .item {
  height: 430px;
}
#banner-home .owl-carousel .item .container-color {
  padding-top: 105px;
}
#banner-home .owl-carousel .item .container-color h1 {
  margin: 0 auto;
  text-align: center;
}
#banner-home .owl-carousel .item .container-color h1 span {
  margin-left: 25px;
}
#banner-home .owl-carousel .item .container-color .barra-absolute {
  left: 64px;
  max-width: 225px;
  height: 55px;
  top: 138px;
}
#banner-home .owl-carousel .item .container-color.box {
  bottom: -285px;
}
#banner-home .owl-carousel .item .container-color.box .box {
  flex-direction: column;
}
#banner-home .owl-carousel .owl-dots {
  bottom: 0;
}
#tintas {
  padding: 15px 0;
}
#teste {
  padding: 15px 0;
}
#teste .title {
  height: 120px;
  padding-top: 20px;
}
#teste .title h2 {
  font-size: 24px;
}
#teste .image {
  display: none;
}
#teste .content {
  padding: 15px;
  margin-top: -25px;
  max-width: 100%;
}
#teste .content .description {
  line-height: 17px;
  font-size: 11px;
}
#teste .content .description + * {
  margin-top: 10px;
}
#dicas {
  padding: 15px 0;
}
#dicas h2 + * {
  margin-top: 8px;
}
#dicas .owl-carousel {
  margin-top: 15px;
}
#contato-home {
  margin-top: 15px;
}
#banner-sobre {
  padding: 90px 0 50px;
  background-position: 10% 23px;
}
#banner-sobre .title {
  padding-top: 10px;
  max-width: 100%;
  width: 100%;
}
#banner-sobre .title .barra-absolute {
  height: 45px;
  left: 50%;
  transform: translate(-50%, 0);
  top: 54%;
  max-width: 180px;
}
#banner-sobre .container-color {
  max-width: 90%;
}
#banner-sobre .title + * {
  margin-top: 20px;
}
#banner-sobre .text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#banner-sobre .text h1 {
  font-size: 30px;
}
#banner-sobre .text span {
  font-size: 40px;
}
#banner-sobre .text .description {
  font-size: 13px;
  margin-bottom: 8px;
  line-height: 20px;
}
#banner-sobre .text a svg {
  max-width: 14px;
}
#banner-sobre .text a p {
  margin-top: 0;
  font-size: 11px;
}
#historia {
  padding: 0 0 15px;
}
#historia h2 {
  max-width: 280px;
}
#historia h2 + * {
  margin-top: 7px;
}
#historia h3 + * {
  margin-top: 0;
}
#missao p {
  line-height: 19px !important;
}
#missao .container-color {
  max-width: 90% !important;
}
#missao .text-missao {
  padding: 20px 0;
}
#missao .text {
  padding: 25px 0 !important;
}
#missao .text ul li + * {
  margin-top: 3px;
}
#produtos-sobre {
  padding: 30px 0;
}
#produtos-sobre a {
  max-width: 340px;
}
#produto-infomacoes {
  padding: 90px 0 15px;
}
#produto-infomacoes .title h2 {
  line-height: 20px;
  font-size: 18px;
}
#produto-infomacoes .title h3 {
  font-size: 11px;
}
#produto-infomacoes .title h3 + * {
  margin-top: 0;
}
#produto-infomacoes .title + * {
  margin-top: 15px;
}
.container-produto {
  gap: 14px;
}
.container-produto .title + * {
  margin-top: 10px;
}
.container-produto .informacoes + * {
  margin-top: 15px;
}
.container-produto .description {
  line-height: 20px;
}
#descricao {
  position: relative;
}
#descricao .title {
  flex-direction: column-reverse;
  align-items: flex-start;
  gap: 15px;
}
#descricao .box-title {
  max-width: 185px;
  padding: 11px 10px 9px;
}
#descricao .box-title h3 {
  font-size: 11px;
}
#descricao .content {
  padding: 20px 20px 40px;
}
#descricao .share {
  position: absolute;
  bottom: 25px;
  left: 50px;
}
#descricao .share h3 {
  display: none;
}
#descricao .share svg {
  max-width: 17px;
}
#descricao .share .midias {
  gap: 10px;
}
#cores .container-color {
  max-width: 90%;
}
#relacionados {
  padding: 15px 0 30px;
}
#relacionados h2 + * {
  margin-top: 15px;
}
#relacionados .container-color {
  max-width: 320px;
}
#banner-produtos {
  height: 200px;
}
#produtos-content {
  padding: 25px 0 50px;
}
#produtos-content .filter {
  position: relative;
  flex-wrap: wrap;
  row-gap: 15px;
}
#produtos-content .filter .box-left {
  gap: 10px;
}
#produtos-content .box-left.mobile-sumir {
  display: none;
}
#produtos-content .box-left.mobile-aparecer {
  display: block !important;
  width: 120px;
}
#produtos-content .box-left.mobile-aparecer .dropbtn {
  padding: 5px 10px 3px;
  display: flex;
  justify-content: space-between;
  width: 120px;
  border: 1px solid #000;
}
#produtos-content .filter + * {
  margin-top: 30px;
}
#produtos-content .container-color {
  max-width: 350px;
}
#grid-produtos {
  gap: 20px;
  grid-template-columns: repeat(1, 1fr);
}
#grid-produtos .box-produto {
  padding: 22px 0 20px;
}
#grid-produtos .box-produto .title h4 {
  font-size: 16px;
  max-width: 230px;
  margin: 0 auto;
}
#grid-produtos .box-produto a {
  width: 100%;
}
#catalogo {
  padding: 90px 0 45px;
}
#catalogo h1 + * {
  margin-top: 20px;
}
#catalogo .filter + * {
  margin-top: 15px;
}
#catalogo .container-color {
  max-width: 90%;
}
#catalogo .filter .bt-filtro.full {
  max-width: 115px;
  border: 1px solid #000;
  padding: 5px 10px 3px;
  height: 100%;
}
#catalogo .filter .bt-ordenar {
  font-size: 10px;
  max-width: 110px;
}
#contato {
  padding-top: 90px;
}
#blog {
  padding: 90px 0 30px;
}
#blog [class*='link-1'] {
  font-size: 12px;
}
#blog .container-color {
  max-width: 95%;
}
#blog .post-title h3 {
  font-size: 19px;
  line-height: 22px;
}
#blog .author .author-info .author-picture {
  width: 23px;
  height: 23px;
}
#blog .author span,
#blog .author .date {
  font-size: 11px;
}
#blog .share .midias {
  max-width: 100px;
}
#blog .share .midias svg {
  max-width: 17px;
  max-height: 17px;
}
#blog .share .leia-mais {
  gap: 5px;
}
#blog .share .leia-mais svg {
  max-width: 6px;
}
#blog .post-title + * {
  margin-top: 8px;
}
#blog .author + * {
  margin-top: 7px;
}
#blog .text-preview p {
  line-height: 19px;
}
#blog .text-preview + * {
  margin-top: 15px;
}
#blog .paginacao li {
  max-width: 34px;
  max-height: 34px;
}
#blog .side-bar .side-box h4 + * {
  margin-top: 13px;
}
#banner-post {
  height: 300px;
  background-position: 12%;
}
#blog.post {
  padding-top: 12px;
}
#blog.post .top-post .container-color {
  gap: 10px;
}
#blog.post .top-post h2 {
  font-size: 18px;
}
#blog.post .top-post .list-breadcrumb li {
  font-size: 11px;
}
#blog.post .text-preview h1,
#blog.post .text-preview h2,
#blog.post .text-preview h3,
#blog.post .text-preview h4,
#blog.post .text-preview h5,
#blog.post .text-preview h6 {
  font-size: 14px;
  line-height: 19px;
}
#blog.post .text-preview h3 + * {
  margin-top: 5px;
}
#blog.post .text-preview p {
  line-height: 18px;
  font-size: 12px;
}
#blog.post .text-preview ul {
  line-height: 18px;
  font-size: 12px;
}
#blog.post .side-box.tags.bottom {
  padding: 20px 20px 50px;
  position: relative;
}
#blog.post .side-box.tags.bottom .share {
  position: absolute;
  display: flex;
  bottom: 15px;
  align-items: flex-end;
  left: 25px;
}
