[class*="container-color"] {
  max-width: 320px;
}
.bt {
  max-width: 163px;
  height: 36px;
}
.box-generic {
  max-width: 75%;
  padding: 10px;
  margin: 0 auto;
}
.box-generic img {
  max-width: 35px;
  max-height: 35px;
}
.box-generic img + * {
  margin-top: 7px;
}
.box-generic h3 {
  font-size: 13px;
}
.box-generic .description {
  font-size: 12px;
  max-width: 80%;
}
header {
  background-position: 17%;
}
header .container-color {
  max-width: 100%;
  padding: 15px 30px 10px 45px;
}
.title-text {
  padding-top: 20px;
}
.title-text .container-color {
  max-width: 90%;
  gap: 10px;
}
.title-text .content {
  max-width: 94%;
}
.title-text .description {
  line-height: 19px;
}
.text-absolute-image {
  padding: 15px 0;
}
.text-absolute-image .container-color {
  max-width: 90%;
}
.text-absolute-image .description {
  line-height: 18px;
}
.text-absolute-image .description + * {
  margin-top: 10px;
}
.text-absolute-image.right .content {
  padding: 25px 20px 20px;
}
.contato {
  padding: 20px 0;
}
.contato .container-color {
  gap: 12px;
  max-width: 90%;
}
.contato input + * {
  margin-top: 5px;
}
.contato .bt {
  max-width: 280px;
}
.contato .actions {
  flex-direction: column;
  gap: 20px;
}
.contato .actions .recapcha {
  max-width: 230px;
}
#banner-home .owl-carousel .owl-stage-outer {
  height: 745px;
}
#banner-home .owl-carousel .item {
  height: 430px;
}
#banner-home .owl-carousel .item .container-color {
  padding-top: 105px;
}
#banner-home .owl-carousel .item .container-color h1 {
  margin: 0 auto;
  text-align: center;
}
#banner-home .owl-carousel .item .container-color h1 span {
  margin-left: 25px;
}
#banner-home .owl-carousel .item .container-color .barra-absolute {
  left: 64px;
  max-width: 225px;
  height: 55px;
  top: 138px;
}
#banner-home .owl-carousel .item .container-color.box {
  bottom: -285px;
}
#banner-home .owl-carousel .item .container-color.box .box {
  flex-direction: column;
}
#banner-home .owl-carousel .owl-dots {
  bottom: 0;
}
#tintas {
  padding: 15px 0;
}
#teste {
  padding: 15px 0;
}
#teste .title {
  height: 120px;
  padding-top: 20px;
}
#teste .title h2 {
  font-size: 24px;
}
#teste .image {
  display: none;
}
#teste .content {
  padding: 15px;
  margin-top: -25px;
  max-width: 100%;
}
#teste .content .description {
  line-height: 17px;
  font-size: 11px;
}
#teste .content .description + * {
  margin-top: 10px;
}
#dicas {
  padding: 15px 0;
}
#dicas h2 + * {
  margin-top: 8px;
}
#dicas .owl-carousel {
  margin-top: 15px;
}
#contato-home {
  margin-top: 15px;
}
