[class*="container-color"] {
  max-width: 320px;
}
.bt {
  max-width: 163px;
  height: 36px;
}
.box-generic {
  max-width: 75%;
  padding: 10px;
  margin: 0 auto;
}
.box-generic img {
  max-width: 35px;
  max-height: 35px;
}
.box-generic img + * {
  margin-top: 7px;
}
.box-generic h3 {
  font-size: 13px;
}
.box-generic .description {
  font-size: 12px;
  max-width: 80%;
}
.list-breadcrumb {
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 6px;
}
.list-breadcrumb li {
  line-height: 0.7;
}
.imagem-produto {
  left: 50%;
  transform: translate(-50%, 0);
  max-width: 120px;
  top: 21%;
  z-index: 10;
}
.box-produto {
  padding: 15px 0 20px;
}
.box-produto .container-box {
  max-width: 100%;
  padding: 0 15px;
  text-align: center;
}
.box-produto .title h4 {
  font-size: 19px;
}
.box-produto .title + * {
  margin-top: 160px;
}
.box-produto .informacoes h4 {
  font-size: 13px;
}
.box-produto .informacoes h4 + * {
  margin-top: 10px;
}
.box-produto .box-informacoes {
  padding: 8px 0 7px 18px;
}
.bg {
  height: 100px;
}
header {
  background-position: 17%;
}
header .container-color {
  max-width: 100%;
  padding: 15px 30px 10px 45px;
}
.title-text {
  padding-top: 20px;
}
.title-text .container-color {
  max-width: 90%;
  gap: 10px;
}
.title-text .content {
  max-width: 94%;
}
.title-text .description {
  line-height: 19px;
}
.text-absolute-image {
  padding: 15px 0;
}
.text-absolute-image .container-color {
  max-width: 90%;
}
.text-absolute-image .description {
  line-height: 18px;
}
.text-absolute-image .description + * {
  margin-top: 10px;
}
.text-absolute-image.right .content {
  padding: 25px 20px 20px;
}
.text-absolute-image.left .content {
  padding: 25px 20px 20px;
}
.contato {
  padding: 20px 0;
}
.contato .container-color {
  gap: 12px;
  max-width: 90%;
}
.contato input + * {
  margin-top: 5px;
}
.contato .bt {
  max-width: 280px;
}
.contato .actions {
  flex-direction: column;
  gap: 20px;
}
.contato .actions .recapcha {
  max-width: 230px;
}
#banner-home .owl-carousel .owl-stage-outer {
  height: 745px;
}
#banner-home .owl-carousel .item {
  height: 430px;
}
#banner-home .owl-carousel .item .container-color {
  padding-top: 105px;
}
#banner-home .owl-carousel .item .container-color h1 {
  margin: 0 auto;
  text-align: center;
}
#banner-home .owl-carousel .item .container-color h1 span {
  margin-left: 25px;
}
#banner-home .owl-carousel .item .container-color .barra-absolute {
  left: 64px;
  max-width: 225px;
  height: 55px;
  top: 138px;
}
#banner-home .owl-carousel .item .container-color.box {
  bottom: -285px;
}
#banner-home .owl-carousel .item .container-color.box .box {
  flex-direction: column;
}
#banner-home .owl-carousel .owl-dots {
  bottom: 0;
}
#tintas {
  padding: 15px 0;
}
#teste {
  padding: 15px 0;
}
#teste .title {
  height: 120px;
  padding-top: 20px;
}
#teste .title h2 {
  font-size: 24px;
}
#teste .image {
  display: none;
}
#teste .content {
  padding: 15px;
  margin-top: -25px;
  max-width: 100%;
}
#teste .content .description {
  line-height: 17px;
  font-size: 11px;
}
#teste .content .description + * {
  margin-top: 10px;
}
#dicas {
  padding: 15px 0;
}
#dicas h2 + * {
  margin-top: 8px;
}
#dicas .owl-carousel {
  margin-top: 15px;
}
#contato-home {
  margin-top: 15px;
}
#banner-sobre {
  padding: 90px 0 50px;
  background-position: 10% 23px;
}
#banner-sobre .title {
  padding-top: 10px;
  max-width: 100%;
  width: 100%;
}
#banner-sobre .title .barra-absolute {
  height: 45px;
  left: 50%;
  transform: translate(-50%, 0);
  top: 54%;
  max-width: 180px;
}
#banner-sobre .container-color {
  max-width: 90%;
}
#banner-sobre .title + * {
  margin-top: 20px;
}
#banner-sobre .text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#banner-sobre .text h1 {
  font-size: 30px;
}
#banner-sobre .text span {
  font-size: 40px;
}
#banner-sobre .text .description {
  font-size: 13px;
  margin-bottom: 8px;
  line-height: 20px;
}
#banner-sobre .text a svg {
  max-width: 14px;
}
#banner-sobre .text a p {
  margin-top: 0;
  font-size: 11px;
}
#historia {
  padding: 0 0 15px;
}
#historia h2 {
  max-width: 280px;
}
#historia h2 + * {
  margin-top: 7px;
}
#historia h3 + * {
  margin-top: 0;
}
#missao p {
  line-height: 19px !important;
}
#missao .container-color {
  max-width: 90% !important;
}
#missao .text-missao {
  padding: 20px 0;
}
#missao .text {
  padding: 25px 0 !important;
}
#missao .text ul li + * {
  margin-top: 3px;
}
#produtos-sobre {
  padding: 30px 0;
}
#produtos-sobre a {
  max-width: 340px;
}
#produto-infomacoes {
  padding: 90px 0 15px;
}
#produto-infomacoes .title h2 {
  line-height: 20px;
  font-size: 18px;
}
#produto-infomacoes .title h3 {
  font-size: 11px;
}
#produto-infomacoes .title h3 + * {
  margin-top: 0;
}
#produto-infomacoes .title + * {
  margin-top: 15px;
}
.container-produto {
  gap: 14px;
}
.container-produto .title + * {
  margin-top: 10px;
}
.container-produto .informacoes + * {
  margin-top: 15px;
}
.container-produto .description {
  line-height: 20px;
}
#descricao {
  position: relative;
}
#descricao .title {
  flex-direction: column-reverse;
  align-items: flex-start;
  gap: 15px;
}
#descricao .box-title {
  max-width: 185px;
  padding: 11px 10px 9px;
}
#descricao .box-title h3 {
  font-size: 11px;
}
#descricao .content {
  padding: 20px 20px 40px;
}
#descricao .share {
  position: absolute;
  bottom: 25px;
  left: 50px;
}
#descricao .share h3 {
  display: none;
}
#descricao .share svg {
  max-width: 17px;
}
#descricao .share .midias {
  gap: 10px;
}
#cores .container-color {
  max-width: 90%;
}
#relacionados {
  padding: 15px 0 30px;
}
#relacionados h2 + * {
  margin-top: 15px;
}
#relacionados .container-color {
  max-width: 320px;
}
