//COMPONENTES
[class*="container-color"] {
    max-width: 480px;
}

.bt {
    max-width: 170px;
    height: 40px;
}

.box-generic {
    max-width: 145px;
    padding: 12px;

    img {
        max-width: 45px;
        max-height: 45px;
    }

    img+* {
        margin-top: 7px;
    }

    h3 {
        font-size: 13px;
    }

    .description {
        font-size: 11px;
    }
}

//SECTIONS
.title-text {
    padding-top: 25px;

    .container-color {
        gap: 12px;
    }

    .content {
        max-width: 94%;
    }

    .description {
        line-height: 19px;
    }
}

.text-absolute-image {
    padding: 15px 0;

    h2 {
        margin: 0 auto;
    }

    .description {
        line-height: 19px;
    }

    .description+* {
        margin-top: 15px;
    }
}

.text-absolute-image.right {
    .content {
        padding: 30px 20px 20px;
    }
}

.text-absolute-image.left {
    .content {
        padding: 30px 30px 20px;
    }
}

.contato {
    padding: 30px 0;

    .container-color {
        gap: 15px;
    }

    input+* {
        margin-top: 7px;
    }

    .bt {
        max-width: 205px;
    }
}

//PAGE HOME
#banner-home {
    .owl-carousel {
        .owl-stage-outer {
            height: 630px;
        }

        .item {
            height: 525px;

            .container-color {
                h1 {
                    margin-left: 25px;
                }

                .barra-absolute {
                    left: 100px;
                    max-width: 300px;
                    height: 71px;
                    top: 173px;
                }
            }

            .container-color.box {
                max-width: 510px;
                bottom: -105px;
            }
        }

        .owl-dots {
            bottom: 140px;
        }
    }
}

#teste {
    padding: 20px 0;

    .title {
        height: 170px;
        padding-top: 30px;

        h2 {
            max-width: 450px;
        }

        .icon-absolute-left {
            display: none;
        }

        .icon-absolute-top {
            display: none;
        }
    }

    .image {
        margin-top: -45px;
    }

    .container-color {
        max-width: 90%;
    }

    .content {
        padding: 17px 15px;
        margin-top: -25px;
        max-width: 75vw;

        .description {
            line-height: 17px;
            font-size: 11px;
        }

        .bt {
            max-width: 171px;
            height: 28px;
            font-size: 11px;
        }
    }
}

#dicas {
    .container-color {
        max-width: 90%;
    }
}

#contato-home {
    margin-top: 20px;
}

//PAGE SOBRE
#banner-sobre {
    padding: 115px 0 50px;
    background-position: 50% 10px;

    .image {
        display: none;
    }

    .container-color {
        justify-content: center;
        margin: 0 auto;
    }

    .title {
        padding-top: 0;

        .barra-absolute {
            left: 50%;
            transform: translate(-50%, 0);
            top: 45%;
            max-width: 245px;
            height: 60px;
        }
    }

    .title+* {
        margin-top: 30px;
    }

    .text {
        text-align: center;

        .description {
            margin-bottom: 10px;
            font-size: 16px;
            line-height: 23px;
            color: #fff;
        }

        h1 {
            font-size: 40px;
        }

        span {
            font-size: 55px;
        }

        a {
            display: flex;
            justify-content: center;
            color: var(--amarelo);

            svg {
                max-width: 20px;
                fill: var(--amarelo);
            }
        }
    }
}

#historia {
    padding: 0 0 20px;

    .container-color {
        max-width: 90%;
        text-align: center;
        justify-content: center;
    }

    .absolute-right {
        display: none;
    }

    .image {
        display: none;
    }

    h2 {
        max-width: 340px;
        margin: 0 auto;
    }

    h2+* {
        margin-top: 13px;
    }

    h3+* {
        margin-top: 5px;
    }

    .text {
        padding-top: 0;
    }
}
