//COMPONENTES
[class*="container-color"] {
    max-width: 480px;
}

.bt {
    max-width: 170px;
    height: 40px;
}

.box-generic {
    max-width: 145px;
    padding: 12px;

    img {
        max-width: 45px;
        max-height: 45px;
    }

    img+* {
        margin-top: 7px;
    }

    h3 {
        font-size: 13px;
    }

    .description {
        font-size: 11px;
    }
}

.imagem-produto {
    left: 27px;
    max-width: 150px;
    top: 36px;
}

.box-produto {
    padding: 30px 0 20px;

    .container-box {
        max-width: 220px;
    }

    .title {
        h4 {
            font-size: 18px;
        }
    }

    .title+* {
        margin-top: 35px;
    }

    .informacoes {
        h4 {
            font-size: 15px;
        }

        h4+* {
            margin-top: 10px;
        }
    }

    .box-informacoes {
        padding: 8px 0 7px 18px;
    }
}

.bg {
    height: 100px;
}

.paginacao {
    li {
        max-width: 35px;
        height: 35px;
    }
}

.bt-tag {
    width: 100px;
    max-height: 30px;
}

//FILTROS COMPONENTES
.bt-filtro {
    padding: 5px 10px 3px;
    max-width: 110px;
    font-size: 11px;

    svg {
        max-width: 9px;
        margin-bottom: 2px;
    }
}

.bt-filtro.full {
    max-width: 140px;
}

.bt-ordenar {
    padding: 5px 10px 3px 5px;
    max-width: 150px;

    svg {
        max-width: 9px;
        margin-bottom: 2px;
    }
}

//SECTIONS
.title-text {
    padding-top: 25px;

    .container-color {
        gap: 12px;
    }

    .content {
        max-width: 94%;
    }

    .description {
        line-height: 19px;
    }
}

.text-absolute-image {
    padding: 15px 0;

    h2 {
        margin: 0 auto;
    }

    .description {
        line-height: 19px;
    }

    .description+* {
        margin-top: 15px;
    }
}

.text-absolute-image.right {
    .content {
        padding: 30px 20px 20px;
    }
}

.text-absolute-image.left {
    .content {
        padding: 30px 30px 20px;
    }
}

footer {
    padding-top: 30px;

    .container-color {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 10px;
    }

    .logo {
        .color {
            max-width: 205px;
        }

        a+* {
            margin-top: 15px;
        }

        .ecotex {
            max-width: 105px;
        }
    }

    .links,
    .links.svg {
        gap: 10px;

        a {
            font-size: 14px;
            line-height: 20px !important;
        }
    }

    .links:nth-child(4) {
        display: none;
    }

    .links.svg {
        .link {
            justify-content: center;

            a {
                margin: unset;
            }
        }

        svg {
            display: none;
        }
    }

    .container-color+* {
        margin-top: 30px;
    }

    .barra-footer {
        .container-color {
            gap: 5px;
        }

        .box-left {
            a+* {
                margin-left: 3.43vw;
            }
        }

        .logo-codie {
            max-width: 54px;
        }
    }
}

.contato {
    padding: 30px 0;

    .container-color {
        gap: 15px;
    }

    input+* {
        margin-top: 7px;
    }

    .bt {
        max-width: 205px;
    }
}

//PAGE HOME
#banner-home {
    .owl-carousel {
        .owl-stage-outer {
            height: 630px;
        }

        .item {
            height: 525px;

            .container-color {
                h1 {
                    margin-left: 25px;
                }

                .barra-absolute {
                    left: 100px;
                    max-width: 300px;
                    height: 71px;
                    top: 173px;
                }
            }

            .container-color.box {
                max-width: 510px;
                bottom: -105px;
            }
        }

        .owl-dots {
            bottom: 140px;
        }
    }
}

#teste {
    padding: 20px 0;

    .title {
        height: 170px;
        padding-top: 30px;

        h2 {
            max-width: 450px;
        }

        .icon-absolute-left {
            display: none;
        }

        .icon-absolute-top {
            display: none;
        }
    }

    .image {
        margin-top: -45px;
    }

    .container-color {
        max-width: 90%;
    }

    .content {
        padding: 17px 15px;
        margin-top: -25px;
        max-width: 75vw;

        .description {
            line-height: 17px;
            font-size: 11px;
        }

        .bt {
            max-width: 171px;
            height: 28px;
            font-size: 11px;
        }
    }
}

#dicas {
    .container-color {
        max-width: 90%;
    }
}

#contato-home {
    margin-top: 20px;
}

//PAGE SOBRE
#banner-sobre {
    padding: 115px 0 50px;
    background-position: 50% 10px;

    .image {
        display: none;
    }

    .container-color {
        justify-content: center;
        margin: 0 auto;
    }

    .title {
        padding-top: 0;

        .barra-absolute {
            left: 50%;
            transform: translate(-50%, 0);
            top: 45%;
            max-width: 245px;
            height: 60px;
        }
    }

    .title+* {
        margin-top: 30px;
    }

    .text {
        text-align: center;

        .description {
            margin-bottom: 10px;
            font-size: 16px;
            line-height: 23px;
            color: #fff;
        }

        h1 {
            font-size: 40px;
        }

        span {
            font-size: 55px;
        }

        a {
            display: flex;
            justify-content: center;
            color: var(--amarelo);

            svg {
                max-width: 20px;
                fill: var(--amarelo);
            }
        }
    }
}

#historia {
    padding: 0 0 20px;

    .container-color {
        max-width: 90%;
        text-align: center;
        justify-content: center;
    }

    .absolute-right {
        display: none;
    }

    .image {
        display: none;
    }

    h2 {
        max-width: 340px;
        margin: 0 auto;
    }

    h2+* {
        margin-top: 13px;
    }

    h3+* {
        margin-top: 5px;
    }

    .text {
        padding-top: 0;
    }
}

#missao {
    p {
        line-height: 20px !important;
    }

    .text-missao {
        padding: 20px 0;
    }

    .text {
        padding: 25px 0 !important;
    }
}

#produtos-sobre {
    padding: 40px 0;

    a {
        max-width: 355px;
    }
}

//PAGE PRODUTO
#produto-infomacoes {
    padding: 100px 0 15px;

    [class*='paragrafo-3'] {
        font-size: 11px;
    }

    .container-color.mobile-sumir {
        display: none;
    }

    .container-color.mobile-aparecer {
        display: block;
    }

    .title {
        h2 {
            line-height: 23px;
            font-size: 20px;
        }

        h3 {
            font-size: 12px;
        }

        h3+* {
            margin-top: 5px;
        }
    }

    .title+* {
        margin-top: 15px;
    }
}

.container-produto {
    flex-direction: column;
    gap: 17px;

    .image {
        max-width: 100%;
    }

    .title+* {
        margin-top: 12px;
    }

    .content {
        max-width: 570px;
        margin: 0 auto;
    }

    .informacoes+* {
        margin-top: 15px;
    }

    .description {
        text-align: center;
    }
}

#descricao {
    padding: 15px 0;

    .box-title {
        max-width: 220px;
        padding: 11px 10px 9px;
    }

    .content {
        padding: 25px;
    }

    .share {
        h3 {
            display: none;
        }

        svg {
            max-width: 17px;
        }

        .midias {
            gap: 10px;
        }
    }
}

#cores {
    .container-color {
        max-width: 90%;
    }
}

#relacionados {
    padding: 15px 0 30px;

    h2+* {
        margin-top: 15px;
    }

    .container-color {
        max-width: 480px;
    }
}

//PAGE PRODUTOS
#banner-produtos {
    height: 300px;
}

#produtos-content {
    padding: 25px 0 50px;

    .filter {
        flex-wrap: wrap;
        row-gap: 15px;

        .box-left {
            gap: 10px;
        }
    }

    .filter+* {
        margin-top: 30px;
    }

    .container-color {
        max-width: 590px;
    }
}

#grid-produtos {
    gap: 20px;

    .box-produto {

        .title {
            h4 {
                font-size: 16px;
            }
        }
    }
}

//PAGE CONTATO
#contato {
    padding-top: 110px;
}

//PAGE BLOG 
#blog {
    padding: 110px 0 6.25vw;

    [class*='link-1'] {
        font-size: 13px;
    }

    .container-color {
        flex-direction: column;
    }

    .autor+* {
        margin-top: 7px;
    }

    .content-preview {
        padding: 15px;
    }

    .post-title {
        h3 {
            font-size: 26px;
            line-height: 30px;
        }
    }

    .text-preview {
        p {
            line-height: 20px;
        }
    }

    .share {
        .midias {
            svg {
                max-width: 18px;
                max-height: 18px;
            }
        }
    }

    .side-bar {
        .side-box {
            padding: 15px;

            .content.popular {
                gap: 11px;
            }
        }
    }

    .paginacao {
        li {
            max-width: 36px;
            max-height: 36px;
        }
    }

    .image {
        .tag {
            top: 10px;
            right: 10px;
        }
    }
}

//PAGE POST 
#banner-post {
    height: 300px;
    background-position: 12%;
}

#blog.post {
    padding-top: 12px;

    .top-post {
        .container-color {
            gap: 12px;
        }

        h2 {
            font-size: 29px;
        }
    }

    .text-preview {

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-size: 14px;
            line-height: 25px;
        }

        p {
            line-height: 19px;
            font-size: 13px;
        }

        ul {
            line-height: 19px;
            font-size: 13px;
        }
    }
}