[class*="container-color"] {
  max-width: 680px;
}
.bt {
  max-width: 170px;
  height: 40px;
}
.box-generic {
  max-width: 145px;
  padding: 12px;
}
.box-generic img {
  max-width: 45px;
  max-height: 45px;
}
.box-generic img + * {
  margin-top: 7px;
}
.box-generic h3 {
  font-size: 13px;
}
.box-generic .description {
  font-size: 11px;
}
.imagem-produto {
  left: 27px;
  max-width: 150px;
  top: 36px;
}
.box-produto {
  padding: 30px 0 20px;
}
.box-produto .container-box {
  max-width: 220px;
}
.box-produto .title h4 {
  font-size: 18px;
}
.box-produto .title + * {
  margin-top: 35px;
}
.box-produto .informacoes h4 {
  font-size: 15px;
}
.box-produto .informacoes h4 + * {
  margin-top: 10px;
}
.box-produto .box-informacoes {
  padding: 8px 0 7px 18px;
}
.bg {
  height: 100px;
}
.paginacao li {
  max-width: 35px;
  height: 35px;
}
.bt-tag {
  width: 100px;
  max-height: 30px;
}
.bt-filtro {
  padding: 5px 10px 3px;
  max-width: 110px;
  font-size: 11px;
}
.bt-filtro svg {
  max-width: 9px;
  margin-bottom: 2px;
}
.bt-filtro.full {
  max-width: 140px;
}
.bt-ordenar {
  padding: 5px 10px 3px 5px;
  max-width: 150px;
}
.bt-ordenar svg {
  max-width: 9px;
  margin-bottom: 2px;
}
.title-text {
  padding-top: 25px;
}
.title-text .container-color {
  gap: 12px;
}
.title-text .content {
  max-width: 94%;
}
.title-text .description {
  line-height: 19px;
}
.text-absolute-image {
  padding: 15px 0;
}
.text-absolute-image h2 {
  margin: 0 auto;
}
.text-absolute-image .description {
  line-height: 19px;
}
.text-absolute-image .description + * {
  margin-top: 15px;
}
.text-absolute-image.right .content {
  padding: 30px 20px 20px;
}
.text-absolute-image.left .content {
  padding: 30px 30px 20px;
}
header .container-color {
  padding: 16px 20px 10px 10px;
}
header .block-bar {
  max-width: 30px;
}
header .block-bar div {
  height: 2px;
}
footer {
  padding-top: 30px;
}
footer .container-color {
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
}
footer .logo .color {
  max-width: 205px;
}
footer .logo a + * {
  margin-top: 15px;
}
footer .logo .ecotex {
  max-width: 105px;
}
footer .links,
footer .links.svg {
  gap: 10px;
}
footer .links a,
footer .links.svg a {
  font-size: 14px;
  line-height: 20px !important;
}
footer .links:nth-child(4) {
  display: none;
}
footer .links.svg .link {
  justify-content: center;
}
footer .links.svg .link a {
  margin: unset;
}
footer .links.svg svg {
  display: none;
}
footer .container-color + * {
  margin-top: 30px;
}
footer .barra-footer .container-color {
  gap: 5px;
}
footer .barra-footer .box-left a + * {
  margin-left: 3.43vw;
}
footer .barra-footer .logo-codie {
  max-width: 54px;
}
.contato {
  padding: 30px 0;
}
.contato .container-color {
  gap: 15px;
}
.contato input + * {
  margin-top: 7px;
}
.contato .bt {
  max-width: 205px;
}
#banner-home .owl-carousel .owl-stage-outer {
  height: 630px;
}
#banner-home .owl-carousel .item {
  height: 525px;
}
#banner-home .owl-carousel .item .container-color h1 {
  margin-left: 25px;
}
#banner-home .owl-carousel .item .container-color .barra-absolute {
  left: 100px;
  max-width: 300px;
  height: 71px;
  top: 173px;
}
#banner-home .owl-carousel .item .container-color.box {
  max-width: 510px;
  bottom: -105px;
}
#banner-home .owl-carousel .owl-dots {
  bottom: 140px;
}
#teste {
  padding: 20px 0;
}
#teste .title {
  height: 170px;
  padding-top: 30px;
}
#teste .title h2 {
  max-width: 450px;
}
#teste .title .icon-absolute-left {
  display: none;
}
#teste .title .icon-absolute-top {
  display: none;
}
#teste .image {
  margin-top: -45px;
}
#teste .container-color {
  max-width: 90%;
}
#teste .content {
  padding: 17px 15px;
  margin-top: -25px;
  max-width: 75vw;
}
#teste .content .description {
  line-height: 17px;
  font-size: 11px;
}
#teste .content .bt {
  max-width: 171px;
  height: 28px;
  font-size: 11px;
}
#dicas .container-color {
  max-width: 90%;
}
#contato-home {
  margin-top: 20px;
}
#banner-sobre {
  padding: 115px 0 50px;
  background-position: 50% 10px;
}
#banner-sobre .image {
  display: none;
}
#banner-sobre .container-color {
  justify-content: center;
  margin: 0 auto;
}
#banner-sobre .title {
  padding-top: 0;
}
#banner-sobre .title .barra-absolute {
  left: 50%;
  transform: translate(-50%, 0);
  top: 45%;
  max-width: 245px;
  height: 60px;
}
#banner-sobre .title + * {
  margin-top: 30px;
}
#banner-sobre .text {
  text-align: center;
}
#banner-sobre .text .description {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 23px;
  color: #fff;
}
#banner-sobre .text h1 {
  font-size: 40px;
}
#banner-sobre .text span {
  font-size: 55px;
}
#banner-sobre .text a {
  display: flex;
  justify-content: center;
  color: var(--amarelo);
}
#banner-sobre .text a svg {
  max-width: 20px;
  fill: var(--amarelo);
}
#historia {
  padding: 0 0 20px;
}
#historia .container-color {
  max-width: 90%;
  text-align: center;
  justify-content: center;
}
#historia .absolute-right {
  display: none;
}
#historia .image {
  display: none;
}
#historia h2 {
  max-width: 340px;
  margin: 0 auto;
}
#historia h2 + * {
  margin-top: 13px;
}
#historia h3 + * {
  margin-top: 5px;
}
#historia .text {
  padding-top: 0;
}
#missao p {
  line-height: 20px !important;
}
#missao .text-missao {
  padding: 20px 0;
}
#missao .text {
  padding: 25px 0 !important;
}
#produtos-sobre {
  padding: 40px 0;
}
#produtos-sobre a {
  max-width: 355px;
}
#produto-infomacoes {
  padding: 100px 0 15px;
}
#produto-infomacoes [class*='paragrafo-3'] {
  font-size: 11px;
}
#produto-infomacoes .container-color.mobile-sumir {
  display: none;
}
#produto-infomacoes .container-color.mobile-aparecer {
  display: block;
}
#produto-infomacoes .title h2 {
  line-height: 23px;
  font-size: 20px;
}
#produto-infomacoes .title h3 {
  font-size: 12px;
}
#produto-infomacoes .title h3 + * {
  margin-top: 5px;
}
#produto-infomacoes .title + * {
  margin-top: 15px;
}
.container-produto {
  flex-direction: column;
  gap: 17px;
}
.container-produto .image {
  max-width: 100%;
}
.container-produto .title + * {
  margin-top: 12px;
}
.container-produto .content {
  max-width: 570px;
  margin: 0 auto;
}
.container-produto .informacoes + * {
  margin-top: 15px;
}
.container-produto .description {
  text-align: center;
}
#descricao {
  padding: 15px 0;
}
#descricao .box-title {
  max-width: 220px;
  padding: 11px 10px 9px;
}
#descricao .content {
  padding: 25px;
}
#descricao .share h3 {
  display: none;
}
#descricao .share svg {
  max-width: 17px;
}
#descricao .share .midias {
  gap: 10px;
}
#cores .container-color {
  max-width: 90%;
}
#relacionados {
  padding: 15px 0 30px;
}
#relacionados h2 + * {
  margin-top: 15px;
}
#relacionados .container-color {
  max-width: 480px;
}
#banner-produtos {
  height: 300px;
}
#produtos-content {
  padding: 25px 0 50px;
}
#produtos-content .filter {
  flex-wrap: wrap;
  row-gap: 15px;
}
#produtos-content .filter .box-left {
  gap: 10px;
}
#produtos-content .filter + * {
  margin-top: 30px;
}
#produtos-content .container-color {
  max-width: 590px;
}
#grid-produtos {
  gap: 20px;
}
#grid-produtos .box-produto .title h4 {
  font-size: 16px;
}
#contato {
  padding-top: 110px;
}
#blog {
  padding: 110px 0 6.25vw;
}
#blog [class*='link-1'] {
  font-size: 13px;
}
#blog .container-color {
  flex-direction: column;
}
#blog .autor + * {
  margin-top: 7px;
}
#blog .content-preview {
  padding: 15px;
}
#blog .post-title h3 {
  font-size: 26px;
  line-height: 30px;
}
#blog .text-preview p {
  line-height: 20px;
}
#blog .share .midias svg {
  max-width: 18px;
  max-height: 18px;
}
#blog .side-bar .side-box {
  padding: 15px;
}
#blog .side-bar .side-box .content.popular {
  gap: 11px;
}
#blog .paginacao li {
  max-width: 36px;
  max-height: 36px;
}
#blog .image .tag {
  top: 10px;
  right: 10px;
}
#banner-post {
  height: 300px;
  background-position: 12%;
}
#blog.post {
  padding-top: 12px;
}
#blog.post .top-post .container-color {
  gap: 12px;
}
#blog.post .top-post h2 {
  font-size: 29px;
}
#blog.post .text-preview h1,
#blog.post .text-preview h2,
#blog.post .text-preview h3,
#blog.post .text-preview h4,
#blog.post .text-preview h5,
#blog.post .text-preview h6 {
  font-size: 14px;
  line-height: 25px;
}
#blog.post .text-preview p {
  line-height: 19px;
  font-size: 13px;
}
#blog.post .text-preview ul {
  line-height: 19px;
  font-size: 13px;
}
#title-simulador h1,
#title-simulador p {
  text-align: center;
}
#grid-simulador {
  padding-bottom: 40px;
}
#grid-simulador .box-simulador {
  padding: 12px 12px 8px;
}
#title-simulador-interno .list-breadcrumb {
  gap: 7px;
}
#title-simulador-interno .list-breadcrumb li {
  font-size: 11px;
}
#title-simulador-interno + * {
  margin-top: 10px;
}
#simulador-content {
  padding-bottom: 35px;
}
#colors {
  flex-direction: column;
  position: relative;
  padding-bottom: 185px;
}
#corSelecionada.simulador-svg {
  display: flex;
  bottom: 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  max-width: 100%;
}
#corSelecionada.simulador-svg .ball-color.selecionada {
  height: 80px;
}
.informacoes,
#tabs {
  max-width: 100%;
}
#tabs {
  margin: 0 auto;
  padding: 10px;
  gap: 10px;
  width: 100%;
  display: flex;
}
#objetoSelecionado + * {
  margin-top: 5px;
}
.paleta-cores {
  max-width: 100%;
  padding-top: 10px;
}
.ball-color {
  width: 36px;
  height: 36px;
}
#banner-text .title + * {
  margin-top: 15px;
}
#banner-text .search {
  max-width: 250px;
  height: 37px;
}
#banner-text .search input {
  padding: 11px 15px 10px 10px;
}
#banner-text .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#banner-text .search.mobile-sumir {
  display: none;
}
#banner-text .search.mobile-aparecer {
  display: flex;
}
#banner-text + * {
  margin-top: 15px;
}
#colors.simples {
  padding-bottom: 50px;
}
#colors.simples .container-color {
  max-width: 680px;
}
#page-cores .informacoes {
  max-width: 215px;
}
#page-cores .content {
  padding: unset;
  max-width: 100%;
}
#page-cores #corSelecionada .ball-color.selecionada {
  height: 215px;
}
#page-cores #corSelecionada .bt {
  text-align: center;
}
#page-cores .tab-content .tab-content--container {
  gap: 10px;
}
#page-cores #tabs + * {
  margin-top: 29px;
}
#page-cores .paleta-cores .ball-color {
  width: 36px;
  height: 36px;
}
