//COMPONENTES
[class*="container-color"] {
    max-width: 480px;
}

.box-generic {
    max-width: 145px;
    padding: 12px;

    img {
        max-width: 45px;
        max-height: 45px;
    }

    img+* {
        margin-top: 7px;
    }

    h3 {
        font-size: 13px;
    }

    .description {
        font-size: 11px;
    }
}

//SECTIONS
.title-text {
    padding-top: 25px;

    .container-color {
        gap: 12px;
    }

    .content {
        max-width: 94%;
    }

    .description {
        line-height: 19px;
    }
}


//PAGE HOME
#banner-home {
    .owl-carousel {
        .owl-stage-outer {
            height: 630px;
        }

        .item {
            height: 525px;

            .container-color {
                h1 {
                    margin-left: 25px;
                }

                .barra-absolute {
                    left: 100px;
                    max-width: 300px;
                    height: 71px;
                    top: 173px;
                }
            }

            .container-color.box {
                max-width: 510px;
                bottom: -105px;
            }
        }

        .owl-dots {
            bottom: 140px;
        }
    }
}