[class*="container-color"] {
  max-width: 480px;
}
.bt {
  max-width: 170px;
  height: 40px;
}
.box-generic {
  max-width: 145px;
  padding: 12px;
}
.box-generic img {
  max-width: 45px;
  max-height: 45px;
}
.box-generic img + * {
  margin-top: 7px;
}
.box-generic h3 {
  font-size: 13px;
}
.box-generic .description {
  font-size: 11px;
}
.imagem-produto {
  left: 27px;
  max-width: 150px;
  top: 36px;
}
.box-produto {
  padding: 30px 0 20px;
}
.box-produto .container-box {
  max-width: 220px;
}
.box-produto .title h4 {
  font-size: 18px;
}
.box-produto .title + * {
  margin-top: 35px;
}
.box-produto .informacoes h4 {
  font-size: 15px;
}
.box-produto .informacoes h4 + * {
  margin-top: 10px;
}
.box-produto .box-informacoes {
  padding: 8px 0 7px 18px;
}
.bg {
  height: 100px;
}
.title-text {
  padding-top: 25px;
}
.title-text .container-color {
  gap: 12px;
}
.title-text .content {
  max-width: 94%;
}
.title-text .description {
  line-height: 19px;
}
.text-absolute-image {
  padding: 15px 0;
}
.text-absolute-image h2 {
  margin: 0 auto;
}
.text-absolute-image .description {
  line-height: 19px;
}
.text-absolute-image .description + * {
  margin-top: 15px;
}
.text-absolute-image.right .content {
  padding: 30px 20px 20px;
}
.text-absolute-image.left .content {
  padding: 30px 30px 20px;
}
.contato {
  padding: 30px 0;
}
.contato .container-color {
  gap: 15px;
}
.contato input + * {
  margin-top: 7px;
}
.contato .bt {
  max-width: 205px;
}
#banner-home .owl-carousel .owl-stage-outer {
  height: 630px;
}
#banner-home .owl-carousel .item {
  height: 525px;
}
#banner-home .owl-carousel .item .container-color h1 {
  margin-left: 25px;
}
#banner-home .owl-carousel .item .container-color .barra-absolute {
  left: 100px;
  max-width: 300px;
  height: 71px;
  top: 173px;
}
#banner-home .owl-carousel .item .container-color.box {
  max-width: 510px;
  bottom: -105px;
}
#banner-home .owl-carousel .owl-dots {
  bottom: 140px;
}
#teste {
  padding: 20px 0;
}
#teste .title {
  height: 170px;
  padding-top: 30px;
}
#teste .title h2 {
  max-width: 450px;
}
#teste .title .icon-absolute-left {
  display: none;
}
#teste .title .icon-absolute-top {
  display: none;
}
#teste .image {
  margin-top: -45px;
}
#teste .container-color {
  max-width: 90%;
}
#teste .content {
  padding: 17px 15px;
  margin-top: -25px;
  max-width: 75vw;
}
#teste .content .description {
  line-height: 17px;
  font-size: 11px;
}
#teste .content .bt {
  max-width: 171px;
  height: 28px;
  font-size: 11px;
}
#dicas .container-color {
  max-width: 90%;
}
#contato-home {
  margin-top: 20px;
}
#banner-sobre {
  padding: 115px 0 50px;
  background-position: 50% 10px;
}
#banner-sobre .image {
  display: none;
}
#banner-sobre .container-color {
  justify-content: center;
  margin: 0 auto;
}
#banner-sobre .title {
  padding-top: 0;
}
#banner-sobre .title .barra-absolute {
  left: 50%;
  transform: translate(-50%, 0);
  top: 45%;
  max-width: 245px;
  height: 60px;
}
#banner-sobre .title + * {
  margin-top: 30px;
}
#banner-sobre .text {
  text-align: center;
}
#banner-sobre .text .description {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 23px;
  color: #fff;
}
#banner-sobre .text h1 {
  font-size: 40px;
}
#banner-sobre .text span {
  font-size: 55px;
}
#banner-sobre .text a {
  display: flex;
  justify-content: center;
  color: var(--amarelo);
}
#banner-sobre .text a svg {
  max-width: 20px;
  fill: var(--amarelo);
}
#historia {
  padding: 0 0 20px;
}
#historia .container-color {
  max-width: 90%;
  text-align: center;
  justify-content: center;
}
#historia .absolute-right {
  display: none;
}
#historia .image {
  display: none;
}
#historia h2 {
  max-width: 340px;
  margin: 0 auto;
}
#historia h2 + * {
  margin-top: 13px;
}
#historia h3 + * {
  margin-top: 5px;
}
#historia .text {
  padding-top: 0;
}
#missao p {
  line-height: 20px !important;
}
#missao .text-missao {
  padding: 20px 0;
}
#missao .text {
  padding: 25px 0 !important;
}
#produtos-sobre {
  padding: 40px 0;
}
#produtos-sobre a {
  max-width: 355px;
}
#produto-infomacoes {
  padding: 100px 0 15px;
}
#produto-infomacoes [class*='paragrafo-3'] {
  font-size: 11px;
}
#produto-infomacoes .container-color.mobile-sumir {
  display: none;
}
#produto-infomacoes .container-color.mobile-aparecer {
  display: block;
}
#produto-infomacoes .title h2 {
  line-height: 23px;
  font-size: 20px;
}
#produto-infomacoes .title h3 {
  font-size: 12px;
}
#produto-infomacoes .title h3 + * {
  margin-top: 5px;
}
#produto-infomacoes .title + * {
  margin-top: 15px;
}
.container-produto {
  flex-direction: column;
  gap: 17px;
}
.container-produto .image {
  max-width: 100%;
}
.container-produto .title + * {
  margin-top: 12px;
}
.container-produto .content {
  max-width: 570px;
  margin: 0 auto;
}
.container-produto .informacoes + * {
  margin-top: 15px;
}
.container-produto .description {
  text-align: center;
}
#descricao {
  padding: 15px 0;
}
#descricao .box-title {
  max-width: 220px;
  padding: 11px 10px 9px;
}
#descricao .content {
  padding: 25px;
}
#descricao .share h3 {
  display: none;
}
#descricao .share svg {
  max-width: 17px;
}
#descricao .share .midias {
  gap: 10px;
}
#cores .container-color {
  max-width: 90%;
}
#relacionados {
  padding: 15px 0 30px;
}
#relacionados h2 + * {
  margin-top: 15px;
}
#relacionados .container-color {
  max-width: 480px;
}
