[class*="container-color"] {
  max-width: 480px;
}
.bt {
  max-width: 170px;
  height: 40px;
}
.box-generic {
  max-width: 145px;
  padding: 12px;
}
.box-generic img {
  max-width: 45px;
  max-height: 45px;
}
.box-generic img + * {
  margin-top: 7px;
}
.box-generic h3 {
  font-size: 13px;
}
.box-generic .description {
  font-size: 11px;
}
.title-text {
  padding-top: 25px;
}
.title-text .container-color {
  gap: 12px;
}
.title-text .content {
  max-width: 94%;
}
.title-text .description {
  line-height: 19px;
}
.text-absolute-image {
  padding: 15px 0;
}
.text-absolute-image h2 {
  margin: 0 auto;
}
.text-absolute-image .description {
  line-height: 19px;
}
.text-absolute-image .description + * {
  margin-top: 15px;
}
.text-absolute-image.right .content {
  padding: 30px 20px 20px;
}
.contato {
  padding: 30px 0;
}
.contato .container-color {
  gap: 15px;
}
.contato input + * {
  margin-top: 7px;
}
.contato .bt {
  max-width: 205px;
}
#banner-home .owl-carousel .owl-stage-outer {
  height: 630px;
}
#banner-home .owl-carousel .item {
  height: 525px;
}
#banner-home .owl-carousel .item .container-color h1 {
  margin-left: 25px;
}
#banner-home .owl-carousel .item .container-color .barra-absolute {
  left: 100px;
  max-width: 300px;
  height: 71px;
  top: 173px;
}
#banner-home .owl-carousel .item .container-color.box {
  max-width: 510px;
  bottom: -105px;
}
#banner-home .owl-carousel .owl-dots {
  bottom: 140px;
}
#teste {
  padding: 20px 0;
}
#teste .title {
  height: 170px;
  padding-top: 30px;
}
#teste .title h2 {
  max-width: 450px;
}
#teste .title .icon-absolute-left {
  display: none;
}
#teste .title .icon-absolute-top {
  display: none;
}
#teste .image {
  margin-top: -45px;
}
#teste .container-color {
  max-width: 90%;
}
#teste .content {
  padding: 17px 15px;
  margin-top: -25px;
  max-width: 75vw;
}
#teste .content .description {
  line-height: 17px;
  font-size: 11px;
}
#teste .content .bt {
  max-width: 171px;
  height: 28px;
  font-size: 11px;
}
#dicas .container-color {
  max-width: 90%;
}
#contato-home {
  margin-top: 20px;
}
#banner-sobre {
  padding: 115px 0 20px;
  background-position: 10% -98px;
}
#banner-sobre .image {
  display: none;
}
#banner-sobre .container-color {
  justify-content: center;
  margin: 0 auto;
}
#banner-sobre .title {
  padding-top: 0;
}
#banner-sobre .title .barra-absolute {
  top: 58px;
  left: 57px;
  max-width: 360px;
}
#banner-sobre .title + * {
  margin-top: 50px;
}
#banner-sobre .text {
  text-align: center;
}
#banner-sobre .text .description {
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 23px;
}
#banner-sobre .text a {
  display: flex;
  justify-content: center;
}
#banner-sobre .text a img {
  max-width: 20px;
}
