@font-face {
  font-family: 'montserrat';
  src: url('../fonts/Montserrat-Light.ttf') format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: 'montserrat';
  src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'montserrat';
  src: url('../fonts/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'montserrat';
  src: url('../fonts/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
}
@font-face {
  font-family: 'montserrat';
  src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: 'alternates';
  src: url('../fonts/MontserratAlternates-Light.ttf') format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: 'alternates';
  src: url('../fonts/MontserratAlternates-Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'alternates';
  src: url('../fonts/MontserratAlternates-Medium.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'alternates';
  src: url('../fonts/MontserratAlternates-SemiBold.ttf') format('truetype');
  font-weight: 600;
}
@font-face {
  font-family: 'alternates';
  src: url('../fonts/MontserratAlternates-Bold.ttf') format('truetype');
  font-weight: 700;
}
h1,
h2,
h3,
h4,
h5,
p,
span,
strong,
time,
address,
i,
a,
b,
label,
li,
td {
  text-rendering: optimizeLegibility !important;
  margin-bottom: 0 !important;
}
[class*='-montserrat'] {
  font-family: 'montserrat';
}
[class*='-alternates'] {
  font-family: 'alternates';
}
.uppercase {
  text-transform: uppercase;
}
.lowcase {
  text-transform: lowercase;
}
/*Font Weights----------------------------------------------------------*/
[class*='-bold'] {
  font-weight: 700;
}
[class*='-semibold'] {
  font-weight: 600;
}
[class*='-medium'] {
  font-weight: 500;
}
[class*='-regular'] {
  font-weight: 400;
}
[class*='-light'] {
  font-weight: 300;
}
[class*='-italic'] {
  font-style: italic !important;
}
.branco {
  color: #fff;
  fill: #fff;
}
.black {
  color: #000;
  fill: #000;
}
.green {
  color: var(--verde);
  fill: var(--verde);
}
[class*='titulo-1'] {
  font-size: 120px;
}
[class*='titulo-2'] {
  font-size: 64px;
}
[class*='titulo-3'] {
  font-size: 48px;
}
[class*='titulo-4'] {
  font-size: 40px;
}
[class*='titulo-5'] {
  font-size: 32px;
}
[class*='titulo-6'] {
  font-size: 24px;
}
[class*='titulo-7'] {
  font-size: 16px;
}
[class*='paragrafo-1'] {
  font-size: 24px;
}
[class*='paragrafo-2'] {
  font-size: 20px;
}
[class*='paragrafo-3'] {
  font-size: 16px;
}
[class*='link-1'] {
  font-size: 20px;
}
[class*='link-2'] {
  font-size: 16px;
}
[class*='link-3'] {
  font-size: 14px;
}
