@font-face {
  font-family: 'montserrat';
  src: url('../fonts/Montserrat-Light.ttf') format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: 'montserrat';
  src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'montserrat';
  src: url('../fonts/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'montserrat';
  src: url('../fonts/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
}
@font-face {
  font-family: 'montserrat';
  src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: 'alternates';
  src: url('../fonts/MontserratAlternates-Light.ttf') format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: 'alternates';
  src: url('../fonts/MontserratAlternates-Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'alternates';
  src: url('../fonts/MontserratAlternates-Medium.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'alternates';
  src: url('../fonts/MontserratAlternates-SemiBold.ttf') format('truetype');
  font-weight: 600;
}
@font-face {
  font-family: 'alternates';
  src: url('../fonts/MontserratAlternates-Bold.ttf') format('truetype');
  font-weight: 700;
}
h1,
h2,
h3,
h4,
h5,
p,
span,
strong,
time,
address,
i,
a,
b,
label,
li,
td {
  text-rendering: optimizeLegibility !important;
  margin-bottom: 0 !important;
}
[class*='-montserrat'] {
  font-family: 'montserrat';
}
[class*='-alternates'] {
  font-family: 'alternates';
}
.uppercase {
  text-transform: uppercase;
}
.lowcase {
  text-transform: lowercase;
}
/*Font Weights----------------------------------------------------------*/
[class*='-bold'] {
  font-weight: 700;
}
[class*='-semibold'] {
  font-weight: 600;
}
[class*='-medium'] {
  font-weight: 500;
}
[class*='-regular'] {
  font-weight: 400;
}
[class*='-light'] {
  font-weight: 300;
}
[class*='-italic'] {
  font-style: italic !important;
}
.branco {
  color: #fff;
  fill: #fff;
}
.black {
  color: #000;
  fill: #000;
}
.green {
  color: var(--verde);
  fill: var(--verde);
}
[class*='titulo-1'] {
  font-size: 120px;
}
[class*='titulo-2'] {
  font-size: 64px;
}
[class*='titulo-3'] {
  font-size: 48px;
}
[class*='titulo-4'] {
  font-size: 40px;
}
[class*='titulo-5'] {
  font-size: 32px;
}
[class*='titulo-6'] {
  font-size: 24px;
}
[class*='titulo-7'] {
  font-size: 16px;
}
[class*='paragrafo-1'] {
  font-size: 24px;
}
[class*='paragrafo-2'] {
  font-size: 20px;
}
[class*='paragrafo-3'] {
  font-size: 16px;
}
[class*='link-1'] {
  font-size: 20px;
}
[class*='link-2'] {
  font-size: 16px;
}
[class*='link-3'] {
  font-size: 14px;
}
:root {
  --amarelo: #ffd500;
  --verde: #00803e;
  --azul: #16437d;
}
html {
  scroll-behavior: smooth;
}
body {
  background: url(../images/background-body.jpg);
  overflow-x: hidden !important;
  position: relative;
}
*:target,
*:focus {
  outline: transparent !important;
}
a,
button {
  text-decoration: none !important;
  -webkit-transition: 0.22s;
}
a *:not(g, path),
button *:not(g, path) {
  transition: 0.15s;
}
a::after,
a::before {
  -webkit-transition: 0.3s;
}
a:hover::after,
a:hover::before {
  transition: 0.3s;
}
a:hover,
button:hover {
  transition: 0.15s;
}
a:hover *:not(g, path),
button:hover *:not(g, path) {
  transition: 0.15s;
}
ol,
ul {
  list-style: none !important;
  padding-left: 0 !important;
  margin-bottom: 0 !important;
}
.cep-mask,
.cpf-mask,
.cvv-mask,
.phone-mask,
.number-mask,
.date-mask {
  display: block;
}
[class*="container-color"] {
  max-width: 1385px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
body {
  background-color: #f2f2f2;
  position: relative;
}
.sumir {
  display: block;
}
.aparecer {
  display: none !important;
}
.bt {
  max-width: 230px;
  width: 100%;
  height: 60px;
  padding: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bt.full {
  max-width: 360px;
}
.bt.yellow {
  background-color: var(--amarelo);
  color: #000;
}
.box {
  display: flex;
  justify-content: space-between;
}
.box .box-generic {
  max-width: 430px;
  width: 100%;
  padding: 30px 33px;
  text-align: center;
  transition: 0.5s;
}
.box .box-generic img {
  max-width: 80px;
  max-height: 80px;
  width: 100%;
  object-fit: contain;
  margin: 0 auto;
}
.box .box-generic img + * {
  margin-top: 10px;
}
.title-text {
  padding-top: 100px;
  padding-bottom: 34px;
}
.title-text .container-color {
  display: flex;
  justify-content: space-between;
}
.title-text .title {
  max-width: 510px;
  width: 100%;
}
.title-text h3 + * {
  margin-top: 8px;
}
.title-text .content {
  max-width: 545px;
  width: 100%;
  margin-right: 5.99vw;
  padding-top: 30px;
}
.contato {
  margin-top: 50px;
  padding-top: 100px;
  padding-bottom: 70px;
  background-repeat: no-repeat;
  background-size: cover;
}
.contato .container-color {
  display: flex;
  justify-content: space-between;
}
.contato .text {
  max-width: 445px;
  width: 100%;
}
.contato h2 + * {
  margin-top: 52px;
}
.contato .links {
  display: flex;
  align-items: center;
}
.contato .links svg {
  width: 20px;
  object-fit: contain;
  margin-bottom: 1px;
}
.contato .links span + * {
  margin-left: 10px;
}
.contato .links:hover a {
  color: var(--amarelo);
}
.contato .links:hover svg {
  fill: var(--amarelo);
}
.contato .links.text:hover svg {
  fill: #fff;
}
.contato .links + * {
  margin-top: 18px;
}
.contato .links.base {
  align-self: baseline;
  align-items: unset;
}
.contato .links.base svg {
  margin-bottom: unset;
}
.contato form {
  max-width: 775px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.contato input::placeholder,
.contato textarea::placeholder {
  color: #383838;
  opacity: 0.5;
}
.contato input,
.contato textarea {
  background-color: #f5f5f5;
  border: unset;
  padding: 19px 15px 17px 20px;
}
.contato textarea {
  height: 145px;
  resize: none;
}
.contato label + * {
  margin-top: 6px;
}
.contato input + *,
.contato textarea + * {
  margin-top: 20px;
}
.contato .actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contato button {
  border: unset;
}
header {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  width: 100%;
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
}
header .container-color {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}
header a {
  position: relative;
}
header nav {
  height: 30px;
}
header a:hover {
  color: #fff;
}
header a::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: currentColor;
  position: absolute;
  bottom: -3px;
  left: 0;
}
header a:hover::after {
  width: 100%;
}
header a + * {
  margin-left: 3.62vw;
}
#banner-home .owl-carousel {
  position: relative;
}
#banner-home .owl-carousel .owl-stage-outer {
  height: 1050px;
}
#banner-home .owl-carousel .item {
  height: 900px;
}
#banner-home .owl-carousel .item .container-color {
  position: relative;
  padding-top: 183px;
}
#banner-home .owl-carousel .item .container-color h1 {
  line-height: 1;
  max-width: 698px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 5;
}
#banner-home .owl-carousel .item .container-color h1 span {
  margin-left: 75px;
}
#banner-home .owl-carousel .item .container-color .barra-absolute {
  position: absolute;
  max-width: 570px;
  height: 107px;
  width: 100%;
  top: 276px;
  left: 405px;
}
#banner-home .owl-carousel .item .container-color.box {
  position: absolute;
  bottom: -150px;
  left: 50%;
  transform: translate(-50%, 0);
}
#banner-home .owl-carousel .item .container-color.box .box {
  width: 100%;
}
#banner-home .owl-carousel .owl-dots {
  position: absolute;
  bottom: 225px;
  left: 50%;
  transform: translate(-50%, 0);
}
#banner-home .owl-carousel .owl-dot.active span {
  background: var(--amarelo);
}
#banner-home .owl-carousel .item.green .container-color .barra-absolute {
  background-color: var(--verde);
}
#banner-home .owl-carousel .item.green .box-generic {
  background-color: var(--verde);
}
#banner-home .owl-carousel .item.green .box-generic:hover {
  background-color: #003a1c;
}
#banner-home .owl-carousel .item.blue .container-color .barra-absolute {
  background-color: var(--azul);
}
#banner-home .owl-carousel .item.blue .box-generic {
  background-color: var(--azul);
}
#banner-home .owl-carousel .item.blue .box-generic:hover {
  background-color: #062f68;
}
#banner-home .owl-carousel .item.yellow .container-color .barra-absolute {
  background-color: var(--amarelo);
}
#banner-home .owl-carousel .item.yellow .box-generic {
  background-color: var(--amarelo);
}
#banner-home .owl-carousel .item.yellow .box-generic:hover {
  background-color: #d3b001;
}
#sobre .title span {
  background-color: var(--verde);
  padding-left: 6px;
  padding-right: 9px;
}
#tintas {
  padding-top: 34px;
  padding-bottom: 60px;
}
#tintas .grid-tintas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
#tintas .box-tintas {
  max-width: 430px;
  position: relative;
}
#tintas .image {
  max-width: 430px;
  overflow: hidden;
}
#tintas .image img {
  width: 100%;
  object-fit: cover;
  transition: 0.5s all ease-in-out;
}
#tintas .box-tintas:hover img {
  transform: scale(1.1);
  object-fit: cover;
}
#tintas .content {
  max-width: 200px;
  width: 100%;
  background-color: var(--amarelo);
  display: flex;
  justify-content: center;
  padding: 18px 0;
  position: absolute;
  bottom: 0;
  left: 0;
}
#cores {
  padding-top: 60px;
  padding-bottom: 50px;
}
#cores .container-color {
  position: relative;
  display: flex;
  justify-content: flex-end;
}
#cores .absolute-image {
  position: absolute;
  top: 0;
  left: 0;
}
#cores .content {
  max-width: 1005px;
  width: 100%;
  background-color: #fff;
  padding: 85px 0;
  padding-left: 230px;
}
#cores h2 {
  max-width: 575px;
  width: 100%;
}
#cores h2 span {
  background-color: var(--verde);
  padding: 0 5px;
}
#cores h2 + * {
  margin-top: 29px;
}
#cores .description {
  line-height: 24px;
  max-width: 660px;
}
#cores .description + * {
  margin-top: 47px;
}
#teste {
  padding: 50px 0;
}
#teste .title {
  background-color: var(--verde);
  height: 465px;
  padding-top: 80px;
  position: relative;
}
#teste .title .icon-absolute-left {
  position: absolute;
  bottom: 98px;
  left: 109px;
  z-index: 10;
  max-width: 352px;
  width: 100%;
  object-fit: contain;
}
#teste .title .icon-absolute-top {
  position: absolute;
  top: -100px;
  right: -10px;
  max-width: 285px;
  width: 100%;
  object-fit: contain;
}
#teste .title .container-color {
  display: flex;
  justify-content: center;
}
#teste .title h2 {
  max-width: 660px;
  width: 100%;
  text-align: center;
}
#teste .image {
  max-width: 1350px;
  margin-top: -205px;
  position: relative;
  z-index: 2;
}
#teste .image img {
  width: 100%;
  object-fit: contain;
}
#teste .content {
  padding: 60px 115px;
  background-color: #fff;
  max-width: 58.33vw;
  width: 100%;
  margin: 0 auto;
  margin-top: -110px;
  position: relative;
  z-index: 3;
  text-align: center;
}
#teste .content .description {
  line-height: 24px;
}
#teste .content a {
  margin: 0 auto;
}
#teste .content .description + * {
  margin-top: 25px;
}
#dicas {
  padding: 50px 0;
}
#dicas h2 {
  text-align: center;
}
#dicas h2 span {
  background-color: var(--verde);
  padding-left: 7px;
  padding-right: 4px;
}
#dicas p {
  max-width: 660px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
#dicas h2 + * {
  margin-top: 28px;
}
#dicas .title + * {
  margin-top: 35px;
}
#dicas .box {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
#dicas .box-dicas {
  padding: 20px 20px 40px;
  background-color: #fff;
  text-align: center;
}
#dicas .box-dicas .text {
  max-width: 350px;
  width: 100%;
  margin: 0 auto;
}
#dicas .box-dicas a {
  margin: 0 auto;
}
#dicas .box-dicas .image + * {
  margin-top: 18px;
}
#dicas .box-dicas h4 + * {
  margin-top: 9px;
}
#dicas .box-dicas h3 + * {
  margin-top: 15px;
}
#dicas .box-dicas .description + * {
  margin-top: 29px;
}
