@import "./fonts";

:root {
  --amarelo: #ffd500;
  --verde: #00803e;
  --azul: #16437d;
}

html {
  scroll-behavior: smooth;
}

body {
  background: url(../images/background-body.jpg);
  overflow-x: hidden !important;
  position: relative;
}

*:target,
*:focus {
  outline: transparent !important;
}

a,
button {
  text-decoration: none !important;
  -webkit-transition: 0.22s;

  *:not(g, path) {
    transition: 0.15s;
  }
}

a::after,
a::before {
  -webkit-transition: 0.3s;
}

a:hover::after,
a:hover::before {
  transition: 0.3s;
}

a:hover,
button:hover {
  transition: 0.15s;

  *:not(g, path) {
    transition: 0.15s;
  }
}

ol,
ul {
  list-style: none !important;
  padding-left: 0 !important;
  margin-bottom: 0 !important;
}

.cep-mask,
.cpf-mask,
.cvv-mask,
.phone-mask,
.number-mask,
.date-mask {
  display: block;
}



//COMPONENTES
[class*="container-color"] {
  max-width: 1385px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: #f2f2f2;
  position: relative;
}

.sumir {
  display: block;
}

.aparecer {
  display: none !important;
}

.bt {
  max-width: 230px;
  width: 100%;
  height: 60px;
  padding: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bt.full {
  max-width: 360px;
}

.bt.yellow {
  background-color: var(--amarelo);
  color: #000;
}

.box {
  display: flex;
  justify-content: space-between;

  .box-generic {
    max-width: 430px;
    width: 100%;
    padding: 30px 33px;
    text-align: center;
    transition: .5s;


    img {
      max-width: 80px;
      max-height: 80px;
      width: 100%;
      object-fit: contain;
      margin: 0 auto;
    }

    img+* {
      margin-top: 10px;
    }
  }
}

.title-text {
  padding-top: 100px;
  padding-bottom: 34px;

  .container-color {
    display: flex;
    justify-content: space-between;
  }

  .title {
    max-width: 510px;
    width: 100%;
  }

  h3+* {
    margin-top: 8px;
  }

  .content {
    max-width: 545px;
    width: 100%;
    margin-right: 5.99vw;
    padding-top: 30px;
  }
}

.contato {
  margin-top: 50px;
  padding-top: 100px;
  padding-bottom: 70px;
  background-repeat: no-repeat;
  background-size: cover;


  .container-color {
    display: flex;
    justify-content: space-between;

  }

  .text {
    max-width: 445px;
    width: 100%;
  }

  h2+* {
    margin-top: 52px;
  }

  .links {
    display: flex;
    align-items: center;

    svg {
      width: 20px;
      object-fit: contain;
      margin-bottom: 1px;
    }

    span+* {
      margin-left: 10px;
    }
  }

  .links:hover {
    a {
      color: var(--amarelo);
    }

    svg {
      fill: var(--amarelo);
    }
  }

  .links.text:hover {
    svg {
      fill: #fff;
    }
  }

  .links+* {
    margin-top: 18px;
  }

  .links.base {
    align-self: baseline;
    align-items: unset;

    svg {
      margin-bottom: unset;
    }
  }

  form {
    max-width: 775px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  input::placeholder,
  textarea::placeholder {
    color: #383838;
    opacity: .5;
  }

  input,
  textarea {
    background-color: #f5f5f5;
    border: unset;
    padding: 19px 15px 17px 20px;
  }

  textarea {
    height: 145px;
    resize: none;
  }

  label+* {
    margin-top: 6px;
  }

  input+*,
  textarea+* {
    margin-top: 20px;
  }

  .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  button {
    border: unset;
  }
}

header {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  width: 100%;
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;

  .container-color {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  a {
    position: relative;
  }

  nav {
    height: 30px;
  }

  a:hover {
    color: #fff;
  }

  a::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: currentColor;
    position: absolute;
    bottom: -3px;
    left: 0;
  }

  a:hover::after {
    width: 100%;
  }

  a+* {
    margin-left: 3.62vw;
  }
}



//SECTIONS


//PAGE HOME
#banner-home {
  .owl-carousel {
    position: relative;

    .owl-stage-outer {
      height: 1050px;
    }

    .item {
      height: 900px;

      .container-color {
        position: relative;
        padding-top: 183px;

        h1 {
          line-height: 1;
          max-width: 698px;
          width: 100%;
          margin: 0 auto;
          position: relative;
          z-index: 5;

          span {
            margin-left: 75px;
          }
        }

        .barra-absolute {
          position: absolute;
          max-width: 570px;
          height: 107px;
          width: 100%;
          top: 276px;
          left: 405px;
        }
      }

      .container-color.box {
        position: absolute;
        bottom: -150px;
        left: 50%;
        transform: translate(-50%, 0);

        .box {
          width: 100%;
        }
      }
    }

    .owl-dots {
      position: absolute;
      bottom: 225px;
      left: 50%;
      transform: translate(-50%, 0);
    }

    .owl-dot.active {
      span {
        background: var(--amarelo);
      }
    }

    .item.green {
      .container-color {
        .barra-absolute {
          background-color: var(--verde);
        }
      }

      .box-generic {
        background-color: var(--verde);

      }

      .box-generic:hover {
        background-color: #003a1c;
      }
    }

    .item.blue {
      .container-color {
        .barra-absolute {
          background-color: var(--azul);
        }
      }

      .box-generic {
        background-color: var(--azul);
      }

      .box-generic:hover {
        background-color: #062f68;
      }
    }

    .item.yellow {
      .container-color {
        .barra-absolute {
          background-color: var(--amarelo);
        }
      }

      .box-generic {
        background-color: var(--amarelo);
      }

      .box-generic:hover {
        background-color: #d3b001;
      }
    }
  }
}

#sobre {
  .title {
    span {
      background-color: var(--verde);
      padding-left: 6px;
      padding-right: 9px;
    }
  }
}

#tintas {
  padding-top: 34px;
  padding-bottom: 60px;

  .grid-tintas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }

  .box-tintas {
    max-width: 430px;
    position: relative;
  }

  .image {
    max-width: 430px;
    overflow: hidden;

    img {
      width: 100%;
      object-fit: cover;
      transition: 0.5s all ease-in-out;
    }
  }

  .box-tintas:hover {
    img {
      transform: scale(1.1);
      object-fit: cover;
    }
  }

  .content {
    max-width: 200px;
    width: 100%;
    background-color: var(--amarelo);
    display: flex;
    justify-content: center;
    padding: 18px 0;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

#cores {
  padding-top: 60px;
  padding-bottom: 50px;

  .container-color {
    position: relative;
    display: flex;
    justify-content: flex-end;
  }

  .absolute-image {
    position: absolute;
    top: 0;
    left: 0;
  }

  .content {
    max-width: 1005px;
    width: 100%;
    background-color: #fff;
    padding: 85px 0;
    padding-left: 230px;
  }

  h2 {
    max-width: 575px;
    width: 100%;

    span {
      background-color: var(--verde);
      padding: 0 5px;
    }
  }

  h2+* {
    margin-top: 29px;
  }

  .description {
    line-height: 24px;
    max-width: 660px;
  }

  .description+* {
    margin-top: 47px;
  }
}

#teste {
  padding: 50px 0;

  .title {
    background-color: var(--verde);
    height: 465px;
    padding-top: 80px;
    position: relative;

    .icon-absolute-left {
      position: absolute;
      bottom: 98px;
      left: 109px;
      z-index: 10;
      max-width: 352px;
      width: 100%;
      object-fit: contain;
    }

    .icon-absolute-top {
      position: absolute;
      top: -100px;
      right: -10px;
      max-width: 285px;
      width: 100%;
      object-fit: contain;
    }

    .container-color {
      display: flex;
      justify-content: center;
    }

    h2 {
      max-width: 660px;
      width: 100%;
      text-align: center;
    }
  }

  .image {
    max-width: 1350px;
    margin-top: -205px;
    position: relative;
    z-index: 2;

    img {
      width: 100%;
      object-fit: contain;
    }
  }

  .content {
    padding: 60px 115px;
    background-color: #fff;
    max-width: 58.33vw;
    width: 100%;
    margin: 0 auto;
    margin-top: -110px;
    position: relative;
    z-index: 3;
    text-align: center;

    .description {
      line-height: 24px;
    }

    a {
      margin: 0 auto;
    }

    .description+* {
      margin-top: 25px;
    }
  }
}

#dicas {
  padding: 50px 0;

  h2 {
    text-align: center;

    span {
      background-color: var(--verde);
      padding-left: 7px;
      padding-right: 4px;
    }
  }

  p {
    max-width: 660px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }

  h2+* {
    margin-top: 28px;
  }

  .title+* {
    margin-top: 35px;
  }

  .box {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }

  .box-dicas {
    padding: 20px 20px 40px;
    background-color: #fff;
    text-align: center;

    .text {
      max-width: 350px;
      width: 100%;
      margin: 0 auto;
    }

    a {
      margin: 0 auto;
    }

    .image+* {
      margin-top: 18px;
    }

    h4+* {
      margin-top: 9px;
    }

    h3+* {
      margin-top: 15px;
    }

    .description+* {
      margin-top: 29px;
    }
  }
}


// @media only screen and (max-width: 1600px) {
//   @import "responsive/1600";
// }

// @media only screen and (max-width: 1400px) {
//   @import "responsive/1400";
// }

// @media only screen and (max-width: 1200px) {
//   @import "responsive/1200";
// }

// @media only screen and (max-width: 1024px) {
//   @import "responsive/1024";

//   .sumir {
//     display: none;
//   }

//   .aparecer {
//     display: block;
//   }
// }

// @media only screen and (max-width: 768px) {
//   @import "responsive/768";
// }

// @media only screen and (max-width: 500px) {
//   @import "responsive/500";
// }