@import "./fonts";

:root {
  --amarelo: #ffd500;
  --verde: #00803e;
  --azul: #16437d;
  --azul-escuro: #003050;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f2f2f2;
  overflow-x: hidden !important;
  position: relative;
}

*:target,
*:focus {
  outline: transparent !important;
}

a,
button {
  text-decoration: none !important;
  -webkit-transition: 0.22s;

  *:not(g, path) {
    transition: 0.15s;
  }
}

a::after,
a::before {
  -webkit-transition: 0.3s;
}

a:hover::after,
a:hover::before {
  transition: 0.3s;
}

a:hover,
button:hover {
  transition: 0.15s;

  *:not(g, path) {
    transition: 0.15s;
  }
}

ol,
ul {
  list-style: none !important;
  padding-left: 0 !important;
  margin-bottom: 0 !important;
}

.cep-mask,
.cpf-mask,
.cvv-mask,
.phone-mask,
.number-mask,
.date-mask {
  display: block;
}

//COMPONENTES
[class*="container-color"] {
  max-width: 1385px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: #f2f2f2;
  position: relative;
}

.sumir {
  display: block;
}

.aparecer {
  display: none !important;
}

.bt {
  max-width: 230px;
  width: 100%;
  height: 60px;
  padding: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bt.full {
  max-width: 360px;
}

.bt.yellow {
  background-color: var(--amarelo);
  color: #000;
}

.box {
  display: flex;
  justify-content: space-between;

  .box-generic {
    max-width: 430px;
    width: 100%;
    padding: 30px 33px;
    text-align: center;
    transition: .5s;

    img {
      max-width: 80px;
      max-height: 80px;
      width: 100%;
      object-fit: contain;
      margin: 0 auto;
    }

    img+* {
      margin-top: 10px;
    }
  }
}

.box-catalogo {
  max-width: 315px;
  width: 100%;
  padding: 40px 30px 29px;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  background-color: #ffffff;

  img {
    max-width: 60px;
    width: 100%;
    object-fit: contain;
  }

  h3 {
    color: #313132;
    margin-bottom: 12px !important;
  }

  img+* {
    margin-top: 35px;
  }

  a {
    text-decoration: underline !important;
    color: var(--verde);
  }

}

.imagem-produto {
  position: absolute;
  top: 30px;
  left: 50px;
  z-index: 5;
  max-width: 216px;
  width: 100%;
  object-fit: contain;
}

.box-produto {
  max-width: 660px;
  width: 100%;
  padding: 40px 0 34px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: #fff;
  cursor: pointer;

  .container-box {
    max-width: 345px;
    width: 100%;
    position: relative;
    z-index: 5;
  }

  .title+* {
    margin-top: 47px;
  }

  .informacoes {
    h4+* {
      margin-top: 13px;
    }
  }

  .box-informacoes {
    padding: 9px 0 8px 20px;
    background-color: #dce1e7;
  }

  .box-informacoes+.box-informacoes {
    margin-top: 10px;
  }
}

.box-produto:hover {
  .bg {
    opacity: .9;
  }
}

.bg {
  max-width: 660px;
  width: 100%;
  height: 138px;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.box-produto.green {
  .bg {
    background-color: var(--verde);
  }

  .title {
    color: #fff;
  }

  .informacoes {
    h4 {
      color: var(--verde);
    }
  }
}

.box-produto.blue {
  .bg {
    background-color: var(--azul);
  }

  .title {
    color: #fff;
  }

  .informacoes {
    h4 {
      color: var(--azul);
    }
  }
}

.box-produto.yellow {
  .bg {
    background-color: var(--amarelo);
  }

  .title {
    color: #000;
  }

  .informacoes {
    h4 {
      color: #000;
    }
  }
}

.paginacao {
  display: flex;
  gap: 1.56vw;
  justify-content: center;
  margin-top: 3vw;

  li {
    max-width: 42px;
    width: 100%;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--verde);
    border-radius: 10px;
    padding: 10px;

    li,
    a,
    span {
      color: #fff;
    }
  }

  li.selected {
    background-color: var(--azul);

    a {
      color: #fff;
    }
  }
}

.list-breadcrumb {
  display: flex;
  gap: 10px;

  a {
    margin-right: 10px;
    color: #003050;
    opacity: .5;
  }

  li::after {
    content: ">";
    color: #003050;
    opacity: .5;
  }

  li:last-child::after {
    display: none;

    span {
      margin-right: unset;
    }
  }
}

//FILTROS COMPONENTS
.dropdown-menu {
  min-width: 100%;
}

.bt-filtro {
  border: 1px solid #000000;
  background-color: transparent;
  width: 185px;
  padding: 16px 20px 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bt-filtro.full {
  width: 225px;
}

.bt-ordenar {
  border: unset;
  border-bottom: 1px solid #000;
  background-color: transparent;
  width: 295px;
  padding: 16px 10px 14px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-toggle::after {
  display: none !important;
}

.dropdown-menu {
  top: 53px;
  min-width: 100% !important;

  li {
    padding: 10px !important;

    a {
      font-weight: 600 !important;
    }
  }
}

.dropdown-menu:last-child {
  padding-bottom: unset;
}

//SECTIONS
.title-text {
  padding-top: 100px;
  padding-bottom: 34px;

  .container-color {
    display: flex;
    justify-content: space-between;
  }

  .title {
    max-width: 510px;
    width: 100%;
  }

  h3+* {
    margin-top: 8px;
  }

  .content {
    max-width: 545px;
    width: 100%;
    margin-right: 5.99vw;
    padding-top: 30px;
  }
}

.contato {
  padding-top: 100px;
  padding-bottom: 70px;
  background-repeat: no-repeat;
  background-size: cover;


  .container-color {
    display: flex;
    justify-content: space-between;

  }

  .text {
    max-width: 445px;
    width: 100%;
  }

  h2+* {
    margin-top: 52px;
  }

  .links {
    display: flex;
    align-items: center;
    max-width: 312px;
    width: 100%;

    svg {
      width: 20px;
      object-fit: contain;
      margin-bottom: 1px;
    }

    span+* {
      margin-left: 10px;
    }
  }

  .links:hover {
    a {
      color: var(--amarelo);
    }

    svg {
      fill: var(--amarelo);
    }
  }

  .links.text:hover {
    svg {
      fill: #fff;
    }
  }

  .links+* {
    margin-top: 18px;
  }

  .links.base {
    align-self: baseline;
    align-items: unset;

    svg {
      margin-bottom: unset;
    }
  }

  form {
    max-width: 775px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  input::placeholder,
  textarea::placeholder {
    color: #383838;
    opacity: .5;
  }

  input,
  textarea {
    background-color: #f5f5f5;
    border: unset;
    padding: 19px 15px 17px 20px;
  }

  textarea {
    height: 145px;
    resize: none;
  }

  label+* {
    margin-top: 6px;
  }

  input+*,
  textarea+* {
    margin-top: 20px;
  }

  .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  button {
    border: unset;
  }
}

.text-absolute-image {
  padding-top: 60px;
  padding-bottom: 50px;

  .container-color {
    position: relative;
    display: flex;
  }

  .absolute-image {
    position: absolute;
  }

  .content {
    max-width: 1005px;
    width: 100%;
    background-color: #fff;
    padding: 85px 0;
  }

  h2 {
    max-width: 575px;
    width: 100%;

    span {
      background-color: var(--verde);
      padding: 0 5px;
    }
  }

  h2+* {
    margin-top: 29px;
  }

  .description {
    line-height: 24px;
    max-width: 660px;
  }

  .description+* {
    margin-top: 47px;
  }
}

.text-absolute-image.right {
  .absolute-image {
    top: 0;
    left: 0;
  }

  .container-color {
    justify-content: flex-end;
  }

  .content {
    padding-left: 230px;
  }
}

.text-absolute-image.left {
  .absolute-image {
    top: 0;
    right: 0;
  }

  .container-color {
    justify-content: flex-start;
  }

  .content {
    padding-right: 230px;
    padding-left: 115px;
  }
}

header {
  width: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 99;
  top: 0; 
  left: 0;
  z-index: 3;

  .container-color {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .logo {
    max-width: 290px;
    width: 100%;
    height: 55px;
  }

  .logo::after {
    display: none;
  }

  a {
    position: relative;
  }

  a+nav {
    margin-left: 55px;
  }

  nav {
    height: 30px;

    a+* {
      margin-left: 60px;
    }
  }

  a:hover {
    color: #fff;
  }

  a::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: currentColor;
    position: absolute;
    bottom: -3px;
    left: 0;
  }

  a:hover::after {
    width: 100%;
  }
}

footer {
  background-color: var(--azul);
  padding-top: 50px;

  .container-color {
    display: flex;
    justify-content: space-between;
  }

  .logo {
    max-width: 260px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .color {
      width: 100%;
      object-fit: contain;
    }

    .ecotex {
      width: 100%;
      object-fit: contain;
      display: flex;
      justify-content: center;
    }

    a+* {
      margin-top: 20px;
    }
  }

  .links {
    display: flex;
    flex-direction: column;
    gap: 23px;

    a:hover {
      color: var(--amarelo);
    }
  }

  .links.svg {
    max-width: 240px;
    width: 100%;
    gap: 8px;

    .link {
      display: flex;
      align-items: center;

      a {
        display: block;
        line-height: 24px;
        margin-top: 3px;
      }

      span+* {
        margin-left: 7px;
      }
    }

    .link:hover {
      a {
        color: var(--amarelo);
      }

      svg {
        fill: var(--amarelo);
      }
    }
  }

  .redes {
    h3+* {
      margin-top: 9px;
    }

    .link-redes {
      display: flex;
      gap: 13px;

      a:hover {
        svg {
          fill: #fff;
        }
      }
    }
  }

  .container-color+* {
    margin-top: 80px;
  }

  .barra-footer {
    padding-bottom: 7px;
    display: flex;
    justify-content: space-between;

    a,
    h3 {
      opacity: .6;
    }

    .box-left {
      a+* {
        margin-left: 4.43vw;
      }
    }

    .box-right {
      display: flex;
      align-items: center;
      gap: 8px;

      h3 {
        margin-top: 4px;
      }
    }
  }

}

//PAGE HOME
#banner-home {
  .owl-carousel {
    position: relative;

    .owl-stage-outer {
      height: 1050px;
    }

    .item {
      height: 900px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top;
      width: 100%;

      .container-color {
        position: relative;
        padding-top: 183px;

        h1 {
          line-height: 1;
          max-width: 698px;
          width: 100%;
          margin: 0 auto;
          margin-left: 375px;
          position: relative;
          z-index: 5;

          span {
            margin-left: 75px;
          }
        }

        .barra-absolute {
          position: absolute;
          max-width: 500px;
          height: 110px;
          width: 100%;
          left: 440px;
          top: 264px;
        }
      }

      .container-color.box {
        position: absolute;
        bottom: -150px;
        left: 50%;
        transform: translate(-50%, 0);

        .box {
          width: 100%;
        }
      }
    }

    .owl-dots {
      position: absolute;
      bottom: 225px;
      left: 50%;
      transform: translate(-50%, 0);
    }

    .owl-dot.active {
      span {
        background: var(--amarelo);
      }
    }

    .item.green {
      .container-color {
        .barra-absolute {
          background-color: var(--verde);
        }
      }

      .box-generic {
        background-color: var(--verde);

      }

      .box-generic:hover {
        background-color: #003a1c;
      }
    }

    .item.blue {
      .container-color {
        .barra-absolute {
          background-color: var(--azul);
        }
      }

      .box-generic {
        background-color: var(--azul);
      }

      .box-generic:hover {
        background-color: #062f68;
      }
    }

    .item.yellow {
      .container-color {
        .barra-absolute {
          background-color: var(--amarelo);
        }
      }

      .box-generic {
        background-color: var(--amarelo);
      }

      .box-generic:hover {
        background-color: #d3b001;
      }
    }
  }
}

#sobre {
  .title {
    span {
      background-color: var(--verde);
      padding-left: 6px;
      padding-right: 9px;
    }
  }
}

#tintas {
  padding-top: 34px;
  padding-bottom: 60px;

  .grid-tintas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }

  .box-tintas {
    max-width: 430px;
    position: relative;
  }

  .image {
    max-width: 430px;
    overflow: hidden;

    img {
      width: 100%;
      object-fit: cover;
      transition: 0.5s all ease-in-out;
    }
  }

  .box-tintas:hover {
    img {
      transform: scale(1.1);
      object-fit: cover;
    }
  }

  .content {
    max-width: 200px;
    width: 100%;
    background-color: var(--amarelo);
    display: flex;
    justify-content: center;
    padding: 18px 0;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

#teste {
  padding: 50px 0;

  .title {
    background-color: var(--verde);
    height: 465px;
    padding-top: 80px;
    position: relative;

    .icon-absolute-left {
      position: absolute;
      bottom: 98px;
      left: 109px;
      z-index: 10;
      max-width: 352px;
      width: 100%;
      object-fit: contain;
    }

    .icon-absolute-top {
      position: absolute;
      top: -100px;
      right: -10px;
      max-width: 285px;
      width: 100%;
      object-fit: contain;
    }

    .container-color {
      display: flex;
      justify-content: center;
    }

    h2 {
      max-width: 660px;
      width: 100%;
      text-align: center;
    }
  }

  .image {
    max-width: 1350px;
    margin-top: -205px;
    position: relative;
    z-index: 2;

    img {
      width: 100%;
      object-fit: contain;
    }
  }

  .content {
    padding: 60px 115px;
    background-color: #fff;
    max-width: 58.33vw;
    width: 100%;
    margin: 0 auto;
    margin-top: -110px;
    position: relative;
    z-index: 3;
    text-align: center;

    .description {
      line-height: 24px;
    }

    a {
      margin: 0 auto;
    }

    .description+* {
      margin-top: 25px;
    }
  }
}

#dicas {
  padding: 50px 0;

  h2 {
    text-align: center;

    span {
      background-color: var(--verde);
      padding-left: 7px;
      padding-right: 4px;
    }
  }

  p {
    max-width: 660px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }

  h2+* {
    margin-top: 28px;
  }

  .title+* {
    margin-top: 35px;
  }

  .box {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }

  .box-dicas {
    padding: 20px 20px 40px;
    background-color: #fff;
    text-align: center;

    .text {
      max-width: 350px;
      width: 100%;
      margin: 0 auto;
    }

    a {
      margin: 0 auto;
    }

    .image+* {
      margin-top: 18px;
    }

    h4+* {
      margin-top: 9px;
    }

    h3+* {
      margin-top: 15px;
    }

    .description+* {
      margin-top: 29px;
    }
  }
}

#contato-home {
  margin-top: 50px;
}

//PAGE SOBRE 
#banner-sobre {
  background-repeat: no-repeat;
  padding-top: 235px;
  padding-bottom: 45px;

  .container-color {
    max-width: 1660px;
    padding-right: 0;
    margin: 0 0 0 auto;

    display: flex;
    justify-content: space-between;
  }

  .title {
    position: relative;
    padding-top: 40px;

    h1 {
      position: relative;
      z-index: 5;
      line-height: 1;
    }

    .barra-absolute {
      position: absolute;
      background-color: var(--azul);
      max-width: 488px;
      width: 100%;
      height: 107px;
      top: 125px;
      left: -20px;
    }
  }

  .title+* {
    margin-top: 285px;
  }

  .description {
    line-height: 32px;
    max-width: 545px;
    width: 100%;
    margin-bottom: 105px;
  }

  .scroll {
    display: flex;
    align-items: center;

    p {
      margin-top: 2px;
    }

    img {
      max-width: 24px;
      width: 100%;
      object-fit: contain;
    }

    img+* {
      margin-left: 10px;
    }
  }

  .image {
    max-width: 960px;

    img {
      width: 100%;
      object-fit: cover;
    }
  }
}

#historia {
  padding-top: 45px;
  padding-bottom: 50px;
  position: relative;

  .absolute-right {
    position: absolute;
    right: 0;
    top: -45px;
  }

  .container-color {
    display: flex;
    gap: 80px;
  }

  .image {
    max-width: 615px;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  .text {
    max-width: 545px;
    width: 100%;
    padding-top: 55px;
  }

  h2 {
    span {
      background-color: var(--verde);
      padding-left: 5px;
      padding-right: 4px;
    }
  }

  h2+* {
    margin-top: 40px;
  }
}

#sustentabilidade {
  padding-bottom: 110px;

  .absolute-image {
    right: 65px;
  }
}

#missao {
  display: flex;

  .text-missao {
    max-width: 830px;
    width: 100%;
    padding: 130px 0;
    background-color: var(--verde);
    opacity: 0.9;

    .container-color {
      max-width: 460px;
      margin-right: 115px;
    }

    h2+* {
      margin-top: 17px;
    }

    p {
      line-height: 24px;
    }
  }

  .content {
    width: 100%;
  }

  .text {
    max-height: 292px;
    height: 100%;

    .container-color {
      max-width: 745px;
      margin-left: 60px;
    }

    h2+* {
      margin-top: 17px;
    }

    p {
      line-height: 24px;
    }
  }

  .text.visao {
    padding: 80px 0;

    background-color: var(--azul);
    opacity: .9;
  }

  .text.valores {
    padding: 62px 0 79px;

    background-color: #4a4a4a;
    opacity: .9;
  }
}

#produtos-sobre {
  padding: 100px 0;

  a {
    max-width: 430px;
  }
}

//PAGE PRODUTOS 
#banner-produtos {
  height: 731px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;

  .container-color {
    padding-left: 30px;
  }

  h1 {
    color: #fff;
  }
}

#produtos-content {
  padding-top: 40px;
  padding-bottom: 100px;

  .filter {
    display: flex;
    justify-content: space-between;

    .box-left {
      display: flex;
      gap: 30px;
    }
  }

  .filter+* {
    margin-top: 60px;
  }
}

#grid-produtos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

//PAGE PRODUTO 
#produto-infomacoes {
  padding-top: 180px;
  padding-bottom: 40px;



  .list+* {
    margin-top: 15px;
  }
}

.container-produto {
  display: flex;
  justify-content: space-between;

  .image {
    width: 745px;

    img {
      width: 100%;
      object-fit: contain;
    }
  }

  .content {
    max-width: 545px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .title {
    h2 {
      color: #003050;
      line-height: 58px;
    }
  }

  .box-informacao-produto {
    max-width: 545px;
    width: 100%;
    background-color: #dce1e7;
    display: flex;
    justify-content: center;
    padding: 15px 10px 18px;
  }

  .description {
    line-height: 24px;
  }

  .box-informacao-produto+.box-informacao-produto {
    margin-top: 20px;
  }

  .box-informacao-produto+.description {
    margin-top: 13px;
  }

  .actions {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .bt {
    max-width: 100%;
  }
}

#descricao {
  padding: 40px 0;

  .title {
    display: flex;
    justify-content: space-between;
  }

  .box-title {
    max-width: 310px;
    width: 100%;
    padding: 20px 10px 18px;
    display: flex;
    justify-content: center;
    background-color: var(--azul);
  }

  .share {
    display: flex;
    align-items: center;
    gap: 25px;
    color: var(--azul);

    h3 {
      margin-top: 4px;
    }

    .midias {
      display: flex;
      gap: 18px;
    }

    svg {
      max-width: 21px;
      width: 100%;
      object-fit: contain;
      fill: var(--azul)
    }
  }

  .content {
    padding: 50px 115px 56px 50px;
    background-color: #fff;
    border-radius: 0 10px 10px 10px;
  }
}

#relacionados {
  padding-top: 40px;
  padding-bottom: 100px;

  h2 {
    color: var(--azul-escuro);
    text-align: center;
  }

  h2+* {
    margin-top: 36px;
  }

  .content {
    display: flex;
    gap: 30px;
  }
}

//PAGE CATALOGO
#catalogo {
  padding-top: 195px;
  padding-bottom: 110px;

  h1+* {
    margin-top: 43px;
  }

  .filter {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .filter+* {
    padding-top: 55px;
  }





  .grid-catalogo {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }
}

//PAGE CONTATO 
#contato {
  padding-top: 200px;
}

//PAGE SIMULADOR GRID
#title-simulador {
  padding-top: 195px;

  h1 {
    color: var(--verde);
  }

  h1+* {
    margin-top: 33px;
  }
}

#title-simulador+* {
  margin-top: 72px;
}

#grid-simulador {
  padding-bottom: 105px;

  .container-color {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  .box-simulador {
    padding: 30px 30px 20px;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    text-align: center;
    cursor: pointer;

    a {
      color: var(--azul);
      transition: .3s;
    }

    img {
      max-width: 600px;
      width: 100%;
      object-fit: cover;
    }

    img+* {
      margin-top: 15px;
    }
  }

  .box-simulador:hover {
    a {
      text-decoration: underline !important;
    }
  }
}

//PAGE SIMULADOR INTERNA
#title-simulador-interno {
  padding-top: 160px;
  text-align: center;

  ul {
    display: flex;
    justify-content: center;
  }

  ul+* {
    margin-top: 4px;
  }

  h1 {
    color: #000;
  }
}

#title-simulador-interno+* {
  margin-top: 19px;
}

#cores-select.interno {
  .image {
    max-width: 1120px;
    margin: 0 auto;

    img {
      width: 100%;
      object-fit: contain;
    }
  }

  .image+* {
    margin-top: 38px;
  }

  .color {
    display: flex;
    justify-content: space-between;
  }

  .selecione {
    max-width: 431px;
    width: 100%;

    .cores {
      padding: 18px;
      background-color: #fff;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 18px;

      a {
        width: 64px;
        max-height: 64px;
      }
    }

    .cores+* {
      margin-top: 20px;
    }

    .detalhes-cor {
      span {
        height: 140px;
        color: #313132;
        ;
      }
    }
  }

  .tabela-cores {
    padding: unset;
  }

  .busca-tonalidade {
    ul {
      max-width: 890px;
      grid-template-columns: repeat(14, 1fr);
      gap: 22px;
    }

    li {
      a {
        width: 44px;
        height: 44px;
      }
    }
  }
}

//PAGE CORES
#banner-text {
  padding-top: 195px;

  h1 {
    color: var(--verde);
  }

  h1+* {
    margin-top: 20px;
  }
}

#banner-text+* {
  margin-top: 20px;
}

#cores-select {
  padding-bottom: 100px;

  .search {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .search-form {
    max-width: 545px;
    width: 100%;
    border: 1px solid var(--azul);
    background-color: transparent;
    padding: 15px 24px 12px 34px;
    max-height: 58px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    button,
    input {
      border: unset;
      background-color: transparent;
    }

    input {
      width: 85%;
    }

    input::placeholder {
      color: #000000;
      opacity: 0.2;
    }
  }

  .search,
  .tabela-cores {
    max-width: 1380px;
    margin: 0 auto;
    padding: 0 15px;
  }

  .search+* {
    margin-top: 40px;
  }

  .container-color {
    max-width: 1440px;
  }

  .cores {
    background-color: #fff;
    padding: 30px;

    display: flex;
    gap: 30px;

    a {
      max-width: 108px;
      width: 100%;
      height: 108px;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  .tabela-cores {
    padding-top: 50px;

    display: flex;
    justify-content: space-between;
    gap: 118px;
  }

  .busca-tonalidade {
    ul {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      max-width: 706px;
      width: 100%;
      gap: 30px;
    }

    li {
      a {
        display: flex;
        width: 62px;
        height: 62px;
        border-radius: 100%;
      }
    }
  }

  .detalhes-cor {
    max-width: 522px;
    width: 100%;

    .cor-escolhida {
      display: flex;
      width: 100%;
      height: 522px;
      background-color: red;
    }

    .cor-escolhida+* {
      margin-top: 5px;
    }

    .nome-ancorda {
      text-align: center;

      a {
        margin: 0 auto;
      }

      span+* {
        margin-top: 5px;
      }
    }
  }
}

//PAGE BLOG
#blog {
  padding: 195px 15px 6.25vw;

  h1 {
    margin-bottom: 2.5vw !important;
  }

  .container-color {
    display: flex;
    gap: 30px;
  }

  .posts {
    width: 65.93%;
    display: flex;
    flex-direction: column;
    gap: 2.08vw;
    max-width: 890px;
  }

  .post {
    width: 100%;
    overflow: hidden;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  }

  .image {
    max-width: 890px;
    position: relative;
    overflow: hidden;

    img {
      width: 100%;
      transition: ease-in-out 0.3s;
      object-fit: cover;
    }

    .tag {
      position: absolute;
      top: 1.04vw;
      right: 1.04vw;
    }
  }

  .author {
    display: flex;
    gap: 1.35vw;
    align-items: center;

    .author-info {
      display: flex;
      gap: 10px;
      align-items: center;

      .author-picture {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  .author+* {
    margin-top: 18px;
  }

  .content-preview {
    padding: 2.03vw 2.92vw 1.67vw 2.60vw;
    background-color: #fff;
    display: flex;
    flex-direction: column;

    h3 {
      line-height: 48px;
    }
  }

  .post:hover {
    .image {
      img {
        transform: scale(1.05);
      }
    }

    .content-preview {
      .post-title {
        h3 {
          text-decoration: underline;
        }
      }
    }
  }

  .post-title+* {
    margin-top: 20px;
  }

  .text-preview {
    p {
      line-height: 24px;
      overflow: hidden; // Removendo barra de rolagem
      text-overflow: ellipsis; // Adicionando "..." ao final
      display: -webkit-box;
      -webkit-line-clamp: 4; // Quantidade de linhas
      -webkit-box-orient: vertical;
    }
  }

  .text-preview+* {
    margin-top: 20px;
  }

  .share {
    border-top: 1px solid rgba(25, 25, 25, 0.6);
    padding-top: 1.35vw;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;

    .midias {
      display: flex;
      max-width: 138px;
      width: 100%;
      justify-content: space-between;
      gap: 10px;

      svg {
        width: 20px;
        height: 20px;
        fill: var(--azul);
      }
    }


    .leia-mais {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }

  .side-bar.mobile {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .side-bar.mobile+* {
    margin-top: 15px;
  }

  .side-bar {
    width: 31.85%;
    display: flex;
    flex-direction: column;
    gap: 2.08vw;
    max-width: 430px;

    .side-box {
      width: 100%;
      overflow: hidden;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
      background-color: #fff;
      padding: 2.24vw 2.08vw 2.60vw;

      h4 {
        text-align: center;
        line-height: 32px;
      }

      h4+* {
        margin-top: 30px;
      }

      .content {
        width: 100%;
      }

      ul {
        li {
          border-bottom: 1px solid rgba(37, 37, 37, 0.3);
          gap: 15px;
          width: 100%;
          display: flex;
          justify-content: space-between;
          padding: 15px 0;
          color: #252525;

          a {
            color: #252525;
          }
        }
      }

      li:first-child {
        padding-top: unset;
      }

      .grid-tags {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        width: 100%;
      }

      .content.popular {
        display: flex;
        flex-direction: column;
        gap: 1.04vw;
      }

      .popular-post {
        display: flex;
        gap: 12px;

        a,
        h5,
        span {
          color: #000000;
        }

        .image {
          border-radius: 10px;
          max-width: 68px;
          overflow: hidden;

          img {
            object-fit: cover;
            width: 100%;
            height: 100%;
          }
        }

        .title-date {
          display: flex;
          flex-direction: column;
          max-width: 230px;
          width: 100%;

          h5 {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            /* number of lines to show */
            line-clamp: 2;
            -webkit-box-orient: vertical;
          }

          h5+* {
            margin-top: 2px;
          }
        }
      }
    }
  }
}

//PAGE POST
#banner-post {
  height: 490px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

#blog.post {
  padding-top: 20px;

  .top-post {
    margin-bottom: 2.45vw;

    .container-color {
      justify-content: flex-start;
      flex-direction: column;
      gap: 2.60vw;
      align-items: flex-start !important;
    }

    h2 {
      text-align: left;
      max-width: 1005px;
      width: 100%;
      margin-bottom: 0;
      color: #000;

      overflow: hidden; // Removendo barra de rolagem
      text-overflow: ellipsis; // Adicionando "..." ao final
      display: -webkit-box;
      -webkit-line-clamp: 3; // Quantidade de linhas
      -webkit-box-orient: vertical;
    }
  }

  .text-preview {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-weight: 700;
      font-size: 24px;
      margin-bottom: 16px;
    }

    p {
      line-height: 24px;
      font-size: 16px;
    }

    p+h3 {
      margin-top: 15px;
    }

    p+ul {
      margin-top: 5px;
    }

    ul {
      list-style: disc !important;
      margin-left: 20px;
      line-height: 24px;
    }

    img {
      width: 100%;
      height: 16.88vw;
      min-height: 150px;
      margin: 20px 0;
      border-radius: 10px;
      overflow: hidden;
      object-fit: cover;
    }
  }

  .side-box.tags {
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .content.grid-tags {
      display: block;
    }

    h4+* {
      margin-top: 15px;
    }

    .grid-tags {
      display: flex;
      gap: 10px;
      max-width: 630px;
      width: 100%;
      flex-wrap: wrap;

    }

    .share {
      max-width: 139px;
      width: 100%;
      display: block;
      border: unset;
      padding-top: unset;



      .midias {
        display: flex;
        gap: 10px;

        svg {
          max-width: 20px;
          object-fit: contain;
          fill: var(--verde);
        }
      }
    }
  }

  .tags {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    background-color: #ffffff;
    padding: 2.08vw 2.08vw 2.6vw;
    width: 100%;

    .grid-tags {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      width: 100%;
    }

    h4+* {
      margin-top: 15px;
    }
  }
}

#tags-post {
  display: flex;
  flex-direction: column;

  h4 {
    margin: 0 auto;
  }

  .grid-tags {
    display: flex !important;
  }
}

//COMPONENTS PAGE BLOG / POST
.side-box.filtros.desktop {
  display: block;
}

.side-box.filtros.mobile {
  display: none;
}

.bt-tag {
  width: 180px;
  max-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 5px 9px;
  background-color: var(--verde);
}

.bt-transp {
  border: 1px solid #00803e;
  padding: 9px 16px 11px;
  color: #000;
}

@keyframes show-up {
  0% {
    opacity: 0;
    transform: translate3d(0, -5px, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate3d(-10px);
  }

  100% {
    opacity: 1;
    transform: translate3d(10px);
  }
}

@keyframes fadeOut {
  100% {
    opacity: 1;
    transform: translate3d(10px);
  }

  0% {
    opacity: 0;
    transform: translate3d(-10px);
  }
}

/*componente breadcrumb*/
.breadcrumb {
  margin-left: 17px;
  margin-bottom: 40px;


  .breadcrumb-item+.breadcrumb-item::before {
    content: "/";
    height: 18px;
    color: rgba(0, 0, 0, .5);
    border-radius: 100%;
    display: inline-block;
  }

  .breadcrumb-item {
    color: rgba(0, 0, 0, .5);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-transform: capitalize;

    a {
      color: #000;
    }
  }

  .breadcrumb-item.active {
    color: #fff;
  }
}

/*componente dropdown-menu*/

[data-dropdown] {
  position: relative;


  .dropdown-menu {
    display: none;
  }
}

[data-dropdown]:hover,
[data-dropdown].active {


  .dropdown-menu {
    display: block;
    animation: show-up .6s forwards;
  }
}

.dropdown-menu {
  position: absolute;
  background-color: #00436b;
  z-index: 99;
  border: none;
  padding-top: 25px;
  width: 178px;
  border-top: 1px solid rgba(186, 186, 184, .3);
  border-radius: 0;

  li {
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    text-transform: capitalize;
    color: #f3f5f9;
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 22px;

    a {
      color: inherit;
      display: inherit;
    }
  }
}

/* FILTRO MOBILE */

.filtro-mobile {
  max-width: 130px;
  width: 100%;
  margin-left: auto;
  margin-bottom: 40px;
  cursor: pointer;

  .box-filtro {
    display: flex;
    align-items: center;

    h1 {
      text-transform: uppercase;
      margin-bottom: 0;
    }

    svg {
      width: 20px;
      height: 20px;
      margin-left: 15px;
    }
  }
}

.filtro-container {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
}

.full-page.active {
  display: block;
}

.full-page {
  content: "";
  background-color: rgba(0, 0, 0, .38);
  width: 1920px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100vh;
  display: none;
  z-index: 1;
  cursor: pointer;
}

.filtro-responsive.active {
  transform: translateX(-100%);
  transition: .15s;
  -webkit-box-shadow: 9px 0 88px -15px rgb(0 0 0 / 19%);
  -moz-box-shadow: 9px 0 88px -15px rgba(0, 0, 0, .19);
  box-shadow: 9px 0 88px -15px rgb(0 0 0 / 19%);
  background-color: #fff;
}

.filtro-responsive {
  position: fixed;
  right: -290px;
  max-width: 290px;
  width: 100%;
  background-color: rgba(255, 255, 255, .98);
  -webkit-transition: .25s transform;
  height: 100vh;
  top: 0;
  padding: 60px 45px 25px;
  z-index: 999;
  overflow-y: auto;
  display: flex;
  flex-direction: column;

  .fechar {
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;

    svg {
      fill: #94143E;
      -webkit-transition: .22s;
      width: 19px;
      height: 19px;
    }
  }
}


@media only screen and (max-width: 1600px) {
  @import "responsive/1600";
}

@media only screen and (max-width: 1400px) {
  @import "responsive/1400";
}

@media only screen and (max-width: 1200px) {
  @import "responsive/1200";
}

@media only screen and (max-width: 1024px) {
  @import "responsive/1024";

  .sumir {
    display: none;
  }

  .aparecer {
    display: block;
  }
}

@media only screen and (max-width: 768px) {
  @import "responsive/768";
}

@media only screen and (max-width: 500px) {
  @import "responsive/500";
}