@font-face {
  font-family: 'montserrat';
  src: url('../fonts/Montserrat-Light.ttf') format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: 'montserrat';
  src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'montserrat';
  src: url('../fonts/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'montserrat';
  src: url('../fonts/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
}
@font-face {
  font-family: 'montserrat';
  src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: 'alternates';
  src: url('../fonts/MontserratAlternates-Light.ttf') format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: 'alternates';
  src: url('../fonts/MontserratAlternates-Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'alternates';
  src: url('../fonts/MontserratAlternates-Medium.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'alternates';
  src: url('../fonts/MontserratAlternates-SemiBold.ttf') format('truetype');
  font-weight: 600;
}
@font-face {
  font-family: 'alternates';
  src: url('../fonts/MontserratAlternates-Bold.ttf') format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: 'Arboria';
  src: url('../fonts/Arboria-Medium.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'poppis';
  src: url('../fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
}
h1,
h2,
h3,
h4,
h5,
p,
span,
strong,
time,
address,
i,
a,
b,
label,
li,
td {
  text-rendering: optimizeLegibility !important;
  margin-bottom: 0 !important;
}
[class*='-montserrat'] {
  font-family: 'montserrat';
}
[class*='-alternates'] {
  font-family: 'alternates';
}
[class*='-arboria'] {
  font-family: 'Arboria';
}
[class*='-poppis'] {
  font-family: 'poppis';
}
.uppercase {
  text-transform: uppercase;
}
.lowcase {
  text-transform: lowercase;
}
/*Font Weights----------------------------------------------------------*/
[class*='-bold'] {
  font-weight: 700;
}
[class*='-semibold'] {
  font-weight: 600;
}
[class*='-medium'] {
  font-weight: 500;
}
[class*='-regular'] {
  font-weight: 400;
}
[class*='-light'] {
  font-weight: 300;
}
[class*='-italic'] {
  font-style: italic !important;
}
.branco {
  color: #fff;
  fill: #fff;
}
.black {
  color: #000;
  fill: #000;
}
.green {
  color: var(--verde);
  fill: var(--verde);
}
.amarelo {
  color: var(--amarelo);
  fill: var(--amarelo);
}
[class*='titulo-1'] {
  font-size: 120px;
}
[class*='titulo-2'] {
  font-size: 64px;
}
[class*='titulo-3'] {
  font-size: 48px;
}
[class*='titulo-4'] {
  font-size: 40px;
}
[class*='titulo-5'] {
  font-size: 32px;
}
[class*='titulo-6'] {
  font-size: 24px;
}
[class*='titulo-7'] {
  font-size: 16px;
}
[class*='paragrafo-1'] {
  font-size: 24px;
}
[class*='paragrafo-2'] {
  font-size: 20px;
}
[class*='paragrafo-3'] {
  font-size: 16px;
}
[class*='paragrafo-4'] {
  font-size: 14px;
}
[class*='link-1'] {
  font-size: 20px;
}
[class*='link-2'] {
  font-size: 16px;
}
[class*='link-3'] {
  font-size: 14px;
}
[class*='link-4'] {
  font-size: 13px;
}
[class*='link-5'] {
  font-size: 12px;
}
:root {
  --amarelo: #ffd500;
  --verde: #00803e;
  --azul: #16437d;
  --azul-escuro: #003050;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #f2f2f2;
  overflow-x: hidden !important;
  position: relative;
}
*:target,
*:focus {
  outline: transparent !important;
}
a,
button {
  text-decoration: none !important;
  -webkit-transition: 0.22s;
}
a *:not(g, path),
button *:not(g, path) {
  transition: 0.15s;
}
a::after,
a::before {
  -webkit-transition: 0.3s;
}
a:hover::after,
a:hover::before {
  transition: 0.3s;
}
a:hover,
button:hover {
  transition: 0.15s;
}
a:hover *:not(g, path),
button:hover *:not(g, path) {
  transition: 0.15s;
}
ol,
ul {
  list-style: none !important;
  padding-left: 0 !important;
  margin-bottom: 0 !important;
}
.cep-mask,
.cpf-mask,
.cvv-mask,
.phone-mask,
.number-mask,
.date-mask {
  display: block;
}
[class*="container-color"] {
  max-width: 1385px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
body {
  background-color: #f2f2f2;
  position: relative;
}
.sumir {
  display: block;
}
.aparecer {
  display: none !important;
}
.bt {
  max-width: 230px;
  width: 100%;
  height: 60px;
  padding: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bt.full {
  max-width: 360px;
}
.bt.yellow {
  background-color: var(--amarelo);
  color: #000;
}
.box {
  display: flex;
  justify-content: space-between;
}
.box .box-generic {
  max-width: 430px;
  width: 100%;
  padding: 30px 33px;
  text-align: center;
  transition: 0.5s;
}
.box .box-generic img {
  max-width: 80px;
  max-height: 80px;
  width: 100%;
  object-fit: contain;
  margin: 0 auto;
}
.box .box-generic img + * {
  margin-top: 10px;
}
.box-catalogo {
  max-width: 315px;
  width: 100%;
  padding: 40px 30px 29px;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
}
.box-catalogo img {
  max-width: 60px;
  width: 100%;
  object-fit: contain;
}
.box-catalogo h3 {
  color: #313132;
  margin-bottom: 12px !important;
}
.box-catalogo img + * {
  margin-top: 35px;
}
.box-catalogo a {
  text-decoration: underline !important;
  color: var(--verde);
}
.imagem-produto {
  position: absolute;
  top: 30px;
  left: 50px;
  z-index: 5;
  max-width: 216px;
  width: 100%;
  object-fit: contain;
}
.box-produto {
  max-width: 660px;
  width: 100%;
  padding: 40px 0 34px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: #fff;
  cursor: pointer;
}
.box-produto .container-box {
  max-width: 345px;
  width: 100%;
  position: relative;
  z-index: 5;
}
.box-produto .title + * {
  margin-top: 47px;
}
.box-produto .informacoes h4 + * {
  margin-top: 13px;
}
.box-produto .box-informacoes {
  padding: 9px 0 8px 20px;
  background-color: #dce1e7;
}
.box-produto .box-informacoes + .box-informacoes {
  margin-top: 10px;
}
.box-produto:hover .bg {
  opacity: 0.9;
}
.bg {
  max-width: 660px;
  width: 100%;
  height: 138px;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}
.box-produto.green .bg {
  background-color: var(--verde);
}
.box-produto.green .title {
  color: #fff;
}
.box-produto.green .informacoes h4 {
  color: var(--verde);
}
.box-produto.blue .bg {
  background-color: var(--azul);
}
.box-produto.blue .title {
  color: #fff;
}
.box-produto.blue .informacoes h4 {
  color: var(--azul);
}
.box-produto.yellow .bg {
  background-color: var(--amarelo);
}
.box-produto.yellow .title {
  color: #000;
}
.box-produto.yellow .informacoes h4 {
  color: #000;
}
.paginacao {
  display: flex;
  gap: 1.56vw;
  justify-content: center;
  margin-top: 3vw;
}
.paginacao li {
  max-width: 42px;
  width: 100%;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--verde);
  border-radius: 10px;
  padding: 10px;
}
.paginacao li li,
.paginacao li a,
.paginacao li span {
  color: #fff;
}
.paginacao li.selected {
  background-color: var(--azul);
}
.paginacao li.selected a {
  color: #fff;
}
.list-breadcrumb {
  display: flex;
  gap: 10px;
}
.list-breadcrumb a {
  margin-right: 10px;
  color: #003050;
  opacity: 0.5;
}
.list-breadcrumb li::after {
  content: ">";
  color: #003050;
  opacity: 0.5;
}
.list-breadcrumb li:last-child::after {
  display: none;
}
.list-breadcrumb li:last-child::after span {
  margin-right: unset;
}
.dropdown-menu {
  min-width: 100%;
}
.bt-filtro {
  border: 1px solid #000000;
  background-color: transparent;
  width: 185px;
  padding: 16px 20px 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bt-filtro.full {
  width: 225px;
}
.bt-ordenar {
  border: unset;
  border-bottom: 1px solid #000;
  background-color: transparent;
  width: 295px;
  padding: 16px 10px 14px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dropdown-toggle::after {
  display: none !important;
}
.dropdown-menu {
  top: 53px;
  min-width: 100% !important;
}
.dropdown-menu li {
  padding: 10px !important;
}
.dropdown-menu li a {
  font-weight: 600 !important;
}
.dropdown-menu:last-child {
  padding-bottom: unset;
}
.title-text {
  padding-top: 100px;
  padding-bottom: 34px;
}
.title-text .container-color {
  display: flex;
  justify-content: space-between;
}
.title-text .title {
  max-width: 510px;
  width: 100%;
}
.title-text h3 + * {
  margin-top: 8px;
}
.title-text .content {
  max-width: 545px;
  width: 100%;
  margin-right: 5.99vw;
  padding-top: 30px;
}
.contato {
  margin-top: 50px;
  padding-top: 100px;
  padding-bottom: 70px;
  background-repeat: no-repeat;
  background-size: cover;
}
.contato .container-color {
  display: flex;
  justify-content: space-between;
}
.contato .text {
  max-width: 445px;
  width: 100%;
}
.contato h2 + * {
  margin-top: 52px;
}
.contato .links {
  display: flex;
  align-items: center;
}
.contato .links svg {
  width: 20px;
  object-fit: contain;
  margin-bottom: 1px;
}
.contato .links span + * {
  margin-left: 10px;
}
.contato .links:hover a {
  color: var(--amarelo);
}
.contato .links:hover svg {
  fill: var(--amarelo);
}
.contato .links.text:hover svg {
  fill: #fff;
}
.contato .links + * {
  margin-top: 18px;
}
.contato .links.base {
  align-self: baseline;
  align-items: unset;
}
.contato .links.base svg {
  margin-bottom: unset;
}
.contato form {
  max-width: 775px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.contato input::placeholder,
.contato textarea::placeholder {
  color: #383838;
  opacity: 0.5;
}
.contato input,
.contato textarea {
  background-color: #f5f5f5;
  border: unset;
  padding: 19px 15px 17px 20px;
}
.contato textarea {
  height: 145px;
  resize: none;
}
.contato label + * {
  margin-top: 6px;
}
.contato input + *,
.contato textarea + * {
  margin-top: 20px;
}
.contato .actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contato button {
  border: unset;
}
.text-absolute-image {
  padding-top: 60px;
  padding-bottom: 50px;
}
.text-absolute-image .container-color {
  position: relative;
  display: flex;
}
.text-absolute-image .absolute-image {
  position: absolute;
}
.text-absolute-image .content {
  max-width: 1005px;
  width: 100%;
  background-color: #fff;
  padding: 85px 0;
}
.text-absolute-image h2 {
  max-width: 575px;
  width: 100%;
}
.text-absolute-image h2 span {
  background-color: var(--verde);
  padding: 0 5px;
}
.text-absolute-image h2 + * {
  margin-top: 29px;
}
.text-absolute-image .description {
  line-height: 24px;
  max-width: 660px;
}
.text-absolute-image .description + * {
  margin-top: 47px;
}
.text-absolute-image.right .absolute-image {
  top: 0;
  left: 0;
}
.text-absolute-image.right .container-color {
  justify-content: flex-end;
}
.text-absolute-image.right .content {
  padding-left: 230px;
}
.text-absolute-image.left .absolute-image {
  top: 0;
  right: 0;
}
.text-absolute-image.left .container-color {
  justify-content: flex-start;
}
.text-absolute-image.left .content {
  padding-right: 230px;
  padding-left: 115px;
}
header {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  width: 100%;
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
}
header .container-color {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}
header a {
  position: relative;
}
header nav {
  height: 30px;
}
header a:hover {
  color: #fff;
}
header a::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: currentColor;
  position: absolute;
  bottom: -3px;
  left: 0;
}
header a:hover::after {
  width: 100%;
}
header a + * {
  margin-left: 3.62vw;
}
footer {
  background-color: var(--azul);
  padding-top: 50px;
}
footer .container-color {
  display: flex;
  justify-content: space-between;
}
footer .logo {
  max-width: 260px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .logo .color {
  width: 100%;
  object-fit: contain;
}
footer .logo .ecotex {
  width: 100%;
  object-fit: contain;
  display: flex;
  justify-content: center;
}
footer .logo a + * {
  margin-top: 20px;
}
footer .links {
  display: flex;
  flex-direction: column;
  gap: 23px;
}
footer .links a:hover {
  color: var(--amarelo);
}
footer .links.svg {
  max-width: 240px;
  width: 100%;
}
footer .links.svg .link {
  display: flex;
  align-items: center;
}
footer .links.svg .link a {
  display: block;
}
footer .links.svg .link span + * {
  margin-left: 7px;
}
footer .links.svg .link:hover a {
  color: var(--amarelo);
}
footer .links.svg .link:hover svg {
  fill: var(--amarelo);
}
footer .links.svg .link.base {
  align-self: baseline;
  align-items: unset;
}
footer .links.svg .links.base:hover a {
  color: var(--amarelo);
}
footer .links.svg .links.base:hover svg {
  fill: var(--amarelo);
}
footer .redes h3 + * {
  margin-top: 9px;
}
footer .redes .link-redes {
  display: flex;
  gap: 13px;
}
footer .redes .link-redes a:hover svg {
  fill: #fff;
}
footer .container-color + * {
  margin-top: 80px;
}
footer .barra-footer {
  padding-bottom: 7px;
  display: flex;
  justify-content: space-between;
}
footer .barra-footer a,
footer .barra-footer h3 {
  opacity: 0.6;
}
footer .barra-footer .box-left a + * {
  margin-left: 4.43vw;
}
footer .barra-footer .box-right {
  display: flex;
  align-items: center;
  gap: 8px;
}
footer .barra-footer .box-right h3 {
  margin-top: 4px;
}
#banner-home .owl-carousel {
  position: relative;
}
#banner-home .owl-carousel .owl-stage-outer {
  height: 1050px;
}
#banner-home .owl-carousel .item {
  height: 900px;
}
#banner-home .owl-carousel .item .container-color {
  position: relative;
  padding-top: 183px;
}
#banner-home .owl-carousel .item .container-color h1 {
  line-height: 1;
  max-width: 698px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 5;
}
#banner-home .owl-carousel .item .container-color h1 span {
  margin-left: 75px;
}
#banner-home .owl-carousel .item .container-color .barra-absolute {
  position: absolute;
  max-width: 570px;
  height: 107px;
  width: 100%;
  top: 276px;
  left: 405px;
}
#banner-home .owl-carousel .item .container-color.box {
  position: absolute;
  bottom: -150px;
  left: 50%;
  transform: translate(-50%, 0);
}
#banner-home .owl-carousel .item .container-color.box .box {
  width: 100%;
}
#banner-home .owl-carousel .owl-dots {
  position: absolute;
  bottom: 225px;
  left: 50%;
  transform: translate(-50%, 0);
}
#banner-home .owl-carousel .owl-dot.active span {
  background: var(--amarelo);
}
#banner-home .owl-carousel .item.green .container-color .barra-absolute {
  background-color: var(--verde);
}
#banner-home .owl-carousel .item.green .box-generic {
  background-color: var(--verde);
}
#banner-home .owl-carousel .item.green .box-generic:hover {
  background-color: #003a1c;
}
#banner-home .owl-carousel .item.blue .container-color .barra-absolute {
  background-color: var(--azul);
}
#banner-home .owl-carousel .item.blue .box-generic {
  background-color: var(--azul);
}
#banner-home .owl-carousel .item.blue .box-generic:hover {
  background-color: #062f68;
}
#banner-home .owl-carousel .item.yellow .container-color .barra-absolute {
  background-color: var(--amarelo);
}
#banner-home .owl-carousel .item.yellow .box-generic {
  background-color: var(--amarelo);
}
#banner-home .owl-carousel .item.yellow .box-generic:hover {
  background-color: #d3b001;
}
#sobre .title span {
  background-color: var(--verde);
  padding-left: 6px;
  padding-right: 9px;
}
#tintas {
  padding-top: 34px;
  padding-bottom: 60px;
}
#tintas .grid-tintas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
#tintas .box-tintas {
  max-width: 430px;
  position: relative;
}
#tintas .image {
  max-width: 430px;
  overflow: hidden;
}
#tintas .image img {
  width: 100%;
  object-fit: cover;
  transition: 0.5s all ease-in-out;
}
#tintas .box-tintas:hover img {
  transform: scale(1.1);
  object-fit: cover;
}
#tintas .content {
  max-width: 200px;
  width: 100%;
  background-color: var(--amarelo);
  display: flex;
  justify-content: center;
  padding: 18px 0;
  position: absolute;
  bottom: 0;
  left: 0;
}
#teste {
  padding: 50px 0;
}
#teste .title {
  background-color: var(--verde);
  height: 465px;
  padding-top: 80px;
  position: relative;
}
#teste .title .icon-absolute-left {
  position: absolute;
  bottom: 98px;
  left: 109px;
  z-index: 10;
  max-width: 352px;
  width: 100%;
  object-fit: contain;
}
#teste .title .icon-absolute-top {
  position: absolute;
  top: -100px;
  right: -10px;
  max-width: 285px;
  width: 100%;
  object-fit: contain;
}
#teste .title .container-color {
  display: flex;
  justify-content: center;
}
#teste .title h2 {
  max-width: 660px;
  width: 100%;
  text-align: center;
}
#teste .image {
  max-width: 1350px;
  margin-top: -205px;
  position: relative;
  z-index: 2;
}
#teste .image img {
  width: 100%;
  object-fit: contain;
}
#teste .content {
  padding: 60px 115px;
  background-color: #fff;
  max-width: 58.33vw;
  width: 100%;
  margin: 0 auto;
  margin-top: -110px;
  position: relative;
  z-index: 3;
  text-align: center;
}
#teste .content .description {
  line-height: 24px;
}
#teste .content a {
  margin: 0 auto;
}
#teste .content .description + * {
  margin-top: 25px;
}
#dicas {
  padding: 50px 0;
}
#dicas h2 {
  text-align: center;
}
#dicas h2 span {
  background-color: var(--verde);
  padding-left: 7px;
  padding-right: 4px;
}
#dicas p {
  max-width: 660px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
#dicas h2 + * {
  margin-top: 28px;
}
#dicas .title + * {
  margin-top: 35px;
}
#dicas .box {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
#dicas .box-dicas {
  padding: 20px 20px 40px;
  background-color: #fff;
  text-align: center;
}
#dicas .box-dicas .text {
  max-width: 350px;
  width: 100%;
  margin: 0 auto;
}
#dicas .box-dicas a {
  margin: 0 auto;
}
#dicas .box-dicas .image + * {
  margin-top: 18px;
}
#dicas .box-dicas h4 + * {
  margin-top: 9px;
}
#dicas .box-dicas h3 + * {
  margin-top: 15px;
}
#dicas .box-dicas .description + * {
  margin-top: 29px;
}
#banner-sobre {
  background-repeat: no-repeat;
  padding-top: 235px;
  padding-bottom: 45px;
}
#banner-sobre .container-color {
  max-width: 1660px;
  padding-right: 0;
  margin: 0 0 0 auto;
  display: flex;
  justify-content: space-between;
}
#banner-sobre .title {
  position: relative;
  padding-top: 40px;
}
#banner-sobre .title h1 {
  position: relative;
  z-index: 5;
  line-height: 1;
}
#banner-sobre .title .barra-absolute {
  position: absolute;
  background-color: var(--azul);
  max-width: 540px;
  width: 100%;
  height: 115px;
  top: 122px;
  left: -5px;
}
#banner-sobre .title + * {
  margin-top: 285px;
}
#banner-sobre .description {
  line-height: 32px;
  max-width: 545px;
  width: 100%;
  margin-bottom: 105px;
}
#banner-sobre .scroll {
  display: flex;
  align-items: center;
}
#banner-sobre .scroll p {
  margin-top: 2px;
}
#banner-sobre .scroll img {
  max-width: 24px;
  width: 100%;
  object-fit: contain;
}
#banner-sobre .scroll img + * {
  margin-left: 10px;
}
#banner-sobre .image {
  max-width: 960px;
}
#banner-sobre .image img {
  width: 100%;
  object-fit: cover;
}
#historia {
  padding-top: 45px;
  padding-bottom: 50px;
  position: relative;
}
#historia .absolute-right {
  position: absolute;
  right: 0;
  top: -45px;
}
#historia .container-color {
  display: flex;
  gap: 80px;
}
#historia .image {
  max-width: 615px;
}
#historia .image img {
  width: 100%;
  object-fit: cover;
}
#historia .text {
  max-width: 545px;
  width: 100%;
  padding-top: 55px;
}
#historia h2 span {
  background-color: var(--verde);
  padding-left: 5px;
  padding-right: 4px;
}
#historia h2 + * {
  margin-top: 40px;
}
#sustentabilidade {
  padding-bottom: 110px;
}
#sustentabilidade .absolute-image {
  right: 65px;
}
#missao {
  display: flex;
}
#missao .text-missao {
  max-width: 830px;
  width: 100%;
  padding: 130px 0;
  background-color: var(--verde);
  opacity: 0.9;
}
#missao .text-missao .container-color {
  max-width: 460px;
  margin-right: 115px;
}
#missao .text-missao h2 + * {
  margin-top: 17px;
}
#missao .text-missao p {
  line-height: 24px;
}
#missao .content {
  width: 100%;
}
#missao .text {
  max-height: 292px;
  height: 100%;
}
#missao .text .container-color {
  max-width: 745px;
  margin-left: 60px;
}
#missao .text h2 + * {
  margin-top: 17px;
}
#missao .text p {
  line-height: 24px;
}
#missao .text.visao {
  padding: 80px 0;
  background-color: var(--azul);
  opacity: 0.9;
}
#missao .text.valores {
  padding: 62px 0 79px;
  background-color: #4a4a4a;
  opacity: 0.9;
}
#produtos-sobre {
  padding: 100px 0;
}
#banner-produtos {
  height: 731px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}
#banner-produtos .container-color {
  padding-left: 30px;
}
#banner-produtos h1 {
  color: #fff;
}
#produtos-content {
  padding-top: 40px;
  padding-bottom: 100px;
}
#produtos-content .filter {
  display: flex;
  justify-content: space-between;
}
#produtos-content .filter .box-left {
  display: flex;
  gap: 30px;
}
#produtos-content .filter + * {
  margin-top: 60px;
}
#grid-produtos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
#produto-infomacoes {
  padding-top: 180px;
  padding-bottom: 40px;
}
#produto-infomacoes .list + * {
  margin-top: 15px;
}
.container-produto {
  display: flex;
  justify-content: space-between;
}
.container-produto .image {
  width: 745px;
}
.container-produto .image img {
  width: 100%;
  object-fit: contain;
}
.container-produto .content {
  max-width: 545px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container-produto .title h2 {
  color: #003050;
  line-height: 58px;
}
.container-produto .box-informacao-produto {
  max-width: 545px;
  width: 100%;
  background-color: #dce1e7;
  display: flex;
  justify-content: center;
  padding: 15px 10px 18px;
}
.container-produto .description {
  line-height: 24px;
}
.container-produto .box-informacao-produto + .box-informacao-produto {
  margin-top: 20px;
}
.container-produto .box-informacao-produto + .description {
  margin-top: 13px;
}
.container-produto .actions {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.container-produto .bt {
  max-width: 100%;
}
#descricao {
  padding: 40px 0;
}
#descricao .title {
  display: flex;
  justify-content: space-between;
}
#descricao .box-title {
  max-width: 310px;
  width: 100%;
  padding: 20px 10px 18px;
  display: flex;
  justify-content: center;
  background-color: var(--azul);
}
#descricao .share {
  display: flex;
  align-items: center;
  gap: 25px;
  color: var(--azul);
}
#descricao .share h3 {
  margin-top: 4px;
}
#descricao .share .midias {
  display: flex;
  gap: 18px;
}
#descricao .share svg {
  max-width: 21px;
  width: 100%;
  object-fit: contain;
  fill: var(--azul);
}
#descricao .content {
  padding: 50px 115px 56px 50px;
  background-color: #fff;
  border-radius: 0 10px 10px 10px;
}
#relacionados {
  padding-top: 40px;
  padding-bottom: 100px;
}
#relacionados h2 {
  color: var(--azul-escuro);
  text-align: center;
}
#relacionados h2 + * {
  margin-top: 36px;
}
#relacionados .content {
  display: flex;
  gap: 30px;
}
#catalogo {
  padding-top: 195px;
  padding-bottom: 110px;
}
#catalogo h1 + * {
  margin-top: 43px;
}
#catalogo .filter {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#catalogo .filter + * {
  padding-top: 55px;
}
#catalogo .grid-catalogo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
#title-simulador {
  padding-top: 195px;
}
#title-simulador h1 {
  color: var(--verde);
}
#title-simulador h1 + * {
  margin-top: 33px;
}
#grid-simulador .container-color {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
#grid-simulador .box-simulador {
  padding: 30px 30px 20px;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
#banner-text {
  padding-top: 195px;
}
#banner-text h1 {
  color: var(--verde);
}
#banner-text h1 + * {
  margin-top: 20px;
}
#banner-text + * {
  margin-top: 20px;
}
#cores-select {
  padding-bottom: 100px;
}
#cores-select .search {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#cores-select .search-form {
  max-width: 545px;
  width: 100%;
  border: 1px solid var(--azul);
  background-color: transparent;
  padding: 15px 24px 12px 34px;
  max-height: 58px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#cores-select .search-form button,
#cores-select .search-form input {
  border: unset;
  background-color: transparent;
}
#cores-select .search-form input {
  width: 85%;
}
#cores-select .search-form input::placeholder {
  color: #000000;
  opacity: 0.2;
}
#cores-select .search,
#cores-select .tabela-cores {
  max-width: 1380px;
  margin: 0 auto;
  padding: 0 15px;
}
#cores-select .search + * {
  margin-top: 40px;
}
#cores-select .container-color {
  max-width: 1440px;
}
#cores-select .cores {
  background-color: #fff;
  padding: 30px;
  display: flex;
  gap: 30px;
}
#cores-select .cores a {
  max-width: 108px;
  width: 100%;
  height: 108px;
  background-repeat: no-repeat;
  background-size: contain;
}
#cores-select .tabela-cores {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  gap: 118px;
}
#cores-select .busca-tonalidade ul {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  max-width: 706px;
  width: 100%;
  gap: 30px;
}
#cores-select .busca-tonalidade li a {
  display: flex;
  width: 62px;
  height: 62px;
  border-radius: 100%;
}
#cores-select .detalhes-cor {
  max-width: 522px;
  width: 100%;
}
#cores-select .detalhes-cor .cor-escolhida {
  display: flex;
  width: 100%;
  height: 522px;
  background-color: red;
}
#cores-select .detalhes-cor .cor-escolhida + * {
  margin-top: 5px;
}
#cores-select .detalhes-cor .nome-ancorda {
  text-align: center;
}
#cores-select .detalhes-cor .nome-ancorda a {
  margin: 0 auto;
}
#cores-select .detalhes-cor .nome-ancorda span + * {
  margin-top: 5px;
}
#blog {
  padding: 195px 15px 6.25vw;
}
#blog h1 {
  margin-bottom: 2.5vw !important;
}
#blog .container-color {
  display: flex;
  gap: 30px;
}
#blog .posts {
  width: 65.93%;
  display: flex;
  flex-direction: column;
  gap: 2.08vw;
  max-width: 890px;
}
#blog .post {
  width: 100%;
  overflow: hidden;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
#blog .image {
  max-width: 890px;
  position: relative;
  overflow: hidden;
}
#blog .image img {
  width: 100%;
  transition: ease-in-out 0.3s;
  object-fit: cover;
}
#blog .image .tag {
  position: absolute;
  top: 1.04vw;
  right: 1.04vw;
}
#blog .author {
  display: flex;
  gap: 1.35vw;
  align-items: center;
}
#blog .author .author-info {
  display: flex;
  gap: 10px;
  align-items: center;
}
#blog .author .author-info .author-picture {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
}
#blog .author .author-info .author-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#blog .author + * {
  margin-top: 18px;
}
#blog .content-preview {
  padding: 2.03vw 2.92vw 1.67vw 2.6vw;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}
#blog .content-preview h3 {
  line-height: 48px;
}
#blog .post:hover .image img {
  transform: scale(1.05);
}
#blog .post:hover .content-preview .post-title h3 {
  text-decoration: underline;
}
#blog .post-title + * {
  margin-top: 20px;
}
#blog .text-preview p {
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
#blog .text-preview + * {
  margin-top: 20px;
}
#blog .share {
  border-top: 1px solid rgba(25, 25, 25, 0.6);
  padding-top: 1.35vw;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
#blog .share .midias {
  display: flex;
  max-width: 138px;
  width: 100%;
  justify-content: space-between;
  gap: 10px;
}
#blog .share .midias svg {
  width: 20px;
  height: 20px;
  fill: var(--azul);
}
#blog .share .leia-mais {
  display: flex;
  align-items: center;
  gap: 10px;
}
#blog .side-bar.mobile {
  max-width: 100%;
  margin-bottom: 20px;
}
#blog .side-bar.mobile + * {
  margin-top: 15px;
}
#blog .side-bar {
  width: 31.85%;
  display: flex;
  flex-direction: column;
  gap: 2.08vw;
  max-width: 430px;
}
#blog .side-bar .side-box {
  width: 100%;
  overflow: hidden;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  background-color: #fff;
  padding: 2.24vw 2.08vw 2.6vw;
}
#blog .side-bar .side-box h4 {
  text-align: center;
  line-height: 32px;
}
#blog .side-bar .side-box h4 + * {
  margin-top: 30px;
}
#blog .side-bar .side-box .content {
  width: 100%;
}
#blog .side-bar .side-box ul li {
  border-bottom: 1px solid rgba(37, 37, 37, 0.3);
  gap: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  color: #252525;
}
#blog .side-bar .side-box ul li a {
  color: #252525;
}
#blog .side-bar .side-box li:first-child {
  padding-top: unset;
}
#blog .side-bar .side-box .grid-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}
#blog .side-bar .side-box .content.popular {
  display: flex;
  flex-direction: column;
  gap: 1.04vw;
}
#blog .side-bar .side-box .popular-post {
  display: flex;
  gap: 12px;
}
#blog .side-bar .side-box .popular-post a,
#blog .side-bar .side-box .popular-post h5,
#blog .side-bar .side-box .popular-post span {
  color: #000000;
}
#blog .side-bar .side-box .popular-post .image {
  border-radius: 10px;
  max-width: 68px;
  overflow: hidden;
}
#blog .side-bar .side-box .popular-post .image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
#blog .side-bar .side-box .popular-post .title-date {
  display: flex;
  flex-direction: column;
  max-width: 230px;
  width: 100%;
}
#blog .side-bar .side-box .popular-post .title-date h5 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
#blog .side-bar .side-box .popular-post .title-date h5 + * {
  margin-top: 2px;
}
#banner-post {
  height: 490px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}
#blog.post {
  padding-top: 20px;
}
#blog.post .top-post {
  margin-bottom: 2.45vw;
}
#blog.post .top-post .container-color {
  justify-content: flex-start;
  flex-direction: column;
  gap: 2.6vw;
  align-items: flex-start !important;
}
#blog.post .top-post h2 {
  text-align: left;
  max-width: 1005px;
  width: 100%;
  margin-bottom: 0;
  color: #000;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
#blog.post .text-preview h1,
#blog.post .text-preview h2,
#blog.post .text-preview h3,
#blog.post .text-preview h4,
#blog.post .text-preview h5,
#blog.post .text-preview h6 {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 16px;
}
#blog.post .text-preview p {
  line-height: 24px;
  font-size: 16px;
}
#blog.post .text-preview p + h3 {
  margin-top: 15px;
}
#blog.post .text-preview p + ul {
  margin-top: 5px;
}
#blog.post .text-preview ul {
  list-style: disc !important;
  margin-left: 20px;
  line-height: 24px;
}
#blog.post .text-preview img {
  width: 100%;
  height: 16.88vw;
  min-height: 150px;
  margin: 20px 0;
  border-radius: 10px;
  overflow: hidden;
  object-fit: cover;
}
#blog.post .side-box.tags {
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
#blog.post .side-box.tags .content.grid-tags {
  display: block;
}
#blog.post .side-box.tags h4 + * {
  margin-top: 15px;
}
#blog.post .side-box.tags .grid-tags {
  display: flex;
  gap: 10px;
  max-width: 630px;
  width: 100%;
  flex-wrap: wrap;
}
#blog.post .side-box.tags .share {
  max-width: 139px;
  width: 100%;
  display: block;
  border: unset;
  padding-top: unset;
}
#blog.post .side-box.tags .share .midias {
  display: flex;
  gap: 10px;
}
#blog.post .side-box.tags .share .midias svg {
  max-width: 20px;
  object-fit: contain;
  fill: var(--verde);
}
#blog.post .tags {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  background-color: #ffffff;
  padding: 2.08vw 2.08vw 2.6vw;
  width: 100%;
}
#blog.post .tags .grid-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}
#blog.post .tags h4 + * {
  margin-top: 15px;
}
#tags-post {
  display: flex;
  flex-direction: column;
}
#tags-post h4 {
  margin: 0 auto;
}
#tags-post .grid-tags {
  display: flex !important;
}
.side-box.filtros.desktop {
  display: block;
}
.side-box.filtros.mobile {
  display: none;
}
.bt-tag {
  width: 180px;
  max-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 5px 9px;
  background-color: var(--verde);
}
.bt-transp {
  border: 1px solid #00803e;
  padding: 9px 16px 11px;
  color: #000;
}
@keyframes show-up {
  0% {
    opacity: 0;
    transform: translate3d(0, -5px, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate3d(-10px);
  }
  100% {
    opacity: 1;
    transform: translate3d(10px);
  }
}
@keyframes fadeOut {
  100% {
    opacity: 1;
    transform: translate3d(10px);
  }
  0% {
    opacity: 0;
    transform: translate3d(-10px);
  }
}
/*componente breadcrumb*/
.breadcrumb {
  margin-left: 17px;
  margin-bottom: 40px;
}
.breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: "/";
  height: 18px;
  color: rgba(0, 0, 0, 0.5);
  border-radius: 100%;
  display: inline-block;
}
.breadcrumb .breadcrumb-item {
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: capitalize;
}
.breadcrumb .breadcrumb-item a {
  color: #000;
}
.breadcrumb .breadcrumb-item.active {
  color: #fff;
}
/*componente dropdown-menu*/
[data-dropdown] {
  position: relative;
}
[data-dropdown] .dropdown-menu {
  display: none;
}
[data-dropdown]:hover .dropdown-menu,
[data-dropdown].active .dropdown-menu {
  display: block;
  animation: show-up 0.6s forwards;
}
.dropdown-menu {
  position: absolute;
  background-color: #00436b;
  z-index: 99;
  border: none;
  padding-top: 25px;
  width: 178px;
  border-top: 1px solid rgba(186, 186, 184, 0.3);
  border-radius: 0;
}
.dropdown-menu li {
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  text-transform: capitalize;
  color: #f3f5f9;
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 22px;
}
.dropdown-menu li a {
  color: inherit;
  display: inherit;
}
/* FILTRO MOBILE */
.filtro-mobile {
  max-width: 130px;
  width: 100%;
  margin-left: auto;
  margin-bottom: 40px;
  cursor: pointer;
}
.filtro-mobile .box-filtro {
  display: flex;
  align-items: center;
}
.filtro-mobile .box-filtro h1 {
  text-transform: uppercase;
  margin-bottom: 0;
}
.filtro-mobile .box-filtro svg {
  width: 20px;
  height: 20px;
  margin-left: 15px;
}
.filtro-container {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
}
.full-page.active {
  display: block;
}
.full-page {
  content: "";
  background-color: rgba(0, 0, 0, 0.38);
  width: 1920px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100vh;
  display: none;
  z-index: 1;
  cursor: pointer;
}
.filtro-responsive.active {
  transform: translateX(-100%);
  transition: 0.15s;
  -webkit-box-shadow: 9px 0 88px -15px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 9px 0 88px -15px rgba(0, 0, 0, 0.19);
  box-shadow: 9px 0 88px -15px rgba(0, 0, 0, 0.19);
  background-color: #fff;
}
.filtro-responsive {
  position: fixed;
  right: -290px;
  max-width: 290px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.98);
  -webkit-transition: 0.25s transform;
  height: 100vh;
  top: 0;
  padding: 60px 45px 25px;
  z-index: 999;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
.filtro-responsive .fechar {
  position: absolute;
  top: 15px;
  right: 20px;
  cursor: pointer;
}
.filtro-responsive .fechar svg {
  fill: #94143E;
  -webkit-transition: 0.22s;
  width: 19px;
  height: 19px;
}
